@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

.dropdown-menu{
    max-height:450px;
    overflow-y:auto;
}

body {
        font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
        line-height: 1.6;
        color: #333;
        background:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
        background-color: #131313;
        background-size: 20px 20px;
        padding-top: 56px;
}

A {
    color: #0275d8;
}

A.disabled{
    cursor: not-allowed;
    color: #868e96;
}

A.disabled:hover{
    text-decoration: none;
}


.set-box{
    transition: background-color 0.4s ease;
}

.set-box A{
    transition: color 0.7s ease;
}

.set-box:hover{
    color: white;
    background: linear-gradient(to bottom right, #333030, #403b3b);
}

.set-box:hover A{
    color: white;
}

BUTTON.btn, BUTTON.dropdown-item, A.btn, INPUT.btn{
    cursor: pointer;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

div.flash.success{
    background: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

div.settings-bar{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    padding: 8px;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

@media (min-width: 979px) {
    nav .dropdown:hover > .dropdown-menu {
        margin: 0px;
        display: block;
    }
}

.sh-box{
    border-radius: 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.card-unread{
    border: 1px solid green;
    color: green;
}

.card-unread .card-header{
    background-color: green;
}

IMG.user_pic{
    min-width: 40px;
    min-height: 50px;
}

NAV LI.nav-item SPAN.navbar-text{
    padding-right: .5rem;
    padding-left: .5rem;
}

.breadcrumb{
    background: linear-gradient(#f8f9fa , rgba(255, 255, 255, 0.6));
    padding: 0.25rem 1rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 0px;
}

body .fc { 
   font-size: 0.9em;
}

@media screen and (max-width: 544px) {
    DIV.custom-container{
        flex-direction: column;
    }
    
    .custom-btn-sm{
        width: 100% !important;
        display: block !important;
    }
    INPUT.custom-btn-sm{
        border-radius: 0.2rem !important;
        height: 36px !important;
    }
    BUTTON.custom-btn-sm{
        border-radius: 0.25rem !important;
    }
}

INPUT.form-check{
    width: 25px;
    height: 25px;
}

.btn-light-bordered{
    border: 1px solid #c5c5c5;
}

NAV.navbar .badge-new{
    position: absolute;
    right: 0px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

IMG.skin-logo{
    position: absolute;
    bottom: 0px;
    right: 0px;
    max-width: 250px;
}


/*NAVBAR = NAVBAR-LIGHT + bg-dark combined*/

.navbar {
    background-color: #f8f9fa !important;
}

.navbar .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar .navbar-nav .show > .nav-link,
.navbar .navbar-nav .active > .nav-link,
.navbar .navbar-nav .nav-link.show,
.navbar .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar .navbar-text a:hover, .navbar .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}