
/* 
    Created on : 18.8.2017, 14:36:04
    Author     : kminekmatej
*/

.table-xs{
    margin: auto;
}

.table-xs th {
    text-align: center;
}

.table-xs th, .table-xs td {
    padding: 0.1rem;
}

.table-xs .custom-control-inline{
    margin-right: auto;
}

