{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block content}

<div class="container-fluid container-md users">
    <div class="row mt-2">
        <div class="col text-right">
            <div class="settings-bar"><a href="mailto:{$allMails}" class="btn btn-outline-light" title="{_team.newMailToAll}" role="button" aria-pressed="true"><i class="fa fa-envelope" aria-hidden="true"></i></a></div>
        </div>
    </div>
    <div class="row" n:snippet="userList">
        {if $users}
            <div n:foreach="$users as $u" class="col-md-3 my-2">
                <div class="card sh-box set-box">
                    <a href="{plink :Team:Player: $u->getWebName()}">
                        <div class="card-header py-1 {$u->getGender()}">
                            <span class="name">{$u->getDisplayName()}{if $u->getJerseyNumber() != ""} (#{$u->getJerseyNumber()}){/if}</span>
                            <span n:if="$u->getIsNew()" class="badge badge-success float-right">{_common.new}</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <img class="user_pic" src="{$u->getPictureUrl()}" />
                                </div>
                                <div class="col-9">
                                    <p class="card-text"><strong n:if="$u->getFullName()">{$u->getFullName()}</strong></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="btnbox">
                        {if $userType == 'INIT'}
                            <a n:href="approve! $u->getId()" class="btn btn-sm ajax btn-outline-primary" title="{_team.approveAsPlayer}"><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a n:href="delete! $u->getId()" class="btn btn-sm btn-outline-danger" title="{_common.delete}" onclick="return confirm({_discussion.alerts.confirmDeletePost})"><i class="fa fa-times" aria-hidden="true"></i></a>
                        {else}
                            <a href="mailto:{$u->getEmail()}" n:if="$u->getEmail()" class="btn btn-sm btn-light btn-light-bordered" title="{_team.newMailTo} {$u->getEmail()}" role="button" aria-pressed="true"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                        {/if}
                    </div>
                </div>
            </div>
        {/if}
    </div>
</div>
