{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block content}

<div class="container-fluid container-md users">
    <div class="row mt-2">
        <div class="col text-right">
            <div class="settings-bar">
                <a href="mailto:{$allMails}" class="btn btn-outline-warning mail-picked d-none" title="{_team.newMailToSelected}" role="button" aria-pressed="true">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span class="badge">15</span>
                </a>
                <a n:href=":Api:Team:Export:, $userType" class="btn btn-outline-success" title="{_settings.export}" role="button" aria-pressed="true"><i class="fa fa-file-csv" aria-hidden="true"></i></a>
                <a href="mailto:{$allMails}" class="btn btn-outline-light" title="{_team.newMailToAll}" role="button" aria-pressed="true"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="row" n:snippet="userList">
        {if $users}
            <div n:foreach="$users as $u" class="col-md-3 my-2">
                <div class="card sh-box set-box">
                    <a href="{plink :Team:Player: $u->getWebName()}">
                        <div 
                            class="card-header py-1 {$u->getGender()} {if $u->getHasBirthdayToday() || $u->getHasNamedayToday()}bg-warning text-white{elseif $u->getHasBirthdayTommorow() || $u->getHasNamedayTommorow()}bg-info text-white{/if}"
                            {if $u->getHasBirthdayToday()}title="{_team.hasBirthdayToday, [name: $u->getDisplayName(), year: $u->getYearsOld()]}"
                            {elseif $u->getHasBirthdayTommorow()}title="{_team.hasBirthdayTommorow, [name: $u->getDisplayName(), year: $u->getYearsOld()]}"
                            {elseif $u->getHasNamedayToday()}title="{_team.hasNamedayToday, [name: $u->getDisplayName()]}"
                            {elseif $u->getHasNamedayTommorow()}title="{_team.hasNamedayTommorow, [name: $u->getDisplayName()]}"
                            {/if}
                        >
                            <span class="name">{$u->getDisplayName()}{if $u->getJerseyNumber() != ""} (#{$u->getJerseyNumber()}){/if}</span>
                            <span n:if="$u->getIsNew() && $userType != 'INIT'" class="badge badge-success float-right">{_common.new}</span>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <img class="avatar" src="{$u->getPictureUrl()}" />
                                </div>
                                <div class="col-9">
                                    <p class="card-text"><strong n:if="$u->getFullName()">{$u->getFullName()}</strong></p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="btnbox d-flex">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input player-check" id="check-{$u->getId()}" onclick="checkPlayer()" data-email="{$u->getEmail()}">
                            <label class="custom-control-label" for="check-{$u->getId()}"></label>
                        </div>

                        {if $userType == 'INIT'}
                            <a n:href="approve! $u->getId()" class="btn btn-xs ajax btn-outline-primary" title="{_team.approveAsPlayer}"><i class="fa fa-check" aria-hidden="true"></i></a>
                            <a n:href="delete! $u->getId()" class="btn btn-xs btn-outline-danger" title="{_common.delete}" onclick="return confirm({_discussion.alerts.confirmDeletePost})"><i class="fa fa-times" aria-hidden="true"></i></a>
                            {/if}
                        <a href="mailto:{$u->getEmail()}" n:if="$u->getEmail()" class="btn btn-xs btn-light btn-light-bordered" title="{_team.newMailTo} {$u->getEmail()}" role="button" aria-pressed="true"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        {/if}
    </div>
</div>
