<div class="card sh-box my-3">
    <div class="card-header">
        <h4>{_status.statusSettings, 2}</h4>
    </div>
    {form "statusSetForm"}
        <div class="card-body px-0 px-md-2">

            <table class="table table-xs table-hover">
                <thead>
                    <tr>
                        <th>{_settings.order}</th>
                        <th>{_common.name}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody n:foreach="$statusSets as $s">
                    {var $ssid = $s->getId()}
                    <tr data-toggle="collapse" data-target="#statusSet{$ssid}" class="accordion-toggle">
                        <td style="width: 80px" class="py-1">
                            <i class="fa fa-arrow-up" {if $iterator->isFirst()}style="display: none"{/if} onclick="moveUp(this, 'TBODY')"></i>
                            <i class="fa fa-arrow-down text-secondary" {if $iterator->isLast()}style="display: none"{/if} onclick="moveDown(this, 'TBODY')"></i>
                            {input "statusSet_{$ssid}_order"}
                        </td>
                        <td class="py-1">{input "statusSet_{$ssid}_name", class => 'form-control form-control-sm', style => 'max-width: 400px'}</td>

                        <td n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('TEAM_UPDATE'))" class="py-1 text-right">
                            <a class="btn btn-sm btn-danger" href="{plink :Setting:Team:deleteStatusSet $ssid}" onclick="return confirm({_common.confirmDelete})" title="{_common.delete}"><i class="far fa-trash-can" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr class="accordian-body collapse" id="statusSet{$ssid}">
                        <td style="width: 80px" class="py-1">
                        </td>
                        <td colspan="2" class="p-0">
                            <div>
                                <table class="table table-xs table-hover mb-0">
                                    <tbody>
                                        <tr n:foreach="$s->getStatuses() as $status">
                                            {var $statusId = $status->getId()}
                                            <td class="p-0 px-md-1" style="white-space:nowrap">
                                                <span class="sublevel mx-0 mx-md-2"></span>
                                                <i class="fa fa-arrow-up" {if $iterator->isFirst()}style="display: none"{/if} onclick="moveUp(this)"></i>
                                                <i class="fa fa-arrow-down text-secondary" {if $iterator->isLast()}style="display: none"{/if} onclick="moveDown(this)"></i>
                                                {input "status_{$statusId}_order"}
                                            </td>
                                            <td class="p-0 px-md-1">
                                                {input status_{$statusId}_code, class => 'form-control form-control-sm status-code'}
                                            </td>
                                            <td class="p-0 px-md-1">
                                                {input status_{$statusId}_caption, class => 'form-control form-control-sm status-caption'}
                                            </td>
                                            <td class="p-0 px-md-1">
                                                {input status_{$statusId}_color, class => 'form-control form-control-sm status-color px-0 px-md-1 py-0', style => 'min-width: 25px'}
                                            </td>
                                            <td class="p-0 px-md-1">
                                                {input status_{$statusId}_icon}

                                                <button type="button" class="btn btn-sm iconpicker btn-outline-light border text-dark" data-iconpicker-input="INPUT#iconpicker-{$statusId}" data-iconpicker-preview="i#iconpreview-{$statusId}">
                                                    <i id="iconpreview-{$statusId}" class="{$status->getIcon()}"></i>
                                                </button>
                                            </td>
                                            <td class="p-0 px-md-1 pr-1 text-right">
                                                <a class="btn btn-sm btn-danger" href="{plink :Setting:Team:deleteStatus $statusId}" title="{_common.delete}" n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('TEAM_UPDATE'))">
                                                    <i class="far fa-trash-can" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td class="py-1 text-center" colspan="6">
                                                <a class="btn btn-outline-success btn-new" href="{plink :Setting:Team:newStatus $ssid}" title="{_common.new}"><i class="far fa-plus" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer text-right" n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('TEAM_UPDATE'))">
            <button type="submit" n:name="save" title="{_common.save}" class="btn btn-lg btn-outline-primary"><i class="fa fa-save" aria-hidden="true"></i></button>
                {*<a class="btn btn-lg btn-success" href="{plink :Setting:Status:New}" onclick="btnRotate($(this), true)" title="{_common.new}">
                    <i class="fa fa-plus" aria-hidden="true"></i> // TODO ADD POSSIBILITY TO CREATE NEW STATUS
                </a>*}
        </div>
    {/form}

</div>