<div class="card sh-box my-3">
    <div class="card-header">
        <h4>{_status.statusSettings, 2}</h4>
    </div>
    <div class="card-body">
        <table class="table table-xs table-hover">
            <tr>
                <th>{_common.name}</th>
                <th>{_settings.order}</th>
                <th>{_status.status, 2}</th>
                <th></th>
            </tr>
            <tr n:foreach="$statusSets as $s">
                {var $ssid = $s->getId()}
                {form "statusSetForm-$ssid"}
                    <td style="width: 200px">{input name, class => 'form-control form-control-sm'}</td>
                    <td style="width: 150px">{input order, class => 'form-control form-control-sm'}</td>
                    <td>
                        <div class="row">
                            <div class="col-2">
                                <a class="btn btn-sm btn-light-bordered" data-toggle="collapse" href="#set-{$ssid}-statuses" role="button" aria-expanded="false" aria-controls="set-{$ssid}-statuses">
                                    <i class="fas fa-eye"></i>
                                </a>
                            </div>
                            <div class="col-10">
                                <div class="collapse" id="set-{$ssid}-statuses">
                                    <div class="card card-body">
                                        <div class="input-group" n:foreach="$s->getStatuses() as $status">
                                            {var $statusId = $status->getId()}
                                            {input status_{$statusId}_code, class => 'form-control form-control-sm status-code'}
                                            {input status_{$statusId}_caption, class => 'form-control form-control-sm status-caption'}
                                            {input status_{$statusId}_color, class => 'form-control form-control-sm status-color'}
                                            {input status_{$statusId}_icon}

                                            <button type="button" class="btn btn-sm iconpicker" data-iconpicker-input="INPUT#iconpicker-{$statusId}" data-iconpicker-preview="i#iconpreview-{$statusId}">
                                                <i id="iconpreview-{$statusId}" class="{$status->getIcon()}"></i>
                                            </button>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>



                    <td class="btn-group" role="group" n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('TEAM_UPDATE'))">
                        <button type="submit" n:name="save" title="{_common.save}" class="btn btn-sm btn-primary"><i class="fa fa-save" aria-hidden="true"></i></button>
                        <button class="btn btn-sm btn-danger" href="#" title="{_common.delete}"><i class="far fa-trash-can" aria-hidden="true"></i></button>
                    </td>
                {/form}
            </tr>
        </table>
    </div>
    <div class="card-footer text-right" n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('TEAM_UPDATE'))">
        {*<a class="btn btn-lg btn-success" href="{plink :Setting:Status:New}" onclick="btnRotate($(this), true)" title="{_common.new}">
            <i class="fa fa-plus" aria-hidden="true"></i> // TODO ADD POSSIBILITY TO CREATE NEW STATUS
        </a>*}
    </div>

</div>