{import $componentsDir . '/secured.latte'}

{block styles}
{include parent}
<link rel='stylesheet' href="{$publicPath}/skins/{$skin}/css/table-xs.css?ver={$appver}" />
{/block}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container-fluid settings">
    <div class="row justify-content-center">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <h4>{_event.editEvent,2}</h4>
                </div>
                <div class="card-body">
                    <table class="table table-xs table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>{_settings.type}</th>
                                <th>{_settings.title}</th>
                                <th>{_settings.description}</th>
                                <th>{_event.start}</th>
                                <th>{_event.end}</th>
                                <th>{_event.close}</th>
                                <th>{_event.place}</th>
                                <th>{_common.link}</th>
                                <th>{_event.canView-sm}</th>
                                <th>{_event.canPlan-sm}</th>
                                <th>{_event.canResult-sm}</th>
                                <th></th>
                            </tr>
                        </thead>
                        {if $events}
                            {foreach $events as $event}
                                {var $eventId = $event->getId()}
                                {form eventForm-$eventId}
                                    <tr>
                                        <td>
                                            <a href="{plink :Setting:Event: $event->getWebName()}" class="btn btn-sm btn-light btn-light-bordered"  title="{_common.edit}" style="margin-right: 2px">
                                                <i class="fa fa-external-link-alt" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            {input eventTypeId, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input caption, class=> 'form-control form-control-sm mw-100'}
                                        </td>
                                        <td>
                                            {input description, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input startTime, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input endTime, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input closeTime, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input place, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input link, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input canView, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input canPlan, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td>
                                            {input canResult, class=> 'form-control form-control-sm'}
                                        </td>
                                        <td class="btn-group" role="group">
                                            <button n:name="save" n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('EVE_UPDATE'))" class="btn btn-sm btn-primary" title="{_common.save}"><i class="fa fa-save" aria-hidden="true"></i></button>
                                            <button n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('EVE_DELETE'))" href="{link eventDelete!}" class="btn btn-sm btn-danger" title="{_common.delete}"><i class="fa fa-times" aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                {/form}
                            {/foreach}
                            </tbody>
                        {/if}
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('EVE_CREATE'))" class="btn btn-lg btn-success" href="{plink :Setting:Event:New}" onclick="btnRotate($(this), true)" title="{_common.save}" style="margin-right: 10px">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li n:class="$currentPage == 1 ? disabled, page-item"><a class="page-link" href="{plink :Setting:Event: null,$currentPage-1}">{_common.navigationBlock.previous}</a></li>
        <li n:foreach="$pagination as $page" n:class="$currentPage == $page ? active, page-item"><a class="page-link" href="{plink :Setting:Event: null,$page}">{$page}</a></li>
        <li n:class="$currentPage == $lastPage ? disabled, page-item"><a class="page-link" href="{plink :Setting:Event: null,$currentPage+1}">{_common.navigationBlock.next}</a></li>
    </ul>
</nav>

