{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script>
    $(document).ready(function () {
        stats();
    });
</script>
{/block}

{block content}

<div class="container-fluid container-md poll" n:attr="data-min-items => $poll->getMinItems() ?: 0, data-max-items=> $poll->getMaxItems() ?: 999" data-show-results="{$poll->getShowResults()}" data-radio-layout="{$radioLayout ? 'true' : 'false'}">
    <div class="row">
        <div class="col my-3">
            <div class="card sh-box">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-info-circle mx-3" aria-hidden="true"></i>
                            <span n:if="$poll->getMinItems()" class="badge badge-info"><strong>{_poll.minItems}: {$poll->getMinItems()}</strong></span>
                            <span n:if="$poll->getMaxItems()" class="badge badge-warning"><strong>{_poll.maxItems}: {$poll->getMaxItems()}</strong></span>
                            <span n:class="badge,$poll->getChangeableVotes() ? badge-success : badge-danger"><strong>{if $poll->getChangeableVotes()}{_poll.changeableVotes}{else}{_poll.unchangeableVotes}{/if}</strong></span>
                            <span n:class="badge,$poll->getAnonymousResults() ? badge-success : badge-danger"><strong>{if $poll->getAnonymousResults()}{_poll.anonymousResults}{else}{_poll.nonanonymousResults}{/if}</strong></span>
                                    {if $poll->getShowResults() == 'AFTER_VOTE'}
                                        {if $poll->getVoted()}
                                            {var $resultsClass = 'badge-success'}
                                            {var $resultsDesc = $resultsDisplayed}
                                        {else}
                                            {var $resultsClass = 'badge-info'}
                                            {var $resultsDesc = $resultsDisplayedAfterVote}
                                        {/if}
                                    {elseif $poll->getShowResults() == 'NEVER'}
                                        {if $poll->getCanSeeResults() == TRUE && $poll->getCreatedById() == $user->getId()}
                                            {var $resultsClass = 'badge-danger'}
                                            {var $resultsDesc = $resultsToYouOnly}
                                        {else}
                                            {var $resultsClass = 'badge-danger'}
                                            {var $resultsDesc = $resultsAreSecret}
                                        {/if}
                                    {elseif $poll->getShowResults() == 'ALWAYS'}
                                        {var $resultsClass = 'badge-success'}
                                        {var $resultsDesc = $resultsDisplayed}
                                    {elseif $poll->getShowResults() == 'WHEN_CLOSED'}
                                        {if $poll->getStatus() == 'CLOSED'}
                                            {var $resultsClass = 'badge-success'}
                                            {var $resultsDesc = $resultsDisplayed}
                                        {else}
                                            {var $resultsClass = 'badge-info'}
                                            {var $resultsDesc = $resultsDisplayedWhenClosed}
                                        {/if}
                                    {/if}
                            <span class="badge {$resultsClass}">{$resultsDesc}</span>
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="card-body">
                    <h4 class="card-title">{$poll->getCaption()}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{$poll->getDescription()}</h6>
                    <p n:if="!$poll->getCanVote()" class="font-italic">{_poll.cannotVoteHere}</p>
                    <div class="container" n:if="$poll->getCanVote()">
                        <div class="row">
                            <div n:foreach="$poll->getOptions() as $opt" class="col-3 py-3 option" id="option-{$opt->getId()}">
                                <h5 n:if="!$radioLayout">{$opt->getCaption()}</h5>
                                <input n:if="$opt->getType() == 'TEXT'" type="text" value="{ifset $poll->getMyVotes()[$opt->getId()]}{$poll->getMyVotes()[$opt->getId()]->getStringValue()}{/ifset}" class="form-control" />
                                <input n:if="$opt->getType() == 'NUMBER'" type="number" value="{ifset $poll->getMyVotes()[$opt->getId()]}{$poll->getMyVotes()[$opt->getId()]->getNumericValue()}{/ifset}" class="form-control" />
                                <div n:if="$opt->getType() == 'BOOLEAN'" class="btn-group">
                                    <button n:if="$radioLayout" n:class="btn,btn-outline-warning,isset($poll->getMyVotes()[$opt->getId()]) && $poll->getMyVotes()[$opt->getId()]->getBooleanValue() ? active" style="min-width:69px" data-value="1" onclick="checkBool(this)">{$opt->getCaption()}</button>
                                    <button n:if="!$radioLayout" n:class="btn,btn-outline-success,isset($poll->getMyVotes()[$opt->getId()]) && $poll->getMyVotes()[$opt->getId()]->getBooleanValue() ? active" style="width:69px" data-value="1" onclick="checkBool(this)">{_common.yes|upper}</button>
                                    <button n:if="!$radioLayout" n:class="btn,btn-outline-danger,isset($poll->getMyVotes()[$opt->getId()]) && !$poll->getMyVotes()[$opt->getId()]->getBooleanValue() ? active" style="width:69px" data-value="0" onclick="checkBool(this)">{_common.no|upper}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right" n:if="$poll->getCanVote()">
                    <button onclick="updatePoll(this, {link vote! $poll->getId()})" class="btn btn-primary">{_poll.vote}</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" n:snippet="poll-results">
        {*SHOW RESULTS ONLY UNDER SPECIFIC CONDITIONS*}
        <div n:if="$poll->getCanSeeResults()" class="col my-3">
            <div class="card sh-box text-white bg-dark">
                <div class="card-header border-bottom-0">
                    <h4 class="card-title">{_poll.results}</h4>
                </div>
                <div class="card-body p-0">
                    <table class="table table-dark table-striped table-hover mb-0">
                        <tr>
                            <th>{_common.user}</th>
                            <th n:foreach="$poll->getOptions() as $option">{$option->getCaption()}</th>
                        </tr>
                        <tr n:foreach="$poll->getOrderedVotes() as $userId => $vote" data-vote n:attr="data-gender => !$poll->getAnonymousResults() ? $users[$userId]->getGender(), data-status => !$poll->getAnonymousResults() ? $users[$userId]->getStatus()">
                            <th>
                                <a n:if="!$poll->getAnonymousResults()" href="{plink :Team:Player: $users[$userId]->getWebName()}">{$users[$userId]->getDisplayName()}</a>
                                <a n:if="$poll->getAnonymousResults()">Anonym</a>
                            </th>
                            {foreach $poll->getOptions() as $option}
                                {ifset $vote[$option->getId()]}
                                    <td n:if="$vote[$option->getId()]->getNumericValue()" data-option-type="{$option->getType()}" data-option-id="{$option->getId()}" data-option-value="{$vote[$option->getId()]->getNumericValue()}">{$vote[$option->getId()]->getNumericValue()}</td>
                                    <td n:if="$vote[$option->getId()]->getStringValue()" data-option-type="{$option->getType()}" data-option-id="{$option->getId()}" data-option-value="{$vote[$option->getId()]->getStringValue()}">{$vote[$option->getId()]->getStringValue()}</td>
                                    <td n:if="is_bool($vote[$option->getId()]->getBooleanValue()) && $radioLayout" data-option-type="{$option->getType()}" data-option-id="{$option->getId()}" data-option-value="true"><span n:class="badge, badge-warning">{$option->getCaption()}</span></td>
                                    <td n:if="is_bool($vote[$option->getId()]->getBooleanValue()) && !$radioLayout" data-option-type="{$option->getType()}" data-option-id="{$option->getId()}" data-option-value="{$vote[$option->getId()]->getBooleanValue()}"><span n:class="badge, $vote[$option->getId()]->getBooleanValue() ? 'badge-success' : 'badge-danger' ">{if $vote[$option->getId()]->getBooleanValue()}{_common.yes|upper}{else}{_common.no|upper}{/if}</span></td>
                                    {else}
                                    <td data-option-type="{$option->getType()}" data-option-id="{$option->getId()}" data-option-value></td>
                                {/ifset}
                            {/foreach}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>