{block scripts}
{include parent}
<script src="{$basePath}/js/main.js"></script>
<script src="{$basePath}/js/timer.js"></script>
{var $presenterName = $presenter->request->getPresenterName()}
{var $presenterScript = "{$basePath}/js/{$presenterName}/{$presenterName}.js"}
{var $presenterScriptPath = "./{$presenterScript}"}

<script src="{$presenterScript}" n:if="file_exists($presenterScriptPath)"></script>
{/block}