{block navbar}
{control navbar}
{/block}

{block styles}
<link rel='stylesheet' href="{$basePath}/resources/fullcalendar/fullcalendar.css" />
{include parent}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/event.js"></script>
<script src="{$basePath}/resources/fullcalendar/fullcalendar.{$js}"></script>
<script src="{$basePath}/resources/fullcalendar/locale/cs.js"></script>
<script src="{$basePath}/js/timer.js"></script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: 'cs',
            contentHeight: 350,
            fixedWeekCount: false,
            displayEventTime: false,
            events: function(start, end, timezone, callback) {
                var events = [];
                {foreach $events as $evnt}
                    events.push({l}id: {$evnt->id}, title: {$evnt->caption},start: {$evnt->startTime},end: {$evnt->endTime},url: {$presenter->link('Event:event', $evnt->id . '-' . $evnt->caption|webalize)},description:{date('H:i',strtotime($evnt->startTime))} + ' ' + {$evnt->caption}{r});
                {/foreach}
                callback(events);
            },
            eventRender: function(event, element) { 
                element.find('.fc-title').attr("title",event.description);
            },
            header: {
                left: 'title',
                center: '',
                right: 'today prev,next'
            },
            loading: function (isLoading, view) {
                if (isLoading) {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', true);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', true);
                } else {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', false);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', false);
                }
            }
        });
        $('#calendar DIV.fc-header-toolbar').addClass("card-header");
        $('#calendar DIV.fc-button-group').addClass("btn-group");
        $('#calendar DIV.fc-header-toolbar BUTTON').each(function () {
            $(this).addClass("btn btn-secondary");
        });
    });
</script>
{/block}


{block content}

<div class="container homepage">
    <div class="row">
        <div class="col-md-5 my-3">
            <div class="card sh-box" id='calendar'></div>
            <a class="btn btn-sm btn-secondary my-1 d-block" href="{plink Event:}">Přejít na události...</a>
        </div>
        <div class="col-md-7 my-3">
            <div class="card sh-box">
                <div class="card-header"><h4 class="card-title">Diskuze</h4></div>
                <div class="card-block">
                    {foreach $discussions as $item}
                        <div class="row my-2">
                            <div class="col-sm-4 name">
                                {if $item->newPosts}<span class="badge badge-pill badge-danger">{$item->newPosts}</span>{/if}
                                <a href="{plink Discussion:discussion $item->webName}">{$item->caption}</a>
                            </div>
                            <div class="col-sm-8 dis-description">{$item->description}</div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col my-3">
            <div class="card sh-box">
                <div class="card-block">
                    TODO bottom - probably users logged in, or sth
                </div>
            </div>
        </div>
    </div>
</div>