{import '../components/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block styles}
<link rel='stylesheet' href="{$basePath}/resources/fullcalendar/fullcalendar.{$css}" />
<link rel='stylesheet' href="{$basePath}/skins/{$skin}/css/fullcalendar.css" />
{include parent}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/Event/Event.js"></script>
<script src="{$basePath}/resources/fullcalendar/fullcalendar.{$js}"></script>
<script src="{$basePath}/resources/fullcalendar/locale/{$locale}.js"></script>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: 'cs',
            contentHeight: 350,
            fixedWeekCount: false,
            displayEventTime: false,
            events: function (start, end, timezone, callback) {
                var events = [];
    {foreach $events as $evnt}
                events.push({l}id: {$evnt->id}, title: {$evnt->title}, start: {$evnt->start}, end: {$evnt->end}, backgroundColor: {$evnt->backgroundColor}, borderColor: {$evnt->borderColor}, textColor: {$evnt->textColor}, url: {plink 'Event:event', $evnt->webName}{r});
    {/foreach}
                                callback(events);
                            },
                            eventRender: function (event, element) {
                                element.find('.fc-title').attr("title", event.description);
                                if (event.end < Date.now())
                                    element.addClass("past");
                            },
                            header: {
                                left: 'title',
                                center: '',
                                right: 'today prev,next'
                            },
                            loading: function (isLoading, view) {
                                if (isLoading) {
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', true);
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', true);
                                } else {
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', false);
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', false);
                                }
                            }
                        });
                        $('#calendar DIV.fc-header-toolbar').addClass("card-header");
                        $('#calendar DIV.fc-button-group').addClass("btn-group");
                        $('#calendar DIV.fc-header-toolbar BUTTON').each(function () {
                            $(this).addClass("btn btn-light btn-light-bordered");
                        });
                    });
</script>
{/block}


{block content}

<div class="container homepage">
    <div class="row">
        <div class="col-md-5 my-3">
            <div class="card sh-box" id='calendar'></div>
            <a class="btn btn-sm btn-light btn-light-bordered my-1 d-block" href="{plink Event:}">{_event.goToEvents} ...</a>
        </div>
        <div class="col-md-7 my-3">
            <div class="card sh-box discussion-box">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><h4 class="card-title">{_discussion.discussion, 2}</h4></div>
                        <div class="col col-md-auto">
                            <button class="btn btn-sm btn-light btn-light-bordered refresh" title="{_common.refresh}" onclick="refresh()" data-href="{link navbar:refresh!}"><i class="fa fa-sync" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {foreach $discussions as $item}
                        <div class="row my-2">
                            <div class="col-sm-4 name" id="discussion-pane-{$item->id}">
                                <span n:class="badge,badge-pill,badge-danger,$item->newPosts == 0 ? d-none">{$item->newPosts}</span>
                                <a href="{plink Discussion:discussion $item->webName}">{$item->caption}</a>
                            </div>
                            <div class="col-sm-8 dis-description">{$item->description}</div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" n:inner-foreach="$users as $usr">
            {var $nameDay = date('m-d', strtotime(date('Y').'-'.$usr->nameDayMonth.'-'.$usr->nameDayDay))}
            {var $bDay = property_exists($usr, 'birthDate') ? date('m-d', strtotime($usr->birthDate)) : '0-0'}
            {var $years = property_exists($usr, 'birthDate') ? date('Y') - date('Y', strtotime($usr->birthDate)) : '0'}
            <div n:if="$usr->nameDayMonth > 0 && $usr->nameDayDay > 0 && $today==$nameDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->displayName,$usr->webName|namedayToday|noescape}</div>
            <div n:if="property_exists($usr, 'birthDate') && $today==$bDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->displayName,$usr->webName,$years|birthdayToday|noescape}</div>
            <div n:if="$usr->nameDayMonth > 0 && $usr->nameDayDay > 0 && $tommorow==$nameDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->displayName,$usr->webName|namedayTommorow|noescape}</div>
            <div n:if="property_exists($usr, 'birthDate') && $tommorow==$bDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->displayName,$usr->webName,$years|birthdayTommorow|noescape}</div>
        </div>
    </div>

    <div class="row">
        <div class="col my-1">
            <div class="card sh-box">
                <div class="card-header">
                    <ul class="nav nav-tabs flex-column flex-sm-row card-header-tabs">
                        <li class="nav-item">
                            <a class="flex-sm-fill text-sm-center nav-link active" href="#live" data-toggle="tab" role="tab">{_team.currentlyOnline}</a>
                        </li>
                        <li class="nav-item">
                            <a class="flex-sm-fill text-sm-center nav-link" href="#lastLogin" data-toggle="tab" role="tab">{_team.lastLogin}</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="live" role="tabpanel">
                            <figure class="figure text-center" style="width: 100px" n:foreach="$liveUsers as $live">
                                <a href="{plink Team:player $live->webName}" title="{$live->callName}">
                                    <img src="{$tymyRoot}/{$live->pictureUrl}" class="figure-img img-fluid rounded user_pic" alt="{$live->callName}" />
                                    <figcaption class="figure-caption">{$live->callName}</figcaption>
                                </a>
                            </figure>
                            <h6 class="card-subtitle mb-2 text-muted" n:if="count($liveUsers) == 0">{_team.nobodyIsOnline}</h6>
                        </div>
                        <div class="tab-pane fade" id="lastLogin" role="tabpanel">
                            <figure class="figure text-center" style="width: 100px" n:foreach="$users as $usr">
                                {var $lastLogin = property_exists($usr, 'lastLogin') ? ($usr->lastLogin|date:'j.n.Y H:i:s') : $neverLogin}
                                {var $caption = property_exists($usr, 'lastLogin') ? ($usr->lastLogin|lastLogin) : $neverLogin}
                                <a href="{plink Team:player $usr->webName}" title="{$lastLogin}">
                                    <img src="{$tymyRoot}/{$usr->pictureUrl}" class="figure-img img-fluid rounded user_pic" n:attr="alt => property_exists($usr, 'fullName' ? $usr->fullName : '')"/>
                                    <figcaption class="figure-caption">{$usr->displayName}</figcaption>
                                    <figcaption class="figure-caption" style="font-size: 70%; display: inline-block">{$caption}</figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
