/nbproject/
/log/*
!/log/.gitkeep 
/temp/*
!/temp/.gitkeep 
/tests/setup_DEV.php
/tests/setup_MONKEYS.php
/tests/test.json
/tests/setup_DEV_LOCAL.php
/release.bat
/tests/SETUP_XDEV.php
/tests/test_XDEV_TAPI.sh
/tests/test_XDEV.sh
/tests/test_XDEV_COMPONENTS.sh
/tests/test_XDEV_PRESENTERS.sh
/vendor/
/local/*.neon
/config/debug.neon
