/nbproject/
/log/*
/log_autotest/*
!/log/.gitkeep 
/temp/*
/temp_autotest/*
!/temp/.gitkeep 
/tests/setup_DEV.php
/tests/setup_MONKEYS.php
/tests/test.json
/tests/setup_DEV_LOCAL.php
/release.bat
/tests/SETUP_XDEV.php
/tests/test_XDEV_TAPI.sh
/tests/test_XDEV.sh
/tests/test_XDEV_COMPONENTS.sh
/tests/test_XDEV_PRESENTERS.sh
/vendor/
user_pics
attend_pics
download
www/user_pics
/local/config.neon
/local/debug.neon
