parameters:
    level: 2
    paths:
        - app
        - bin
        - tests
    tmpDir: temp/phpstan
    ignoreErrors:
            - '/Used constant (.*?) not found\./'
            - '/Constant ROOT_DIR not found/'
            - '/Constant TEAM_DIR not found/'
            - '/Access to an undefined property Nette\\Database\\Table\\ActiveRow::.*/'
