parameters:
    level: 2
    paths:
        - app
    excludePaths:
        - app/components/phpqrcode.php
    tmpDir: temp/phpstan
    ignoreErrors:
            - '/Used constant (.*?) not found\./'
            - '/Constant ROOT_DIR not found/'
            - '/Constant TEAM_DIR not found/'
            - '/Constant TEST_DIR not found/'
includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon