/* 
    Created on : 14.12.2017, 13:12:06
    Author     : kminekmatej
*/


.addPost{
    background-color: white; 
    padding: 2px; 
    text-align: right;
    border: 1px solid #d1d1d1; 
    border-top-width: 0px;
}

.addPost[data-postId=''] BUTTON#editPost{
    display: none;
}

DIV.container.discussion{
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Discussion post area styling */

DIV.post{
    margin-bottom: 5px;
}

DIV.post .avatar{
    padding-top: 10px;
}

DIV.post .avatar IMG{
    border-radius: 2px;
}

DIV.post .header{
    margin: 5px 0px;
}

DIV.post .header .created{
    font-size: 12px;
}

DIV.post .content{
    position: relative;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
}

DIV.post-mine .content{
    background-color: #dcfffa;
}

DIV.post-other .content{
    background-color: white;
}

DIV.post .arrow-left {
    position: absolute;
    left: -8px;
    top: 20px;
    border-top: 8px solid transparent;
    border-right: 8px solid white;
    border-bottom: 8px solid transparent;
}

DIV.post .arrow-right {
    position: absolute;
    right: -8px;
    top: 20px;
    border-top: 8px solid transparent;
    border-left: 8px solid #cfedff;
    border-bottom: 8px solid transparent;
}

/* New post styling */

DIV.post.post-new .content{
    border: 2px solid #007bff;
}

/* Sticky post styling */

DIV.post.post-sticky .content{
    border: 2px solid #ffee91;
}

/* Discussion post settings toolbar styling */

DIV.post .content:hover > DIV.edit-bar {
    display: block;
}

DIV.post .content DIV.edit-bar {
    display: none;
    position: absolute;
    margin: 1px;
    bottom: 3px;
    right: 3px;
    z-index: 10;
}

DIV.post .content DIV.edit-bar BUTTON.btn.delete:hover, A.btn.delete:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

/* Discussion post text content styling */

DIV.post .content .text{
    margin-bottom: 15px;
}

DIV.post .content .text OL{
    display: inline-block;
}

DIV.post .content .text blockquote{
    margin: 10px;
    border-left: solid 5px #dedede;
    padding: 10px;
    font-style: italic;
}

DIV.post .content .text blockquote P{
    margin: 0px;
}