{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block content}


<div class="container-fluid container-md debts">
    <div class="row">
        Dlužníček cxx
    </div>

</div>

