{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block content}

<div class="container settings">
    <h4>{_settings.}Nastavení:REPORTS - TODO</h4>
</div>
