copyToClipboard: Copy to clipboard
edit: Edit
copy: Copy
delete: Delete
duplicate: Duplicate
save: Save
saveAll: Save all
cancel: Cancel
edited: Edited by
everyone: Everyone
noone: No-one
adminOnly: Administrator only
allOfThem: All of them
refresh: Refresh
insert: Insert
mainPage: Main page
search: Search
toogleNavigation: Toggle navigation menu
menu: Menu
new: New
link: Link
never: Never
chooseFile: Choose file
chooseSex: Choose sex
chooseType: Choose type
chooseState: Choose state
choose: Choose
ok: Ok
yes: Yes
no: No
user: User
error: Error
or: or
day: Day
week: Week
month: Month
name: Name
created: Created
navigationBlock:
    first: First
    previous: Previous
    next: Next
    last: Last
lastLogin:
    secondAgo: second ago
    secondsAgo: %n% seconds ago
    minuteAgo: minute ago
    minutesAgo: %n% minutes ago
    halfHourAgo: half an hour ago
    hourAgo: an hour ago
    hoursAgo: %n% hours ago
    dayAgo: 1 day ago
    daysAgo: %n% days ago
alerts:
    nobodyFound: No-one found
    userSuccesfullyDeleted: User has been succesfully deleted
    loginNotApproved: This user is not allowed to login
    loginNotSuccesfull: Login failure
    logoutSuccesfull: Succesfully logged out
    registrationSuccesfull: Registration succesfull. Kindly wait for administration approval now.
    userNotFound: "User not found, is blocked or other error happened. Please try again, or contact your team administrator."
    resetCodeSent: Reset code has been sent to your e-mail address
    invalidResetCode: Invalid reset code
    pwdResetFailed: Resetting password failed
    pwdResetSuccesfull: Your password has been reset succesfully
    tooManyTries: Too many reset attempts reached - resetting blocked
    inactivityLogout: You have been logged off due to your inactivity. Please sign in again.
    exceptionOccured: Unexpected error happened.
    confirmDelete: Are you sure you want to delete this?
    notPermitted: Insufficient permissions
    configSaved: Settings saved
    avatarSaved: Avatar saved
    created: Created
    updated: Updated
    deleted: Deleted
    newsOnTymy: News on Tymy.CZ
    newsOnTymyDescription: Portal has been upgraded since your last visit. What are the latest news?
    newsOnTymyFooter: You can checkout news also on
    multiaccountAdded: Team %team% succesfully added
    multiaccountRemoved: Team %team% succesfully removed
    userAdded: User %fullname% succesfully added
    debtAdded: Debt created
    automail: "Don't respond at this message, since its been generated automatically."
months:
    january: January
    february: February
    march: March
    april: April
    may: May
    june: June
    july: July
    august: August
    september: September
    october: October
    november: November
    december: December
errors:
    valueInvalid: Invalid value entered
    teamValueRequired: Your team requires this field
    savingNotAllowedErrors: Cannot save - form contains errors