discussion: Discussion|Discussions
noDiscussion: No discussion
editDiscussion: Edit discussion
unpin: Unpin
pin: Pin
new: New
copyToClipboard: Copy to clipboard
edit: Edit
copy: Copy
jump2date: Jump on date
go: Hop
postBlock:
    enterSearchTerms: Type searched text ...
errors:
    noDiscussionExists: This discussion does not exist
    discussionNotExists: Discussion %id% does not exist
alerts:
    confirmDeletePost: Delete? Like really?
newDiscussion: New discussion
newDiscussionTitle: Create new discussion
discussionSettings: Discussions settings
public: Public
publicTitle: Visible on main page without login
edits: Edits
editablePosts: Allow edits
