event: Event|Events
attendance: Event|Events
newEvents: New events
editEvent: Edit event|Edit events
settingsEvents: Events settings
noEvent: No event
showHidePastEvents: Show/hide past events
agenda: Agenda
new: New
openMap: Open map ....
start: Start
close: Deadline
end: End
place: Place
attendanceNotFilled: No attendance filled
notDecidedYet: Not-decided
arrived: Arrived|Arrived
notArrived: Not-arrived|Not-arrived
attendanceView: Attendance view
attendanceResult: Attendance result
setAttendanceResult: Enter attendance result
saveAttendanceResult: Save attendance result
goToEvents: Go to events
openInNewWindow: Open in new window
duplicateEventDay: Duplicate last event and shif times by one day
duplicateEventWeek: Duplicate last event and shif times by one week
duplicateEventMonth: Duplicate last event and shif times by one month
canView: Can view
canPlan: Can plan
canResult: Can enter results
canView-sm: View
canPlan-sm: Plan
canResult-sm: Results
plan: Plan
result: Result
displayHistory: Display history
eventType: Event type|Event types
errors:
    eventNotExists: Event %id% does not exist