note: Note|Notes
settingsNotes: Notes settings
noNote: No note
newNote: New note
createNote: Create new note
editNote: Edit notes
private: Private
users: Users only
public: Public
systemPage: System page
content: Content
accessTitle: "Pick who has access to this note: Private (only you), Users only, Public (can be shown without login)"
mainMenuTitle: Display in main menu
specialPageTitle: Pick special page code for note (more in notes desciption)
orderTitle: Menu order
system: System
new: New
errors:
    noteNotExists: Note %id% does not exist