poll: Poll|Polls
newPoll: New poll
editPoll: Edit poll
configPolls: Poll settings
noPoll: No poll
createPoll: Create new poll
createItem: Create new item
minItems: Items minimum
maxItems: Items maximum
min: Min
max: Max
setChangeableVotes: Allow change of vote
changeOfVotes: Vote change
changeableVotes: Votes can be changed
unchangeableVotes: Votes cannot be changed
anonymousVotes: Anonymous votes
anonym: Anonymous
anonymousResults: Poll is anonymous
nonanonymousResults: "Poll isn't anonymous"
displayResults: Display results
resultsDisplayed: Results are displayed
resultsDisplayedAfterVote: Results will be displayed after vote
resultsToYouOnly: Results displayed only to you
resultsAreSecret: Results are secret
resultsDisplayedWhenClosed: Results will be displayed after poll is closed
cannotVoteHere: You cannot vote in this poll
vote: Vote
voted: Voted
results: Results
votesCount: Votes count
maxItemsOverflow: Maximum items overflow
notEnoughItems: Minimal items not reached
design: Design
opened: Active
closed: Closed
displayInMainMenu: Display in main menu
never: Never
always: Always
afterVote: After vote
whenClosed: When closed
canVote: Can vote
canDisplayResults: Can dispaly results
canAlienVote: Can disguise vote
canVoteRight: Right for voting
canDisplayResultsRight: Right for displaying results
canAlienVoteRight: Right for voting in disguise as another user
pollItems: Poll items
itemCaption: Caption
text: Text
number: Number
bool: Yes / No
new: New
alerts:
    succesfullyCreated: Poll has been created succesfully
errors:
    pollNotExists: Poll %id% does not exist