application: Application
setting: Setting|Settings
cacheDrop: Clear cache
cacheDropped: Cache cleared
appSettings: Application settings
teamSettings: Team settings
appVersion: Application version
roadmap: Upcoming changes
released: Released
changeList: Change list
authors: Authors
reportBug: Report an issue
fromPreviousVersion: from previous version
fromVersion: from version
title: Title
description: Description
canRead: Can read
canWrite: Can write
canDelete: Can delete
canTop: Can pin
order: Order
access: Access
status: State
type: Type
here: here
eventColors: Event colors
statusColors: Attendance colors
multiaccount: Multiaccount|Multiaccount
addAccount: Add multiaccount