team: Team|Teams
PLAYER: 'Player|Players'
MEMBER: 'Member|Members'
SICK: 'Sick|Sicks'
INIT: 'Registered|Registered'
DELETED: 'Deleted|Deleted'
jersey: Jersey|Jerseys
jerseyList: Jersey list
newMailToAll: New e-mail to all
newMailTo: New mail to
freeNumber: Free
inActive: Inactive
personalData: Personal data
loginData: Login data
appearance: Appearance
teamData: Team info
address: Address
roles: Role|Roles
profile: Profile
profilePhoto: Avatar
male: Man|Men
female: Woman|Women
unknownSex: Unknown
gender: Sex
chooseSex: Choose sex
firstName: Name
lastName: Surname
phone: Phone
email: E-mail
birthDate: Date of birth
nameDayMonth: Month of nameday
chooseMonth: Pick month
nameDayDay: Day of nameday
language: Language
dateOfRegistration: Registered
callName: Displayed name
canEditCallName: User editable
login: Username
password: New password
newPasswordAgain: New password again
canLogin: Login approved
status: Team state
jerseyNumber: Jersey number
street: Street
city: City
zipCode: Postal
hasNamedayToday: %name% celebrates his nameday today
hasBirthdayToday: %name% celebrates his %year% birthday today
hasNamedayTommorow: %name% celebrates his nameday tommorow
hasBirthdayTommorow: %name% celebrates his %year% birthday tommorow
currentlyOnline: Online
lastLogin: Last login
nobodyIsOnline: Nobody online
administrator: Administrator
userAdmin: User manager
attendanceAdmin: Event manager
requiredFields: Required user fields
defaultSkin: Default skin
name: Name
sport: Sport
defaultLanguage: Default language
hideDiscDesc: Hide discussion description
approveAsPlayer: Approve as player
errors:
    imgFileCorrupted: "File is not a pictute, or is corrupted"
alerts:
    signOffNeeded: Language changed - please logout & login for language to change
    registrationApprovedSubject: Registration to %s approved
    registrationDeniedSubject: Registration to %s denied
    registrationApproved: Your registration to %s has been approved. You can login now
    registrationDenied: Your registration to %s has been denied
    loginNotApproved: User not allowed to sign in
    authenticationFailed: Login or password mismatch