team: Team|Teams
PLAYER: 'Player|Players'
MEMBER: 'Member|Members'
SICK: 'Sick|Sicks'
INIT: 'Registered|Registered'
DELETED: 'Deleted|Deleted'
jersey: Jersey|Jerseys
jerseyList: Jersey list
newMailToAll: New e-mail to all
newMailTo: New mail to
freeNumber: Free
inActive: Inactive
personalData: Personal data
loginData: Login data
appearance: Appearance
teamData: Team info
address: Address
roles: Role|Roles
profile: Profile
profilePhoto: Avatar
male: Man|Men
female: Woman|Women
unknownSex: Unknown
gender: Sex
chooseSex: Choose sex
firstName: Name
lastName: Surname
phone: Phone
email: E-mail
birthDate: Date of birth
nameDayMonth: Month of nameday
chooseMonth: Pick month
nameDayDay: Day of nameday
language: Language
dateOfRegistration: Registered
callName: Displayed name
canEditCallName: User editable
login: Username
password: New password
newPasswordAgain: New password again
canLogin: Login approved
status: Team state
jerseyNumber: Jersey number
street: Street
city: City
zipCode: Postal
hasNamedayToday: %name% celebrates nameday today
hasBirthdayToday: %name% celebrates %year% birthday today
hasNamedayTommorow: %name% celebrates nameday tommorow  
hasBirthdayTommorow: %name% celebrates %year% birthday tommorow
currentlyOnline: Online
lastLogin: Last login
nobodyIsOnline: Nobody online
administrator: Administrator
userAdmin: User manager
attendanceAdmin: Event manager
requiredFields: Required user fields
defaultSkin: Default skin
name: Name
sport: Sport
defaultLanguage: Default language
hideDiscDesc: Hide discussion description
approveAsPlayer: Approve as player
invitation: Invitation|Invitations
createInvitation: Invite new player
invitation-sent: Sent
invitation-accepted: Accepted
invitation-expired: Expired
errors:
    imgFileCorrupted: "File is not a pictute, or is corrupted"
    passwordMismatch: Passwords mismatch
alerts:
    signOffNeeded: Language changed - please logout & login for language to change
    registrationApprovedSubject: Registration to %s approved
    registrationDeniedSubject: Registration to %s denied
    registrationApproved: Your registration to %s has been approved. You can login now
    registrationDenied: Your registration to %s has been denied
    loginForbidden: "User isn't allowed to sign in"
    loginNotApproved: User has not yet been approved by administrators
    authenticationFailed: Login or password mismatch
    loginExists: This login already exists
    changingRolesForbidden: Changing roles is forbidden
    changingCanEditCallnameForbidden: Changing canEditCallName is forbidden
    changingStatusForbidden: Changing status is forbidden
    changingLoginForbidden: Changing login is forbidden
    editingCallNameForbidden: Editing call name forbidden
    emailExists: This e-mail already exists
    userQuotaReached: User quota limit reached
    registrationsLimitReached: Too many pending registrations
    passwordTooShort: Password is too short
    emailFailure: Invalid e-mail format
    usernameFailure: Username must be at least 3 and at most 20 characters long
    targetTeamExists: This team was already added into multiaccount
    invitationCreated: Invitation created
    invitationSent: Invitation sent