#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
application:
        errorPresenter: Error
        mapping:
            *: App\*Module\Presenters\*Presenter


session:
        expiration: 14 days


services:
        - App\Model\TapiAuthenticator
        - App\Model\Supplier(%tapi%)
        - App\Forms\FormFactory
        - App\Forms\SignInFormFactory
        - App\Forms\SignUpFormFactory
        router: App\RouterFactory::createRouter
        authorizator:
            class: App\Model\TapiAuthorizator
        cacheStorage:
            class: Nette\Caching\Storages\DevNullStorage
        - Tymy\Attendance
        - Tymy\Discussion
        - Tymy\Discussions
        - Tymy\Event
        - Tymy\EventTypes
        - Tymy\Events
        - Tymy\Logout
        - Tymy\Poll
        - Tymy\Polls
        - Tymy\User
        - Tymy\Users

tracy:
    email: matej.kminek@attendees.eu