parameters:
    tapi:
        tym: dev # needs to be changed for each different team
        protocol: HTTP
        root: tymy.cz
        tapi_api_root: api
        tapi_sysapi_root: sysapi
        roles_classes:
            SUPER: btn-outline-success
            USR: btn-outline-info
            ATT: btn-outline-warning
        status_classes:
            LAT: warning
            NO: danger
            YES: success
            DKY: warning
