application:
        mapping:
            *: Tymy\Module\*\Presenter\Front\*Presenter
            Api: Tymy\Module\*\Presenter\Api\*Presenter

http:
    csp:
        default-src: "'self' https://tymy.cz"
        script-src: "'self' 'unsafe-inline'"
        font-src: "'self' https://tymy.cz https://fonts.gstatic.com/"
        style-src: "'self' https://tymy.cz https://fonts.googleapis.com/ 'unsafe-inline'"
        img-src: "'self' data:"

session:
        expiration: 14 days


services:
        FormFactory: Tymy\App\Forms\FormFactory
        SignInFormFactory: Tymy\App\Forms\SignInFormFactory
        SignUpFormFactory: Tymy\App\Forms\SignUpFormFactory
        PwdLostFormFactory: Tymy\App\Forms\PwdLostFormFactory
        PwdResetFormFactory: Tymy\App\Forms\PwdResetFormFactory
        routerFactory: Tymy\RouterFactory
        router: @routerFactory::createRouter
        cacheStorage:
            factory: Nette\Caching\Storages\NewMemcachedStorage()

tracy:
    email: matej.kminek@attendees.eu
extensions:
    translation: Kdyby\Translation\DI\TranslationExtension
    fileUpload: Zet\FileUpload\FileUploadExtension
fileUpload:
    maxFiles: 10
    maxFileSize: 2M
    fileFilter: Tymy\Module\File\Filter\UploadFilter
    uploadModel: Tymy\Module\File\Handler\FileUploadHandler
translation:
    default: cs
parameters:
    appConfig:
        allSkins:
            hell-boy: 'Hellboy'
            silver-surfer: 'Silver surfer'
            black-panther: 'Black panther'