parameters:
    tapi:
        tym: _autodetect                                                        # Can be set to _autodetect to automatically be detected from url
        protocol: https                                                         # Used to compose address of api
        root: tymy.cz                                                           # Used to compose address of api
        tapi_api_root: api                                                      # Used to compose address of api
        multiple_team: false                                                    # if changed to true, user can pick which team he wants to login to. If selected, picked value overwrites the tym property
        src_dir: '%s/../../../../subdomains/%s.tymy.cz/config'
