#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
application:
        errorPresenter: Error
        mapping:
            *: Tymy\Module\*\Presenter\Front\*Presenter
            Api: Tymy\Module\*\Presenter\Api\*Presenter

http:
    csp:
        default-src: "'self' https://tymy.cz"
        script-src: "'self' 'unsafe-inline'"
        font-src: "'self' https://tymy.cz https://fonts.gstatic.com/"
        style-src: "'self' https://tymy.cz https://fonts.googleapis.com/ 'unsafe-inline'"
        img-src: "'self' data:"

session:
        expiration: 14 days


services:
        ManagerFactory: Tymy\Module\Core\Factory\ManagerFactory(@database.main.context, @database.team.context, %team%)
        Responder: Tymy\Module\Core\Manager\Responder
        MailService: Tymy\Module\Core\Service\MailService
        TranslationManager: Tymy\Module\Core\Manager\TranslationManager(@database.main.context)
        Supplier: Tymy\App\Model\Supplier(%tapi%, %wwwDir%, %appDir%, %appConfig%)
        FormFactory: Tymy\App\Forms\FormFactory
        SignInFormFactory: Tymy\App\Forms\SignInFormFactory
        SignUpFormFactory: Tymy\App\Forms\SignUpFormFactory
        PwdLostFormFactory: Tymy\App\Forms\PwdLostFormFactory
        PwdResetFormFactory: Tymy\App\Forms\PwdResetFormFactory
        WebPush: Minishlink\WebPush\WebPush(%vapid%)
        routerFactory: Tymy\RouterFactory
        router: @routerFactory::createRouter
        authorizator:
            factory: Tymy\App\Model\TapiAuthorizator
        cacheStorage:
            factory: Nette\Caching\Storages\NewMemcachedStorage()

tracy:
    email: matej.kminek@attendees.eu
extensions:
    translation: Kdyby\Translation\DI\TranslationExtension
translation:
    default: cs
parameters:
    vapid:
        vapid_subject: 'tymy.cz'
        vapid_public_key: 'BNFwVh2n9jBpGDMx3Kiz47ldm8GrSP74Ff4VL54v6AoPg01BnT2TtqdEXBm6M7C8Nx3PoqqPie7kESKgm8jkAog'
        vapid_private_key: 'aRLI8MMO0vayahiTYcUxpzN__nfAOvCMAXPem5SXjAY'
    appConfig:
        allSkins:
            hell-boy: 'Hellboy'
            silver-surfer: 'Silver surfer'
            black-panther: 'Black panther'