# debug.local.neon can contain either true/false or list of IP addresses on which to enable tracy debugger

#example 1 - allow debugger for everyone
true

#example 2 - allow debugger for list of IP addresses
- 78.45.216.186
- 212.20.192.54
- 96.122.57.79

