<li class="nav-item dropdown" name="discussions">
    {if $discussionWarnings > 0}<span class="badge badge-pill badge-danger badge-new">{$discussionWarnings}</span>{/if}
    <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-comments" aria-hidden="true"></i> {_discussion.discussion, 2}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <button n:if="empty($discussions)" class="dropdown-item disabled" type="button"> - {_discussion.noDiscussion} - </button>
        {ifset $discussions}
            <a n:foreach="$discussions as $d" class="dropdown-item" href="{plink :Discussion:Discussion: $d->getWebname()}" id="discussion-{$d->getId()}">
                {if $discussionWarnings > 0}<span class="badge badge-primary" {if $d->getNewPosts() == 0}style="visibility: hidden"{/if}>{$d->getNewPosts()}</span>{/if}
                {$d->getCaption()}
            </a>
        {/ifset}
    </div>
</li>