<li class="nav-item dropdown" name="events">
    {if $eventWarnings > 0}<span class="badge badge-pill badge-danger badge-new">{$eventWarnings}</span>{/if}
    <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar" aria-hidden="true"></i> {_event.attendance,2}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{plink :Event:Default:}">{_common.allOfThem}</a>
        <a class="dropdown-item" href="{plink :Event:Report:}">{_event.attendanceView}</a>
        {if !empty($events)}
            <div class="dropdown-divider"></div>
            <a n:foreach="$events as $ev" class="dropdown-item" href="{plink :Event:Detail: $ev->getWebName()}">
                {if $ev->getAttendancePending()}<span class="badge badge-danger"><i class="fa fa-info" aria-hidden="true"></i></span>{/if}
                <span style="color: #{$eventTypes[$ev->getType()]->getColor()}" n:if="array_key_exists($ev->getType(), $eventTypes)">{$ev->getStartTime()|date:'j.n.'} - {$ev->getCaption()}</span>
                <span n:if="!array_key_exists($ev->getType(), $eventTypes)">{$ev->getStartTime()|date:'j.n.'} - {$ev->getCaption()}</span>
            </a>
        {/if}
    </div>
</li>