<li class="nav-item dropdown" name="files">
    {*{if $fileWarnings > 0}<span class="badge badge-pill badge-danger badge-new">{$fileWarnings}</span>{/if}*}
    <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-folder-open" aria-hidden="true"></i> {_file.file,2}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <button n:if="empty($files)" class="dropdown-item disabled" type="button"> - {_file.noFile} - </button>
        {foreach $files as $fileEnc => $file}
            <a class="dropdown-item" href="{plink :File:Download: filename: $fileEnc}" target="_blank">
                <span>{ltrim($file, '/')}</span>
            </a>
            {breakIf $iterator->counter == 15}
        {/foreach}

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{plink :File:Default:}">
            <i class="fa fa-file-alt" aria-hidden="true"></i> {_file.fileList}
        </a>
    </div>
</li>