<li class="nav-item dropdown" name="polls">
    <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-scroll" aria-hidden="true"></i> {_report.report,2}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{plink :Event:Export:}">{_event.attendance, 1}</a>
    </div>
</li>