copyToClipboard: Copier dans le presse-papier
edit: Editer
copy: Copier
delete: Supprimer
duplicate: Dupliquer
save: Sauvegarder
saveAll: Tout sauvegarder
edited: "Edité (ée)"
everyone: Tout le monde
allOfThem: Tous les autres
refresh: Rafraîchir
insert: Insérer
mainPage: Page principale
search: Chercher
toogleNavigation: Ouvrir le menu de navigation
menu: Menu
new: Nouveau
link: Lien
never: Jamais
chooseFile: choisir fichier
chooseSex: choisir sexe
chooseType: choisir type
chooseState: choisir état
ok: Ok
yes: oui
no: Non
user: utilisateur
error: erreur
or: ou
day: jour
week: semaine
month: moi
name: Nom
navigationBlock:
    first: premier
    previous: précédent
    next: suivant
    last: dernier
lastLogin:
    secondAgo: il y a une seconde
    secondsAgo: il y a %n% secondes
    minuteAgo: il y a une minute
    minutesAgo: il y a %n% minutes
    halfHourAgo: il y a une demi heure
    hourAgo: il y a une heure
    hoursAgo: il y a %n% heures
    dayAgo: il y a un jour
    daysAgo: il y a %n% jours
alerts:
    nobodyFound: personne trouvé
    userSuccesfullyDeleted: utilisateur supprimé avec succès
    loginNotApproved: connexion non validée
    loginNotSuccesfull: Echec de connexion
    logoutSuccesfull: Déconnexion réussie
    registrationSuccesfull: "Inscription validée. Merci de patienter afin que l'administrateur valide votre inscription."
    userNotFound: "Nom d'utilisateur inconnu. Merci de ré-essayer ou contacter l'administrateur"
    resetCodeSent: Le code réinitialisé a été envoyé sur votre adresse mail.
    pwdResetSuccesfull: Votre mot de passe a été mis à jour.
    inactivityLogout: "Vous avez été déconnecté à la suite d'une longue période d'inactivité. Merci de vous reconnecter."
    exceptionOccured: "Une erreur s'est produite"
    confirmDelete: Vraiment supprimer?
    notPermitted: Permissions insuffisantes
    configSaved: Paramètres sauvegardés
    avatarSaved: Photo sauvegardés
    newsOnTymy: Nouvelles en application Tymy.CZ
    newsOnTymyDescription: Le portail a été mis à jour depuis votre dernière visite. Quelles sont les dernières nouvelles?
    newsOnTymyFooter: Vous pouvez commander des nouvelles aussi sur
    multiaccountAdded: "L'équipe %team% ajouté avec succès"
    multiaccountRemoved: "L'équipe %team% enlevée avec succès Team %team% succesfully added"
    userAdded: Utilisateur %fullname% ajouté avec succès
    debtAdded: Dette créée
months:
    january: Janvier
    february: Février
    march: Mars
    april: Avril
    may: Mai
    june: Juin
    july: Septembre
    october: Octobre
    november: Novembre
    december: Décembre