discussion: Discussion
noDiscussion: Pas de discussion
editDiscussion: Editer une discussion
unpin: Dépunaiser
pin: Punaiser
new: Nouvelle
copyToClipboard: Copier dans le presse-papier
edit: Editer
copy: Copier
jump2date: Aller à la date
go: Hop
postBlock:
    enterSearchTerms: Entrer le texte à chercher ...
errors:
    noDiscussionExists: Aucune discussion 
    discussionNotExists: "Cette discussion %id% n'existe pas"
alerts:
    confirmDeletePost: Voulez-vous vraiment supprimer?
newDiscussion: Nouvelle discussion
newDiscussionTitle: Créer une nouvelle discussion
discussionSettings: PAramètres de discussion
public: publique
publicTitle: Visible sur la page de garde sans connexion
edits: Révisions
editablePosts: Autoriser les révisions
