event: Événement|Événements
attendance: Présence|Présences
newEvents: Nouveaux événements
editEvent: Editer événement|Editer les événements
settingsEvents: Paramètres des événements
noEvent: Aucun événements
showHidePastEvents: Afficher/masquer les événements passés
agenda: Agenda
new: Nouveau
openMap: Ouvrir la carte ....
start: Début
close: Date limite
end: Fin
place: Lieu
attendanceNotFilled: "Vous n'avez pas complété votre présence"
notDecidedYet: Pas encore décidé
arrived: Je viens|Nous venons
notArrived: Je ne viens pas|Nous ne venons pas
attendanceResult: Résultats de présence
setAttendanceResult: Entrer les résultats de présence
saveAttendanceResult: Enregistrer les résultats de présence
goToEvents: Voir les événements
openInNewWindow: Ouvrir dans une nouvelle fenêtre
duplicateEventDay: Dupliquer le dernier événement et le déplacer de 1 jour
duplicateEventWeek: Dupliquer le dernier événement et le déplacer de 1 semaine
duplicateEventMonth: Dupliquer le dernier événement et le déplacer de 1 mois
canView: Can view
canPlan: Can plan
canResult: Can enter results
canView-sm: View
canPlan-sm: Plan
canResult-sm: Results
errors:
    eventNotExists: "L'événement %id% n'existe pas"