file: Fichier|Fichiers
noFile: Pas de fichier
fileList: Liste des fichiers
files: fichiers
usedSpace: Espace utilisé
folder: Dossier|Dossiers
allFiles: Tous les fichiers
upload: Téléverser un fichier...
mkdir: Nouveau dossier
size: Taille