note: Note|Notes
settingsNotes: Paramètres des notes
noNote: Aucune note
newNote: Nouvelle note
createNote: Créer une nouvelle note
editNote: Editer la note
private: Privée
users: Pour les membres
public: Publique
systemPage: Page système
content: Contenu
accessTitle: "Sélectionnez qui a accès à la note: Privé (seulement vous), tous les membres, public (visible sans inscription)"
mainMenuTitle: Titre du menu principal
specialPageTitle: Titre de la page
orderTitle: Commander da ns le menu
system: Système
new: Nouveau
errors:
    noteNotExists: "La note %id% n'existe pas"