poll: Sondage|Sondages
newPoll: nouveau sondage
editPoll: Editer le sondage
configPolls: Configurer le sondage
noPoll: aucun sondage
createPoll: Créer un nouveau sondage
createItem: Créer un nouvel article
minItems: Eléments minimum remplis
maxItems: Eléments maximum remplis
min: Min
max: Max
setChangeableVotes: Autoriser le changement de vote
changeOfVotes: Changement de vote
changeableVotes: Le vote peut être changé
unchangeableVotes: Le vote ne peut pas être changé
anonymousVotes: Vote anonyme
anonym: Anonyme
anonymousResults: Le sondage est anonyme
nonanonymousResults: "Le sondage n'est pas anonyme"
displayResults: Voir les résultats
resultsDisplayed: Les résultats sont affichés
resultsDisplayedAfterVote: Les résultats seront affichés après le vote
resultsToYouOnly: Vous êtes le seul à pouvoir voir le résultat
resultsAreSecret: Les résultats sont secrets
resultsDisplayedWhenClosed: Les résultats ne seront affichés que lorsque le sondage sera clotûré
cannotVoteHere: Vous ne pouvez pas voter pour ce sondage
vote: Voter
voted: voté
results: Résultat du vote
votesCount: Nombre de voix
maxItemsOverflow: Nombre maximum de votes dépassé
notEnoughItems: "Le nombre minimum de votes n'a pas été atteint"
design: Design
opened: Actif
closed: Clotûré
hidden: Caché
displayInMainMenu: Afficher dans le menu principal
never: Jamais
always: Toujours
afterVote: "J'ai voté"
whenClosed: Après fermeture
canVote: Peut voter
canDisplayResults: Peut voir les résultats
canAlienVote: Peut représenter
canVoteRight: Droit de vote
canDisplayResultsRight: Autorisations pour afficher les résultats
canAlienVoteRight: Autorisation pour représenter au vote
pollItems: Sondages
itemCaption: Nom
text: Texte
number: Numéro
bool: Oui/ Non
new: Nouveau
voteAs: Votez comme
alerts:
    succesfullyCreated: Le sondage a été créé avec succès
errors:
    pollNotExists: "Le sondage %id% n'existe pas"