application: Application
setting: Paramètres | Paramètres
cacheDrop: Effacer le cache
cacheDropped: Cache effacé
appSettings: "Paramètres de l'application"
teamSettings: Paramètres de équipe
appVersion: "Version de l'application"
roadmap: Modifications entrantes
released: Délivré
changeList: Liste des modifications
authors: Auteurs
reportBug: Signaler une erreur
fromPreviousVersion: de la version précédente
fromVersion: de la version
title: Titre
description: Description
canRead: Peur lite
canWrite: Peut écrire
canDelete: Peut supprimer
canTop: Peut top
order: Ordre
access: Accès
status: statut
type: Type
here: Ici
eventColors: Couleurs des événements
statusColors: "Couleurs d'arrivée"
multiaccount: Multi-compte|Multi-compte
addAccount: Ajouter multi-compte
export: Exportation
enableExport: "Activer l 'exportation"
calendarExport: "Exportation du calendrier (ical)"
displayStatuses: Afficher les événements ayant un statut