{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block content}

<div class="container notes">
    <div class="row justify-content-md-center">
        <div class="col-8 my-3">
            <div class="card sh-box">
                <div class="card-body">
                    {foreach $notes as $note}
                        <div class="row my-2">
                            <div class="col-sm-3 name"><a href="{plink Notes:note $note->getWebName()}">{$note->getCaption()}</a></div>
                            <div class="col-sm-9">{$note->getDescription()}</div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>