services:
    AttendanceManager: Tymy\Module\Attendance\Manager\AttendanceManager
    HistoryManager: Tymy\Module\Attendance\Manager\HistoryManager
    StatusSetManager: Tymy\Module\Attendance\Manager\StatusSetManager
    StatusManager: Tymy\Module\Attendance\Manager\StatusManager
    AttendanceRouter: Tymy\Module\Attendance\Router\Router