copyToClipboard: Kopírovat do schránky
edit: Upravit
copy: Kopírovat
delete: Smazat
duplicate: Duplikovat
save: Uložit
saveAll: Uložit vše
cancel: Zrušit
edited: "Upravil (a)"
everyone: Všichni
allOfThem: Vše
refresh: Obnovit
insert: Vložit
mainPage: Hlavní stránka
search: Hledat
toogleNavigation: Otevřít navigační menu
menu: Menu
new: Nový
link: Odkaz
never: Nikdy
noone: Nikdo
adminOnly: Pouze Administrátor
chooseFile: Vyberte soubor
chooseSex: Vyberte pohlaví
chooseType: Vyberte typ
chooseState: Vyberte stav
choose: Vyberte
ok: Ok
yes: Ano
no: Ne
user: Uživatel
error: Chyba
created: Vytvořil
or: nebo
day: Den
week: Týden
month: Měsíc
name: Název
navigationBlock:
    first: První
    previous: Předchozí
    next: Následující
    last: Poslední
lastLogin:
    secondAgo: před vteřinou
    secondsAgo: před %n% vteřinami
    minuteAgo: před minutou
    minutesAgo: před %n% minutami
    halfHourAgo: před půl hodinou
    hourAgo: před hodinou
    hoursAgo: před %n% hodinami
    dayAgo: před 1 dnem
    daysAgo: před %n% dny
alerts:
    nobodyFound: Nikdo nenalezen
    userSuccesfullyDeleted: Uživatel byl úspešně smazán
    loginNotApproved: Tento uživatel zatím nemá povolené přihlášení
    loginNotSuccesfull: Přihlášení bylo neúspěšné
    logoutSuccesfull: Byl jste úspěšně odhlášen
    registrationSuccesfull: Registrace byla úspěšná. Nyní vyčkejte na schválení registrace administrátorem.
    userNotFound: "Uživatel nebyl nalezen, je zablokován nebo došlo k chybě. Zkuste to znovu, nebo kontaktujte týmového administrátora."
    resetCodeSent: Kód k resetování byl zaslán na Vaši e-mailovou adresu
    invalidResetCode: Neplatný resetovací kód
    pwdResetFailed: Heslo se nepodařilo resetovat
    pwdResetSuccesfull: Vaše heslo bylo úspěšně resetováno
    tooManyTries: Překročen počet pokusů o reset hesla
    inactivityLogout: Byl jste odhlášen z důvodu dlouhé nečinnosti. Prosím přihlašte se znovu.
    exceptionOccured: Došlo k nečekané chybě
    confirmDelete: Opravde chcete tento záznam smazat?
    notPermitted: Nemáte dostatečná práva
    configSaved: Nastavení bylo uloženo
    avatarSaved: Profilová fotka uložena
    created: Vytvořeno
    updated: Aktualizováno
    deleted: Smazáno
    newsOnTymy: Novinky v aplikaci Tymy.CZ
    newsOnTymyDescription: Aplikace byla od Vašeho posledního přihlášení upgradována. Co je nového?
    newsOnTymyFooter: Přehled novinek zároveň naleznete na
    multiaccountAdded: Tým %team% byl přidán
    multiaccountRemoved: Tým %team% byl odebrán
    userAdded: Uživatel %fullname% byl přidán
    debtAdded: Dluh byl přidán
    automail: Tento email byl automaticky vygenerován. Prosím neodpovídejte.
months:
    january: Leden
    february: Únor
    march: Březen
    april: Duben
    may: Květen
    june: Červen
    july: Červenec
    august: Srpen
    september: Září
    october: Říjen
    november: Listopad
    december: Prosinec
errors:
    valueInvalid: Chybně zadaná hodnota
    teamValueRequired: Váš tým vyžaduje vyplnit toto pole