event: Událost|Události
attendance: Docházka|Docházka
newEvents: Nové události
editEvent: Úprava události|Úprava událostí
settingsEvents: Nastavení událostí
noEvent: Žádná událost
showHidePastEvents: Zobrazit/skrýt již proběhlé akce
agenda: Agenda
new: Nová
openMap: Otevřít mapu ....
start: Začátek
close: Uzávěrka
end: Konec
place: Místo
attendanceNotFilled: Nemáš vyplněnou docházku
notDecidedYet: Nerozhodnutí
arrived: Přišel|Přišli
notArrived: Nepřišel|Nepřišli
attendanceView: Přehled docházky
attendanceResult: Výsledná docházka
setAttendanceResult: Zadat výslednou docházku
saveAttendanceResult: Uložit výslednou docházku
goToEvents: Přejít na události
openInNewWindow: Zobrazit v novém okně
duplicateEventDay: Duplikovat poslední událost a posunout časy o 1 den
duplicateEventWeek: Duplikovat poslední událost a posunout časy o 1 týden
duplicateEventMonth: Duplikovat poslední událost a posunout časy o 1 měsíc
canView: Vidět může
canPlan: Přihlásit se může
canResult: Zadat výsledky může
canView-sm: Vidět
canPlan-sm: Přihlásit
canResult-sm: Zadat
displayHistory: Zobrazit historii
eventType: Typ události|Typy událostí
errors:
    eventNotExists: Událost %id% neexistuje