file: Soubor|Soubory
noFile: Žádný soubor
fileList: Seznam souborů
files: souborů
usedSpace: Použito
folder: Složka|Složky
allFiles: Všechny soubory
uploaded: Vytvořeno
upload: Nahrát soubor...
mkdir: Nová složka
size: Velikost