file: Soubor|Soubory
noFile: Žádný soubor
fileList: Seznam souborů
files: souborů
usedSpace: Použito
folder: Složka|Složky
allFiles: Všechny soubory
uploaded: Vytvořeno
add: Přidat
mkdir: Nová složka
size: Velikost
confirmDelete: Opravde chcete tento soubor smazat?
dirNameError: Chybný název složky