permission: Oprávnění|Oprávnění
settingsPermissions: Nastavení oprávnění
systemPermissions: Systémová práva
userPermissions: Uživatelská práva
permitted: Jsem oprávněn
not-permitted: Nejsem oprávněn
newPermission: Vytvořit nové oprávnění
createPermission: Vytvořit oprávnění
editPermission: Úprava oprávnění