application: Aplikace
setting: Nastavení|Nastavení
cacheDrop: Vymazat cache
cacheDropped: Cache vymazána
appSettings: Nastavení aplikace
teamSettings: Nastavení týmu
appVersion: Verze aplikace
roadmap: Co se chystá
released: Vydáno
changeList: Seznam změn
authors: Autoři
reportBug: Nahlásit chybu
fromPreviousVersion: od předchozí verze
fromVersion: od verze
title: Název
description: Popis
canRead: Číst může
canWrite: Psát může
canDelete: Mazat může
canTop: Topovat může
order: Pořadí
access: Přístup
status: Stav
type: Typ
here: zde
eventColors: Barvy událostí
statusColors: Barvy účastí
multiaccount: Multiúčet|Multiúčty
addAccount: Přidat účet