team: Tým|Týmy
PLAYER: 'Hráč|Hráči'
MEMBER: 'Člen|Členové'
SICK: 'Marod|Marodi'
INIT: 'Registrován|Registrovaní'
DELETED: 'Smazán|Smazaní'
jersey: Dres|Dresy
jerseyList: Seznam dresů
newMailToAll: Nový e-mail všem
newMailTo: Nový email pro
freeNumber: Volné
inActive: Neaktivní
personalData: Osobní údaje
loginData: Přihlášení
appearance: Vzhled
hideDiscussionDescription: Skrýt 
teamData: Týmové info
address: Adresa
roles: Role|Role
export: Export
profile: Profil
profilePhoto: Profilovka
male: Muž|Muži
female: Žena|Ženy
unknownSex: Nezadáno
gender: Pohlaví
chooseSex: Vyberte pohlaví
firstName: Jméno
lastName: Příjmení
phone: Telefon
email: E-mail
birthDate: Datum narození
nameDayMonth: Měsíc svátku
chooseMonth: Vyberte měsíc
nameDayDay: Den svátku
language: Jazyk
dateOfRegistration: Registrován
callName: Zobrazované jméno
canEditCallName: Editovatelné uživatelem
login: Uživatelské jméno
password: Nové heslo
newPasswordAgain: Nové heslo znovu
canLogin: Přihlášení povoleno
status: Týmový stav
jerseyNumber: Číslo dresu
street: Ulice
city: Město
zipCode: PSČ
hasNamedayToday: %name% slaví dnes svátek
hasBirthdayToday: %name% slaví dnes %year% narozeniny
hasNamedayTommorow: %name% slaví zítra svátek
hasBirthdayTommorow: %name% slaví zítra %year% narozeniny
currentlyOnline: Právě online
lastLogin: Poslední přihlášení
nobodyIsOnline: Nikdo není online
administrator: Administrátor
userAdmin: Správce uživatelů
attendanceAdmin: Správce docházky
requiredFields: Povinná pole u uživatele
defaultSkin: Výchozí skin
name: Název týmu
sport: Sport
defaultLanguage: Výchozí jazyk
hideDiscDesc: Skrýt popisky diskusí
approveAsPlayer: Schválit jako hráče
errors:
    imgFileCorrupted: "Soubor není obrázek, nebo je poškozený"
alerts:
    signOffNeeded: Došlo ke změně jazyka - změna se projeví až po přihlášení a odhlášení
    registrationApprovedSubject: Registrace do %s povolena
    registrationDeniedSubject: Registrace do %s zamítnua
    registrationApproved: Byl Vám udělen přístup do aplikace %s. Nyní se můžete přihlásit
    registrationDenied: Byl Vám zamítnut přístup do aplikace %s
    loginForbidden: Uživatel nemá povolené přihlášení
    loginNotApproved: Uživatel nebyl doposud schválen administrátory
    authenticationFailed: Login či heslo jsou chybné