{import 'js-loader.latte'}
{import 'css-loader.latte'}
{import 'localization.latte'}

{block scripts}
{include parent}
        <script src="{$basePath}/js/main.js?ver={$appver}"></script>
        <script src="{$basePath}/js/timer.js?ver={$appver}"></script>
{/block}

{*{block notes}
{include 'notes.latte'}
{/block}*}
