{snippet nav}
{var $allWarnings = $discussionWarnings + $eventWarnings + $playersWarnings + $voteWarnings}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" data-title="{$allWarnings}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{$baseUri}" title="{$tym|firstUpper}.Tymy.CZ">{$tym|firstUpper}</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                {if $discussionWarnings > 0}<span class="badge badge-pill badge-danger badge-new">{$discussionWarnings}</span>{/if}
                <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-comments" aria-hidden="true"></i> Diskuze</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {foreach $discussions as $d}
                        <a class="dropdown-item" href="{plink Discussion:discussion $d->webName}" id="discussion-{$d->id}">
                            {if $discussionWarnings > 0}<span class="badge badge-primary" {if $d->newPosts == 0}style="visibility: hidden"{/if}>{$d->newPosts}</span>{/if}
                            {$d->caption}
                        </a>
                    {/foreach}
                </div>
            </li>
            
            <li class="nav-item dropdown">
                {if $eventWarnings > 0}<span class="badge badge-pill badge-danger badge-new">{$eventWarnings}</span>{/if}
                <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-calendar-o" aria-hidden="true"></i> Události</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{plink Event:}">Všechny</a>
                    {foreach $events as $ev}
                        <a class="dropdown-item" href="{plink Event:event $ev->webName}">
                            {if $ev->warning}<span class="badge badge-danger"><i class="fa fa-info" aria-hidden="true"></i></span>{/if}
                            {$ev->startTime|date:'j.n.'} - {$ev->caption}
                        </a>
                    {/foreach}
                </div>
            </li>
            
            <li class="nav-item dropdown">
                {if $playersWarnings > 0}<span class="badge badge-pill badge-danger badge-new">{$playersWarnings}</span>{/if}
                <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users" aria-hidden="true"></i> Tým</a>    
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{plink Team:player $me->webName}">{$me->callName} <span class="badge badge-danger" n:if="$me->errCnt">{$me->errCnt}</span></a>
                    <a class="dropdown-item" href="{plink Team:inits}" n:if="$counts['INIT'] > 0 && $user->isAllowed('users','canSeeRegisteredUsers')">Registrovaní ({$counts['INIT']})</a>
                    <a class="dropdown-item" href="{plink Team:players}">Hráči ({$counts['PLAYER']}) <span class="badge badge-success" n:if="$counts['NEW:PLAYER'] > 0">Nový</span></a>
                    <a class="dropdown-item" href="{plink Team:members}">Členové ({$counts['MEMBER']})</a>
                    <a class="dropdown-item" href="{plink Team:sicks}">Marodi ({$counts['SICK']})</a>
                    <a class="dropdown-item" href="{plink Team:}">Všichni ({$counts['ALL']}) <span class="badge badge-success" n:if="$counts['NEW'] > 0">Nový</span></a>
                </div>
            </li>
            <li class="nav-item dropdown">
                {if $voteWarnings > 0}<span class="badge badge-pill badge-danger badge-new">{$voteWarnings}</span>{/if}
                <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-pie-chart" aria-hidden="true"></i> Ankety</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {foreach $polls as $p}
                        <a class="dropdown-item" href="{plink Poll:poll $p->webName}">
                            {if !$p->voted && $p->canVote}<span class="badge badge-danger"><i class="fa fa-info" aria-hidden="true"></i></span>{/if}
                            {$p->caption}
                        </a>
                    {/foreach}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs" aria-hidden="true"></i> Nastavení</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" n:if="$user->isAllowed('settings','discussions')" href="{plink Settings:discussions}">Diskuze</a>
                    <a class="dropdown-item" n:if="$user->isAllowed('settings','events')" href="{plink Settings:events}">Události</a>
                    <a class="dropdown-item" n:if="$user->isAllowed('settings','team')" href="{plink Settings:team}">Tým</a>
                    <a class="dropdown-item" n:if="$user->isAllowed('settings','polls')" href="{plink Settings:polls}">Ankety</a>
                    <a class="dropdown-item" n:if="$user->isAllowed('settings','reports')" href="{plink Settings:reports}">Reporty</a>
                    <a class="dropdown-item" n:if="$user->isAllowed('settings','permissions')" href="{plink Settings:permissions}">Oprávnění</a>
                    <a class="dropdown-item" n:if="$user->isAllowed('settings','app')" href="{plink Settings:app}">Aplikace</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav"> 
            <li class="nav-item dropdown">
                <span class="badge badge-pill badge-danger badge-new" n:if="$me->errCnt">{$me->errCnt}</span>
                <a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle" aria-hidden="true"></i> {$me->callName}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{plink Sign:out}"><i class="fa fa-power-off" aria-hidden="true"></i> Odhlásit</a>
                </div>
            </li>
                
        </ul>
        
    </div>
    
</nav>
{/snippet}

<div class="container">
    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
                {foreach $levels as $level}
                    {if $level['caption'] != ''}
                        <li n:class="breadcrumb-item, $iterator->last ? active"><a href="{$level['link']}" n:tag-if="!$iterator->last">{$level['caption']}</a></li>
                    {/if}
                {/foreach}
            </ol>
        </div>
    </div>
</div>
