{_mail.hello},

{_mail.invitation.body.invited} {$teamName}.

{_mail.invitation.body.registerHere}: {$invitationUrl}
{_mail.invitation.body.validity} {$validity|date:\Tymy\Module\Core\Model\BaseModel::DATE_CZECH_FORMAT}. {_mail.invitation.body.dontHesitate} ;-).

{_mail.invitation.body.tymyDescription}. {_team.team, 1} {$teamName} {_mail.invitation.body.tymyApproval}.

{_mail.bestRegards},

{$invitationCreator}
{_mail.teamAdministrator} {$teamName} | {$teamPortalUrl}