{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block content}

<div class="container settings">
    <div class="row my-3">
        <div class="col">
            <div class="card sh-box">
                <div class="card-header"><h4>{_permission.systemPermissions}</h4></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr n:foreach="$systemPermissions as $perm">
                            <th>{$perm->getName()}</th>
                            <td>{$perm->getCaption()}</td>
                            <td>
                                <i n:if="$perm->getMeAllowed()" class="fas fa-check-circle text-success" title="{_permission.permitted}"></i>
                                <i n:if="!$perm->getMeAllowed()" class="fas fa-ban text-danger" title="{_permission.not-permitted}"></i>
                            </td>
                            <td><a n:href=":Setting:Permission: $perm->getWebName()" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card sh-box">
                <div class="card-header"><h4>{_permission.userPermissions}</h4></div>
                <div class="card-body">
                    <table class="table table-hover">
                        <tr n:foreach="$userPermissions as $perm">
                            <th>{$perm->getName()}</th>
                            <td>{$perm->getCaption()}</td>
                            <td>
                                <i n:if="$perm->getMeAllowed()" class="fas fa-check-circle text-success" title="{_permission.permitted}"></i>
                                <i n:if="!$perm->getMeAllowed()" class="fas fa-ban text-danger" title="{_permission.not-permitted}"></i>
                            </td>
                            <td><a n:href=":Setting:Permission: $perm->getWebName()" class="btn btn-sm btn-outline-primary"><i class="fas fa-edit"></i></a></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-lg btn-success" href="{plink :Setting:Permission:new}"  onclick="btnRotate($(this), true)" title="{_permission.newPermission}">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


