
<div class="col">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong class="text-secondary ml-4">{_common.alerts.newsOnTymy}</strong>
        <div n:foreach="$notices as $notice"><div class="mt-2"><small>{$notice->getCreated()|date:'j.n.Y'} - </small><strong>{$notice->getCaption()|noescape}</strong></div>{$notice->getDescription()|noescape}</div>
        <small class="text-secondary ml-4">{_common.alerts.newsOnTymyFooter} <a href="https://www.tymy.cz/news" target="blank">www.tymy.cz</a></small>
    </div>
</div>