copyToClipboard: Kopírovat do schránky
edit: Upravit
copy: Kopírovat
delete: Smazat
edited: "Upravil (a)"
everyone: Všichni
allOfThem: Všechny
refresh: Obnovit
insert: Vložit
mainPage: Hlavní stránka
search: Hledat
toogleNavigation: Otevřít navigační menu
new: Nový
navigationBlock:
    first: První
    previous: Předchozí
    next: Následující
    last: Poslední