copyToClipboard: Kopírovat do schránky
edit: Upravit
copy: Kopírovat
delete: Smazat
duplicate: Duplikovat
save: Uložit
saveAll: Uložit vše
edited: "Upravil (a)"
everyone: Všichni
allOfThem: Všechny
refresh: Obnovit
insert: Vložit
mainPage: Hlavní stránka
search: Hledat
toogleNavigation: Otevřít navigační menu
new: Nový
link: Odkaz
never: Nikdy
chooseFile: Vyberte soubor
chooseSex: Vyberte pohlaví
yes: Ano
no: Ne
user: Uživatel
error: Chyba
or: nebo
day: Den
week: Týden
month: Měsíc
navigationBlock:
    first: První
    previous: Předchozí
    next: Následující
    last: Poslední
lastLogin:
    secondAgo: před vteřinou
    secondsAgo: před %n% vteřinami
    minuteAgo: před minutou
    minutesAgo: před %n% minutami
    halfHourAgo: před půl hodinou
    hourAgo: před hodinou
    hoursAgo: před %n% hodinami
    dayAgo: před 1 dnem
    daysAgo: před %n% dny