{import '../common.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/scroll_man_scroll.js"></script>
<script src="{$basePath}/resources/ckeditor/ckeditor.js"></script>
<script src="{$basePath}/resources/clipboard/dist/clipboard.{$js}"></script>
<script>
    $(document).ready(function () {
        new Clipboard('BUTTON.clipboard-btn');
    });
</script>
{/block}

{block content}

{block newpost}
{control newPost $discussion}
{/block}

<div class="container discussion" n:snippet="discussion">
    {foreach $discussion->posts as $item}
            {var $stickyIcon = ''}
            {if $item->sticky}
                {var $chc = 'post-sticky bg-warning'}
                {var $cc = 'post-sticky'}
                {var $stickyIcon = 'sticky'}
            {elseif $item->newPost}
                {var $chc = 'post-new text-white bg-primary'}
                {var $cc = 'post-new'}
            {elseif $item->createdById == $userId}
                {var $chc = 'post-mine'}
                {var $cc = 'post-mine'}
            {else}
                {var $chc = ''}
                {var $cc = ''}
            {/if}
            <div class="row">
                <div class="col">
                    <div class="card my-1 {$cc} sh-box">
                        <div class="card-header {$chc} py-1">
                            <span class="name">{$item->createdBy->callName}</span>

                            <div class="btn-group btn-group-sm float-md-right" role="group">
                                <button n:class="btn,btn-sm,$item->sticky ? active,$item->sticky ? btn-dark:btn-light,!$item->sticky ? btn-light-bordered" onclick="stickPost({plink Discussion:stickPost $discussion->discussion->id}, {$item->id}, {$item->sticky ? false : true})" n:attr="title => $item->sticky ? 'Odepnout' : 'Připnout'"><i class="fa fa-thumb-tack" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-light btn-light-bordered clipboard-btn" data-clipboard-target="#post-{$item->id}" title="Kopírovat do schránky"><i class="fa fa-files-o" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-light btn-light-bordered" onclick="loadPost({$item->id})" title="Upravit / Kopírovat"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                <button class="btn btn-sm btn-light btn-light-bordered delete" onclick="deletePost({$item->id})" title="Smazat"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <span class="float-md-right mx-2">{$item->createdAt|date:'j.n.Y G:i'}</span>
                            <div class="alert alert-warning float-md-right mx-1" n:ifset="$item->updatedAt" style="margin: 0px; padding: 4px; font-size: 10px;">Upravil(a) {$users[$item->updatedById]->displayName}, {$item->updatedAt|date:'j.n.Y G:i'}</div>
                        </div>
                        <div class="card-body">
                            <img class="user_pic" src="{$tymyRoot}/{$item->createdBy->pictureUrl}" />
                            <div class="card-text" id="post-{$item->id}">
                            {ifset $item->post}{$item->post|noescape}{/ifset}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{/foreach}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li n:class="$currentPage == 1 ? disabled, page-item"><a class="page-link" href="{if $currentPage==2}{plink Discussion:discussion $nazevDiskuze}{else}{plink Discussion:discussion $nazevDiskuze,$currentPage-1, $search}{/if}">Předchozí</a></li>
            {foreach $pagination as $page}
            <li n:class="$currentPage == $page ? active, page-item"><a class="page-link" href="{if $page==1}{plink Discussion:discussion $nazevDiskuze}{else}{plink Discussion:discussion $nazevDiskuze,$page, $search}{/if}">{$page}</a></li>
            {/foreach}
        <li n:class="$currentPage == $lastPage ? disabled, page-item"><a class="page-link" href="{plink Discussion:discussion $nazevDiskuze,$currentPage+1, $search}">Následující</a></li>
    </ul>
</nav>
