{import '../components/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/scroll_man_scroll.js?ver={$appver}"></script>
<script src="{$basePath}/resources/ckeditor/ckeditor.js?ver={$appver}"></script>
<script src="{$basePath}/resources/clipboard/dist/clipboard.{$js}?ver={$appver}"></script>
<script>
    $(document).ready(function () {
        new Clipboard('BUTTON.clipboard-btn');
    });
</script>
{/block}

{block content}

{block newpost}
{control newPost $discussion, $search, $suser}
{/block}
<div class="container discussion" n:snippet="discussion">
    {foreach $discussion->posts as $item}
        {var $stickyIcon = ''}
        {if $item->sticky}
            {var $chc = 'post-sticky bg-warning'}
            {var $cc = 'post-sticky'}
            {var $stickyIcon = 'sticky'}
        {elseif $item->newPost}
            {var $chc = 'post-new text-white bg-primary'}
            {var $cc = 'post-new'}
        {elseif $item->createdById == $userId}
            {var $chc = 'post-mine'}
            {var $cc = 'post-mine'}
        {else}
            {var $chc = ''}
            {var $cc = ''}
        {/if}
        <div class="row" id="row-{$item->getId()}">
            <div class="col">
                <div class="card my-1 {$cc} sh-box">
                    <div class="card-header {$chc} py-1">
                        <span class="name">{$item->createdBy->callName}</span>
                        <div class="btn-group btn-group-sm float-md-right" role="group">
                            <button n:if="$discussion->discussion->canStick" n:class="btn,btn-sm,$item->sticky ? active,$item->sticky ? btn-dark:btn-light,!$item->sticky ? btn-light-bordered" onclick="stickPost({plink Discussion:stickPost $discussion->discussion->getId()}, {$item->getId()}, {$item->sticky ? false : true})" title="{if $item->sticky}{_discussion.unpin}{else}{_discussion.pin}{/if}"><i class="fa fa-thumbtack" aria-hidden="true"></i></button>
                            <button class="btn btn-sm btn-light btn-light-bordered clipboard-btn" data-clipboard-target="#post-{$item->getId()}" title="{_common.copyToClipboard}"><i class="far fa-copy" aria-hidden="true"></i></button>
                            <button class="btn btn-sm btn-light btn-light-bordered" onclick="loadPost({$item->getId()})" title="{_common.edit} / {_common.copy}"><i class="far fa-edit" aria-hidden="true"></i></button>
                            <button n:if="$discussion->discussion->canDelete || ($discussion->discussion->editablePosts && $item->createdById == $user->getId()) " class="btn btn-sm btn-light btn-light-bordered delete" onclick="deletePost({$item->getId()}, {plink Discussion:deletePost $discussion->discussion->getId()})" title="{_common.delete}"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <span class="float-md-right mx-2">{$item->createdAt|date:'j.n.Y G:i'}</span>
                        <div class="alert alert-warning float-md-right mx-1" n:ifset="$item->updatedAt" style="margin: 0px; padding: 4px; font-size: 10px;">{_common.edited} {$userList[$item->updatedById]->getDisplayName()}, {$item->updatedAt|date:'j.n.Y G:i'}</div>
                    </div>
                    <div class="card-body">
                        <img class="user_pic" src="{$tymyRoot}/{$item->createdBy->getPictureUrl()}" />
                        <div class="card-text" id="post-{$item->getId()}">
                        {ifset $item->post}{$item->post|noescape}{/ifset}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {/foreach}
</div>
<div class="container navigation">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li n:class="$currentPage == 1 ? disabled, page-item"><a class="page-link" href="{plink Discussion:discussion $nazevDiskuze, 1}">{_common.navigationBlock.first}</a></li>
                    <li n:class="$currentPage == 1 ? disabled, page-item"><a class="page-link" href="{if $currentPage==2}{plink Discussion:discussion $nazevDiskuze}{else}{plink Discussion:discussion $nazevDiskuze,$currentPage-1, $search}{/if}">{_common.navigationBlock.previous}</a></li>
                    <li n:foreach="$pagination as $page" n:class="$currentPage == $page ? active, page-item"><a class="page-link" href="{if $page==1}{plink Discussion:discussion $nazevDiskuze}{else}{plink Discussion:discussion $nazevDiskuze,$page, $search}{/if}">{$page}</a></li>
                    <li n:class="$currentPage == $lastPage ? disabled, page-item"><a class="page-link" href="{plink Discussion:discussion $nazevDiskuze,$currentPage+1, $search}">{_common.navigationBlock.next}</a></li>
                    <li n:class="$currentPage == $lastPage ? disabled, page-item"><a class="page-link" href="{plink Discussion:discussion $nazevDiskuze, $lastPage}">{_common.navigationBlock.last}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="{plink this}" method="GET" class="form-inline justify-content-center">
            <div class="input-group mb-3">
                    <input type="text" name="jump2date" class="form-control" placeholder="{_discussion.jump2date}" aria-label="{_discussion.jump2date}">
                    <div class="input-group-append">
                        <button class="btn btn-light btn-light-bordered" type="submit">{_discussion.go}</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>


