services:
    DiscussionManager: Tymy\Module\Discussion\Manager\DiscussionManager
    PostManager: Tymy\Module\Discussion\Manager\PostManager
    DiscussionRouter: Tymy\Module\Discussion\Router\Router