#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#

services:  
  TestsManager: Tymy\Module\Autotest\Manager\TestsManager
  TestsRouter: Tymy\Module\Autotest\Router\Router
  