{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/Binder.js?ver={$appver}"></script>
{/block}

{block content}
{dump $debt}
<div class="container debt">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3" data-binder-id="{$debt->getId()}">
                <div class="card-header">
                    <h4 class="card-title">{$debt->getCaption()} ({$userListWithTeam[$debt->getDebtorId()]->getDisplayName()} -> {$userListWithTeam[$debt->getPayeeId() ?: 0]->getDisplayName()})</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <table class="table">
                                <tr>
                                    <th>{_settings.title}:</th><td><input name="caption" data-value="{$debt->getCaption()}" type="text" value="{$debt->getCaption()}" {if !$debt->getCanEdit()}readonly{/if} n:class="col-6, form-control" /></td>
                                </tr>
                                <tr>
                                    <th>{_debt.debtorId}:</th><td>
                                        <select n:class="col-6, form-control"  style="min-width: 120px" name="debtorId" data-value="{$debt->getDebtorId()}" {if !$debt->getCanEdit()}readonly disabled{/if}>
                                            <option n:foreach="$userListWithTeam as $debtor" value="{$debtor->getId()}" n:attr="selected => $debtor->getId()==$debt->getDebtorId()">{$debtor->getDisplayName()}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{_debt.payeeId}:</th><td>
                                        <select n:class="col-6, form-control"  style="min-width: 120px" name="payeeId" data-value="{$debt->getPayeeId()}" {if !$debt->getCanEdit()}readonly disabled{/if}>
                                            <option n:foreach="$payeeList as $payee" value="{$payee->getId()}" n:attr="selected => $payee->getId()==$debt->getPayeeId()">{$payee->getDisplayName()}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{_debt.amount}:</th><td>
                                        <div class="input-group col-6 px-0">
                                            <input name="amount" data-value="{$debt->getAmount()}" type="number" value="{$debt->getAmount()}" {if !$debt->getCanEdit()}readonly{/if} class="form-control" />
                                            <select class="form-control" name="currencyIso" data-value="{$debt->getCurrencyIso()}" {if !$debt->getCanEdit()}readonly disabled{/if}>
                                                <option n:foreach="\Tapi\DebtResource::CURRENCIES as $iso => $caption" value="{$iso}" n:attr="selected => $iso==$debt->getCurrencyIso()">{$caption}</option>
                                            </select>
                                        </div>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <th>{_debt.debtDate}:</th><td><input name="debtDate" data-value="{$debt->getDebtDate()|date:\Tapi\TapiObject::MYSQL_DATE}" type="date" {if !$debt->getCanEdit()}readonly{/if} value="{$debt->getDebtDate()|date:\Tapi\TapiObject::MYSQL_DATE}" n:class="col-6, form-control" /></td>
                                </tr>
                                <tr>
                                    <th>{_debt.accountNumber}:</th><td><input name="payeeAccountNumber" data-value="{$debt->getPayeeAccountNumber()}" type="text" {if !$debt->getCanEdit()}readonly{/if} value="{$debt->getPayeeAccountNumber()}" n:class="col-6, form-control" /></td>
                                </tr>
                                <tr>
                                    <th>{_debt.country}:</th><td>
                                        <select class="col-6 form-control" name="countryIso" data-value="{$debt->getCountryIso()}" {if !$debt->getCanEdit()}readonly disabled{/if}>
                                            <option n:foreach="$countryList as $iso => $caption" value="{$iso}" n:attr="selected => $iso==$debt->getCountryIso()">{$caption}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{_debt.varcode}:</th><td><input name="varcode" data-value="{$debt->getVarcode()}" type="text" value="{$debt->getVarcode()}" {if !$debt->getCanEdit()}readonly{/if} n:class="col-6, form-control" /></td>
                                </tr>
                                <tr>
                                    <th>{_debt.paymentReceived}:</th><td><input name="paymentReceived" data-value="{$debt->getPaymentReceived()|date:\Tapi\TapiObject::MYSQL_DATE}" type="date" value="{$debt->getPaymentReceived()|date:\Tapi\TapiObject::MYSQL_DATE}" {if !$debt->getCanEdit()}readonly{/if} n:class="col-6, form-control" /></td>
                                </tr>
                                <tr>
                                    <th>{_debt.paymentSend}:</th><td><input name="paymentSent" {if $debt->getCanSetSentDate()}data-value="{$debt->getPaymentSent()|date:\Tapi\TapiObject::MYSQL_DATE}"{/if} type="date" value="{$debt->getPaymentSent()|date:\Tapi\TapiObject::MYSQL_DATE}" n:class="col-6, form-control" {if !$debt->getCanSetSentDate()}readonly{/if} /></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4">
                            <img src="{plink Debt:debtImg $debt->getWebName()}" class="border" />
                        </div>
                    </div>

                </div>
                <div class="card-footer text-right" n:if="$debt->getCanEdit() || $debt->getCanSetSentDate()">
                    <button n:if="$debt->getCanEdit()" href="{link debtDelete!}" class="btn btn-danger mx-2 binder-delete-btn" title="{_common.delete}"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <button n:if="$debt->getCanEdit() || $debt->getCanSetSentDate()" href="{link debtEdit!}" class="btn btn-lg btn-primary binder-save-btn" title="{_common.save}"><i class="fa fa-save" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>

</div>
