{import $componentsDir . '/unsecured.latte'}

{block content}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 sh-box bg-light p-5 my-5">
            <h6>Zadejte Váš e-mail:</h6>
            {form pwdLostForm}
                <div class="row">
                    <div class="col">
                        {input email}
                    </div>
                </div>
                <div class="row">
                    <div class="col">{input send}</div>
                </div>
                <div class="row">
                    <div class="col-6"><a href="{plink :Sign:In:default}">Zpět</a></div>
                    <div class="col-6"><a href="{plink :Sign:Pwd:reset}">Zadat kód</a></div>
                </div>
            {/form}
        </div>
    </div>
</div>