{import $componentsDir . '/unsecured.latte'}

{block content}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-4 sh-box bg-light p-5 my-5">
            <h6>Vaše nové heslo :</h6>
                <div class="row">
                    <div class="col"><input type="text" value="{$pwdNew}" disabled="true" class="text-center" id="pwd" onclick="$(this).select()" /></div>
                </div>
                <div class="row">
                    <div class="col"><a href="{plink :Sign:In:default}" style="padding: 15px">Návrat na přihlášení</a></div>
                </div>
        </div>
    </div>
</div>