{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$publicPath}/resources/fullcalendar/fullcalendar.{$css}?ver={$appver}" />
<link rel='stylesheet' href="{$basePath}/skins/{$skin}/css/fullcalendar.css?ver={$appver}" />
{include $componentsDir . '/statusColors.latte', statusList: $statusList}
{/block}

{block scripts}
{include parent}
<script src="{$publicPath}/resources/fullcalendar/fullcalendar.{$js}?ver={$appver}"></script>
<script src="{$publicPath}/resources/fullcalendar/locale/{$locale}.js?ver={$appver}"></script>

<script>
    $(document).ready(function () {
        var defaultView = (localStorage.getItem("fcDefaultView") != null ? localStorage.getItem("fcDefaultView") : "month"); 
        var defaultStartDate = (localStorage.getItem("fcDefaultStartDate") != null ? moment(localStorage.getItem("fcDefaultStartDate")) : moment()); 

        $('#calendar').fullCalendar({
            defaultView: defaultView, 
            locale: locale,
            height: 500,
            fixedWeekCount: false,
            events: function (start, end, timezone, callback) {
                var events = [];
    {foreach $events as $evnt}
                events.push({l}id: {$evnt->getId()}, title: {$evnt->getCaption()}, start: {$evnt->getStartTime()|date:\Tymy\Module\Core\Model\BaseModel::DATETIME_ISO_FORMAT}, end: {$evnt->getEndTime()|date:\Tymy\Module\Core\Model\BaseModel::DATETIME_ISO_FORMAT}, backgroundColor: {$evnt->getBackgroundColor()}, borderColor: {$evnt->getBorderColor()}, textColor: {$evnt->getTextColor()}, url: {plink ':Event:Detail:', $evnt->getWebName()}{r});
    {/foreach}
                                callback(events);
                            },
                            eventRender: function (event, element) {
                                element.find('.fc-title').attr("title", event.description);
                                if (event.end && event.end.isBefore())
                                    element.addClass("past");
                            },
                            header: {
                                left: 'title',
                                center: '',
                                right: 'today month,basicWeek,basicDay prev,next'
                            },
                            viewRender: function (view) {
                                loadAgenda({plink :Event:Default:});
                                localStorage.setItem("fcDefaultView", view.name);
                                localStorage.setItem("fcDefaultStartDate", view.currentRange.start.format());
                                localStorage.setItem("fcDefaultEndDate", view.currentRange.end.format());
                            },
                            loading: function (isLoading, view) {
                                if (isLoading) {
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', true);
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', true);
                                } else {
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', false);
                                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', false);
                                }
                            }
                        });
        
                        $('#calendar').fullCalendar('gotoDate', defaultStartDate); 
                        $('#calendar DIV.fc-header-toolbar').addClass("card-header");
                        $('#calendar DIV.fc-button-group').addClass("btn-group");
                        $('#calendar DIV.fc-header-toolbar BUTTON').each(function () {
                            $(this).addClass("btn btn-light btn-light-bordered");
                        });
                    });
</script>
{/block}

{block content}


<div class="container-fluid container-md events">
    <div class="row">
        <div class="col-md-7 my-3">
            <div class="card sh-box" id='calendar'></div>
        </div>

        <div class="col-md-5 agenda-wrapper my-3" n:snippet="events-agenda">
            {var $actMonth=$agendaFrom}
            {while strtotime($actMonth)<=strtotime($agendaTo)}
                <div class="card sh-box agenda" data-month="{$actMonth}" style="display: none">
                    <div class="card-header">
                        <span class="mr-auto">{_event.agenda}</span>
                        <button class="btn btn-sm btn-light btn-light-bordered float-right" title="{_event.showHidePastEvents}" onclick="togglePast()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    </div>
                    <div class="card-body">
                        {if isset($evMonths[$actMonth]) && count($evMonths[$actMonth]) > 0 }
                            {foreach $evMonths[$actMonth] as $ev}
                                <div n:class="row, $ev->getInPast() ? evnt-past, $ev->getInPast() ? collapse">
                                    <div class="col" title=" {$ev->getCaption()} ({$eventTypes[$ev->getType()]->getCaption()})&#13;{$ev->getStartTime()|date:'j.n. H:i'} -> {$ev->getEndTime()|date:'j.n H:i'}"><a href="{plink :Event:Detail:, $ev->getWebName()}}" class="event-heading">{$ev->getCaption()}</a><span class="event-time text-muted float-right">{$ev->getStartTime()|date:'j.n. H:i'}</span></div>
                                </div>
                                <div n:class="row, mb-2, $ev->getInPast() ? evnt-past, $ev->getInPast() ? collapse">
                                    <div class="col">
                                        <input n:if="count($eventTypes[$ev->getType()]->getPreStatusSet()) >= 4" type="text" class="form-control form-control-sm" style="min-width: 130px" title="{_note.note,1}" placeholder="{_note.note,1}" name="preStatusDesc" value="{$ev->getMyAttendance() ? $ev->getMyAttendance()->getPreDescription() : null}" />

                                        <div class="btn-group input-group px-0" role="group" aria-label="Basic example" id="action-{$ev->getId()}">
                                            <input n:if="count($eventTypes[$ev->getType()]->getPreStatusSet()) < 4" id="preStatusDesc-action-{$ev->getId()}" type="text" class="form-control form-control-sm" style="min-width: 130px" title="{_note.note,1}" placeholder="{_note.note,1}" name="preStatusDesc" value="{$ev->getMyAttendance() ? $ev->getMyAttendance()->getPreDescription() : null}" />
                                            {foreach $eventTypes[$ev->getType()]->getPreStatusSet() as $preStatus}
                                                <button onclick="updateAttendance(this, {link attendance! $ev->getId(), $preStatus->getId()})" class="btn btn-sm {$ev->getMyAttendance(),$preStatus->getId(),$ev->getCanPlan(),$ev->getCloseTime()|prestatusClass}">{$preStatus->getCaption()}</button>
                                            {/foreach}
                                        </div>
                                    </div>
                                </div>
                            {/foreach}
                        {else}
                            {_event.noEvent}
                        {/if}
                    </div>
                </div>
                {php $actMonth=date('Y-m', strtotime($actMonth.' + 1 month'));}
            {/while}
        </div>
    </div>

</div>

