{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/Event/EventAttendanceSet.js?ver={$appver}"></script>
{/block}

{block styles}
{include parent}
<style type="text/css">
    {foreach $statusList as $status}
    .attendance{$status->getCode()} { color: {$status|statusColor}; border-color: {$status|statusColor}; background-color: transparent; background-image: none; }
    .attendance{$status->getCode()}.active { color: #fff; border-color: {$status|statusColor}; background-color: {$status|statusColor}; }
    .attendance{$status->getCode()}:hover { color: #fff; border-color: {$status|statusColor}; background-color: {$status|statusColor}; }
    .attendance{$status->getCode()}:not(:disabled):not(.disabled).active { color: #fff; border-color: {$status|statusColor}; background-color: {$status|statusColor}; }
    BUTTON.disabled { cursor: auto }
    {/foreach}
</style>
{/block}

{block content}

<div class="container event">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><h4 class="card-title">{$event->getCaption()}</h4></div>
                        <div class="col col-md-auto">
                            <a class="btn btn-sm btn-outline-dark ajax" n:href="loadHistory!" n:snippet="historyBtn" onclick="btnRotate($(this), true)" title="{_event.displayHistory}"><i class="fas fa-history"></i></a>
                            <a n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('EVE_UPDATE'))" class="btn btn-sm btn-light btn-light-bordered" title="{_common.edit}" href="{plink :Setting:Event: $event->getWebName()}"><i class="fa fa-edit" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    
                    {var $mapLink = filter_var($event->getPlace(), FILTER_VALIDATE_URL) ? $event->getPlace() : 'https://www.google.com/maps/search/?api=1&query='.urlencode($event->getPlace())}
                    <h6 class="card-subtitle mb-2 text-muted">{$eventType->getCaption()}<span n:if="$event->getPlace()"> - <a href="{$mapLink}" target="blank" title="{_event.openMap}">{$event->getPlace()}</a></span><span n:if="$event->getLink()"> - <a href="{$event->getLink()}" target="_blank">[{_common.link}]</a></span></h6>
                    <p class="card-text">{$event->getDescription()}</p>
                    <div class="row">
                        <div class="col-lg-4">
                            <table class="table mb-0">
                                <tr><th>{_event.start}:</th><td>{$event->getStartTime()|date:'d.n.Y H:i'}</td></tr>
                                <tr><th>{_event.end}:</th><td>{$event->getEndTime()|date:'d.n.Y H:i'}</td></tr>
                                <tr><th>{_event.close}:</th><td>{$event->getCloseTime()|date:'d.n.Y H:i'}</td></tr>
                            </table>
                        </div>
                        <div class="col-lg-8 d-flex flex-column-reverse align-items-center">
                            <div class="custom-container btn-group input-group pb-2" role="group" aria-label="Attendace setup container" id="action-{$event->getId()}">
                                <input type="text" class="form-control form-control-sm custom-btn-sm" title="{_note.note,1}" name="preStatusDesc" value="{$event->getMyAttendance() ? $event->getMyAttendance()->getPreDescription() : ''}" />
                                {foreach $eventType->getPreStatusSet() as $preStatus}
                                    <button onclick="updateAttendance(this, {link attendance! $event->getId(), $preStatus->getCode()})" class="btn custom-btn-sm {$event->getMyAttendance(),$event->getType(),$preStatus->getCode(),$event->getCanPlan(),$event->getCloseTime()|prestatusClass}">{$preStatus->getCaption()}</button>
                                {/foreach}
                            </div>
                            {snippet attendanceWarning}
                                <div class="alert alert-danger" n:if="$event->getAttendancePending()"><i class="fa fa-arrow-down" aria-hidden="true"></i> {_event.attendanceNotFilled} ! <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                            {/snippet}
                        </div>
                    </div>
                    {snippet history}
                    <div class="row justify-content-center" n:ifset="$histories">
                        <div class="col-12 mt-5">
                            <h6 class="mb-2 text-muted">Historie</h6>
                        </div>
                        <div class="col-lg-10">
                            <table class="table table-hover table-sm tymy-event-history">
                                <tr n:foreach="$histories as $history">
                                    {var $prestatusFrom = empty($history->getPreStatusFrom()) ? $emptyStatus : $eventType->getPreStatusSet()[$history->getPreStatusFrom()]}
                                    {var $prestatusTo = empty($history->getPreStatusTo()) ? $emptyStatus : $eventType->getPreStatusSet()[$history->getPreStatusTo()]}
                                    <th scope="row">
                                        <figure class="figure text-center" style="width: 100px; margin-bottom: 0px">
                                            <a href="{plink :Team:Player: $history->getUser()->getWebName()}">
                                                <img src="{$tymyRoot}/{$history->getUser()->getPictureUrl()}" class="figure-img img-fluid rounded user_pic mb-0" />
                                            </a>
                                        </figure>
                                    </th>
                                    <td>
                                        <div class="text-muted">{$history->getUser()->getCallName()}</div>
                                        <div class="text-muted"><small>{$history->getUpdateAt()|date:'j.n.Y H:i'}</small></div>
                                    </td>
                                    <td class="tymy-status">
                                        <h5><span class="badge attendance{$prestatusFrom->getCode()} active">{$prestatusFrom->getCaption()}</span></h5>
                                        <div class="text-muted" n:if="$history->getPreDescFrom()"><small>{$history->getPreDescFrom()}</small></div>
                                    </td>
                                    <td class="tymy-status"><h3><i class="fas fa-long-arrow-alt-right"></i></h3></td>
                                    <td class="tymy-status">
                                        <h5><span class="badge attendance{$prestatusTo->getCode()} active">{$prestatusTo->getCaption()}</span></h5>
                                        <div class="text-muted" n:if="$history->getPreDescTo()"><small>{$history->getPreDescTo()}</small></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    {/snippet}
                </div>
            </div>
  
            <div class="card sh-box my-3" n:snippet="attendanceTabs">
                <div class="card-header">
                    <ul class="nav nav-tabs flex-column flex-sm-row card-header-tabs" role="tablist">
                        {var $first = true}
                        {foreach $allUsers as $mainKey => $statusSet}
                            {foreach $allUsers[$mainKey] as $key => $status}
                                {if count($status)}
                                    {var $count = array_sum(array_map('count', $status))}
                                    {if $mainKey == 'PRE'}
                                        {var $caption = $key == 'UNKNOWN' ? $cptNotDecidedYet : $eventType->get/reStatusSet()[$key]->getCaption()}
                                    {else}
                                        {var $caption = $key == 'YES' ? $cptArrived : $cptNotArrived}
                                    {/if}
                                    
                                    <li class="nav-item">
                                        <a n:class="flex-sm-fill, text-sm-center, nav-link, $first ? active" href="#{$caption|webalize}" data-toggle="tab" role="tab">{$caption} ({$count})</a>
                                    </li>
                                    {var $first = false}
                                {/if}
                            {/foreach}
                        {/foreach}
                    </ul>
                </div>

                <div class="card-body">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {var $first = true}
                        {foreach $allUsers as $mainKey => $statusSet}
                        {foreach $allUsers[$mainKey] as $key => $status}
                            {if count($status)}
                                    {if $mainKey == 'PRE'}
                                        {var $caption = $key == 'UNKNOWN' ? $cptNotDecidedYet : $eventType->getPreStatusSet()[$key]->getCaption()}
                                    {else}
                                        {var $caption = $key == 'YES' ? $cptArrived : $cptNotArrived}
                                    {/if}
                                <div n:class="tab-pane, fade, $first ? show, $first ? active, player-list" id="{$caption|webalize}" role="tabpanel">
                                    <div n:if="count($usrs)>0" n:foreach="$status as $gender => $usrs" class="row my-2">
                                        <div class="col-2 player-heading">
                                            <h6 style="font-weight: bold">{$gender|genderTranslate} ({count($usrs)}):</h6>
                                            <div n:class="btn-group,result,$resultsClosed ? d-none" role="group" aria-label="{_event.attendanceResult} ({$gender|genderTranslate})" n:if="$event->getCanResult() && $event->getInPast()">
                                                <button type="button" class="btn btn-sm btn-outline-danger" onclick="genderNCame(this)" title="{_event.notArrived,2}"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-success" onclick="genderCame(this)" title="{_event.arrived,2}"><i class="fa fa-check-square" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <figure n:foreach="$usrs as $usr" id="player-{$usr->getId()}" class="figure text-center player" style="width: 100px">
                                                <a href="{plink :Team:Player: $usr->getWebName()}">
                                                    <img src="{$tymyRoot}/{$usr->getPictureUrl()}" class="figure-img img-fluid rounded" alt="{$usr->getFullName()}" />
                                                    <figcaption class="figure-caption">{$usr->getDisplayName()}</figcaption>
                                                    <figcaption n:ifset="$event->getAttendance()[$usr->getId()]" class="figure-caption" style="font-size: 70%; display: inline-block">{$usr->getPreDescription()}</figcaption>
                                                </a>
                                                <div n:class="btn-group,result,$resultsClosed ? d-none" role="group" aria-label="{_event.attendanceResult}" n:if="$event->getCanResult() && $event->getInPast()">
                                                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="ncame(this)" title="{_event.notArrived,1}"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-sm btn-outline-success" onclick="came(this)" title="{_event.arrived,1}"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                {var $first = false}
                            {/if}
                        {/foreach}
                        {/foreach}
                    </div>
                </div>
                <div class="card-footer text-right" n:if="$event->getCanResult() && $event->getInPast()">
                    <button class="btn btn-lg btn-light btn-light-bordered" n:if="$resultsClosed" onclick="resultsToggle(true)" title="{_event.setAttendanceResult}"><i class="fa fa-user-circle" aria-hidden="true"></i></button>
                    <button n:class="btn,btn-lg,btn-outline-primary,result,update,$resultsClosed ? d-none" onclick="saveAttendanceResults(this, {link attendanceResult! $event->getId()})" title="{_event.saveAttendanceResult}"><i class="fa fa-save" aria-hidden="true"></i></button>
                </div>
            </div>


        </div>
    </div>

</div>
