{import '../common.latte'}

{block navbar}
{control navbar}
{/block}

{block content}

<div class="container users">
    {foreach $users as $u}
        {if $iterator->first}<div class="row">{/if}
            <div class="col-sm-3 mt-3" cnt="{$iterator->getCounter()}">
                <div class="card sh-box">
                    <div class="card-header py-1 {$u->gender}">
                        <span class="name">{$u->displayName}{if $u->jerseyNumber != ""} (#{$u->jerseyNumber}){/if}</span>
                        <span n:if="$u->isNew" class="badge badge-success float-right">Nový</span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <img class="user_pic" src="{$tymyRoot}/{$u->pictureUrl}" />
                            </div>
                            <div class="col-9">
                                <p class="card-text"><strong n:if="property_exists($u, 'fullName')">{$u->fullName}</strong></p>
                            </div>
                        </div>
                        <div class="btn-group user" role="group" aria-label="Basic example">
                            <a href="mailto:{$u->email}" n:if="property_exists($u, 'email')" class="btn btn-sm btn-light btn-light-bordered" title="Nový e-mail na {$u->email}" role="button" aria-pressed="true"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                            <a href="{plink Team:player $u->webName}" class="btn btn-light btn-light-bordered btn-sm" role="button" aria-pressed="true"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        </div>

                    </div>
                </div>
            </div>
            {if $iterator->getCounter() % 4 == 0}
            </div><div class="row">
            {/if}
            {if $iterator->last}</div>{/if}
        {/foreach}
    <div class="row mt-3">
        <div class="col">
            <div class="card sh-box bg-light">
                <div class="card-header text-right py-2">
                    <a href="mailto:{$allMails}" class="btn btn-lg btn-light btn-light-bordered" title="Nový e-mail všem" role="button" aria-pressed="true"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
