<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Nový hráč v týmu {$team|upper}</title>
</head>
<body>
    <p>Ve Vámi spravovaném týmu {$team|upper} se právě zaregistroval nový hráč {$callName}. Povolte mu členství v nastavení uživatele kliknutím na menu <strong>Tým -> Registrovaní</strong></p>
    
        <table>
            <tr><th colspan="2">Zadané hodnoty</th></tr>
            <tr n:if="$login"><th>Login: </th><td>{$login}</td></tr>
            <tr n:if="$firstName"><th>Křestní jméno: </th><td>{$firstName}</td></tr>
            <tr n:if="$lastName"><th>Příjmení: </th><td>{$lastName}</td></tr>
            <tr n:if="$email"><th>E-mail: </th><td>{$email}</td></tr>
            <tr n:if="$adminNote"><th>Poznámka: </th><td>{$adminNote}</td></tr>
        </table>
        
    <p>Zobrazení uživatele a jeho registraci můžete rovněž provést kliknutím na tento odkaz: <a href="{$playerLink}" target="blank">{$playerLink}</a></p>
    
</body>
</html>