/* 
    Created on : 14.12.2017, 13:12:06
    Author     : kminekmatej
*/


DIV.card DIV.card-header SPAN.name{
    font-weight: bold;
}

DIV.card-header.post-mine{
    color: #0275d8;
}

BUTTON.btn.delete:hover, A.btn.delete:hover{
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

IMG.user_pic{
    float: left;
    margin: 0px 30px 10px 0px;
}

DIV.card-body OL{
    display: inline-block;
}

.addPost{
    background-color: white; 
    padding: 2px; 
    text-align: right;
    border: 1px solid #d1d1d1; 
    border-top-width: 0px;
}

.addPost[data-postId=''] BUTTON#editPost{
    display: none;
}

DIV.row DIV.card-body blockquote{
    margin: 10px;
    border-left: solid 5px #dedede;
    padding: 10px;
    font-style: italic;
}

DIV.row DIV.card-body blockquote P{
    margin: 0px;
}