{import $componentsDir . '/secured.latte'}

{block scripts}
{include parent}
<script src="{$basePath}/js/Binder.js?ver={$appver}"></script>
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/skins/{$skin}/css/table-xs.css?ver={$appver}" />
{/block}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container-fluid settings">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <h4>{_poll.configPolls}</h4>
                </div>
                <div class="card-body">
                    <table class="table table-xs table-hover">
                        <tr>
                            <th></th>
                            <th>{_settings.title}</th>
                            <th>{_settings.description}</th>
                            <th>{_settings.status}</th>
                            <th title="{_poll.minItems}">{_poll.min}</th>
                            <th title="{_poll.maxItems}">{_poll.max}</th>
                            <th title="{_poll.displayInMainMenu}">{_common.menu}</th>
                            <th title="{_poll.anonymousVotes}">{_poll.anonym}</th>
                            <th title="{_poll.setChangeableVotes}">{_poll.changeOfVotes}</th>
                            <th>{_poll.displayResults}</th>
                            <th title="{_poll.canVoteRight}">{_poll.canVote}</th>
                            <th title="{_poll.canDisplayResultsRight}">{_poll.canDisplayResults}</th>
                            <th title="{_poll.canAlienVoteRight}">{_poll.canAlienVote}</th>
                            <th title="{_settings.order}">{_settings.order}</th>
                            <th></th>
                        </tr>
                        <tr n:foreach="$polls as $poll" data-binder-id="{$poll->getId()}">
                            <td>
                                <a href="{plink :Setting:Poll: $poll->getWebName()}" class="btn btn-sm btn-light btn-light-bordered"  title="{_common.edit}" style="margin-right: 2px">
                                    <i class="fa fa-external-link-alt" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td><input type="text" name="caption" data-value="{$poll->getCaption()}" value="{$poll->getCaption()}" class="form-control form-control-sm" style="max-width: 100px;" required/></td>
                            <td><textarea name="description" data-value="{$poll->getDescription()}" rows="1" class="form-control form-control-sm">{$poll->getDescription()}</textarea></td>
                            <td>
                                <select name="status" data-value="{$poll->getStatus()}" class="form-control form-control-sm">
                                    <option value="DESIGN" n:attr="selected => $poll->getStatus() == 'DESIGN'">{_poll.design}</option>
                                    <option value="OPENED" n:attr="selected => $poll->getStatus() == 'OPENED'">{_poll.opened}</option>
                                    <option value="CLOSED" n:attr="selected => $poll->getStatus() == 'CLOSED'">{_poll.closed}</option>
                                </select>
                            </td>
                            <td><input type="number" name="minItems" data-validation-field2="maxItems" min="0" data-value="{$poll->getMinItems()}" value="{$poll->getMinItems()}" class="form-control form-control-sm" style="max-width: 70px;" required/></td>
                            <td><input type="number" name="maxItems" data-validation-field2="minItems" min="0" data-value="{$poll->getMaxItems()}" value="{$poll->getMaxItems()}" class="form-control form-control-sm" style="max-width: 70px;" required/></td>

                            <td class="text-center"><label class="custom-control custom-checkbox custom-control-inline"><input type="checkbox" name="mainMenu" n:attr="data-value => $poll->getMainMenu(), checked => $poll->getMainMenu()" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td class="text-center"><label class="custom-control custom-checkbox custom-control-inline"><input type="checkbox" name="anonymousResults" n:attr="data-value => $poll->getAnonymousResults(), checked => $poll->getAnonymousResults()" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td class="text-center"><label class="custom-control custom-checkbox custom-control-inline"><input type="checkbox" name="changeableVotes" n:attr="data-value => $poll->getChangeableVotes(), checked => $poll->getChangeableVotes()" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td>
                                <select name="showResults" data-value="{$poll->getShowResults()}" class="form-control form-control-sm">
                                    <option value="NEVER" n:attr="selected => $poll->getShowResults() == 'NEVER'">{_poll.never}</option>
                                    <option value="ALWAYS" n:attr="selected => $poll->getShowResults() == 'ALWAYS'">{_poll.always}</option>
                                    <option value="AFTER_VOTE" n:attr="selected => $poll->getShowResults() == 'AFTER_VOTE'">{_poll.afterVote}</option>
                                    <option value="WHEN_CLOSED" n:attr="selected => $poll->getShowResults() == 'WHEN_CLOSED'">{_poll.whenClosed}</option>
                                </select>
                            </td>
                            <td>
                                <select name="voteRightName" data-value="{$poll->getVoteRightName()}" class="form-control form-control-sm">
                                    <option value="">-- {_common.everyone} --</option>
                                    <option n:foreach="$userPermissions as $userPermission" value="{$userPermission->getName()}" n:attr="selected => $poll->getVoteRightName() == $userPermission->getName()">{$userPermission->getCaption()}</option>
                                </select>
                            </td>
                            <td>
                                <select name="resultRightName" data-value="{$poll->getVoteRightName()}" class="form-control form-control-sm">
                                    <option value="">-- {_common.everyone} --</option>
                                    <option n:foreach="$userPermissions as $userPermission" value="{$userPermission->getName()}" n:attr="selected => $poll->getResultRightName() == $userPermission->getName()">{$userPermission->getCaption()}</option>
                                </select>
                            </td>
                            <td>
                                <select name="alienVoteRightName" data-value="{$poll->getVoteRightName()}" class="form-control form-control-sm">
                                    <option value="">-- {_common.everyone} --</option>
                                    <option n:foreach="$userPermissions as $userPermission" value="{$userPermission->getName()}" n:attr="selected => $poll->getAlienVoteRightName() == $userPermission->getName()">{$userPermission->getCaption()}</option>
                                </select>
                            </td>
                            <td><input name="orderFlag" data-value="{$poll->getOrderFlag()}" type="number" value="{$poll->getOrderFlag()}" class="form-control form-control-sm" style="max-width: 70px;"/></td>

                            <td class="btn-group" role="group">
                                <button n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('ASK.VOTE_UPDATE'))" href="{link pollEdit!}" class="btn btn-sm btn-primary binder-save-btn" title="{_common.save}" style="margin-right: 2px"><i class="fa fa-save" aria-hidden="true"></i></button>
                                <button n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('ASK.VOTE_UPDATE'))" href="{link pollDelete!}" class="btn btn-sm btn-danger binder-delete-btn" title="{_common.delete}"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('ASK.VOTE_UPDATE'))" class="btn btn-lg btn-success" href="{plink :Setting:Poll:new}" onclick="btnRotate($(this), true)" title="{_poll.createPoll}" style="margin-right: 10px">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

