{import $componentsDir . '/secured.latte'}

{block scripts}
{include parent}
<script src="{$publicPath}/js/Binder.js?ver={$appver}"></script>
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/skins/{$skin}/css/table-xs.css?ver={$appver}" />
{/block}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container settings">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <h4>{_poll.configPolls}</h4>
                </div>
                <div class="card-body">
                    {include $componentsDir . '/tymy-table.latte'}
                    <div class="card-footer text-right">
                        <a n:if="$user->isAllowed($user->getId(), \Tymy\Module\Permission\Model\Privilege::SYS('ASK.VOTE_UPDATE'))" class="btn btn-lg btn-success" href="{plink :Setting:Poll:new}" onclick="btnRotate($(this), true)" title="{_poll.createPoll}" style="margin-right: 10px">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

