{import '../components/secured.latte'}

{block scripts}
{include parent}
<script src="{$basePath}/js/Binder.js"></script>
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/css/table-xs.css" />
{/block}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container settings">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <h4>{if $isNew}Nová diskuze/i{else}Nastavení diskuzí{/if}</h4>
                </div>
                <div class="card-body">
                    <table class="table table-xs table-hover table-responsive">
                        <tr>
                            <th></th>
                            <th>Název</th>
                            <th>Popis</th>
                            <th>Číst může</th>
                            <th>Psát může</th>
                            <th>Mazat může</th>
                            <th>Topovat může</th>
                            <th>Veřejná</th>
                            <th>Úpravy</th>
                            <th>Pořadí</th>
                            <th></th>
                        </tr>
                        <tr n:foreach="$discussions as $d" data-binder-id="{$d->id}">
                            <td>
                                <a n:if="!$isNew" href="{plink Settings:discussions $d->webName}" class="btn btn-sm btn-light btn-light-bordered"  title="Upravit" style="margin-right: 2px">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td><input name="caption" data-value="{$d->caption}" type="text" value="{$d->caption}" class="form-control form-control-sm" style="max-width: 100px;" required/></td>
                            <td><textarea name="description" data-value="{$d->description}" rows="1" class="form-control form-control-sm">{$d->description}</textarea></td>

                            <td>
                                <select name="readRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- Všichni --</option>
                                </select>
                            </td>
                            <td>
                                <select name="writeRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- Všichni --</option>
                                </select>
                            </td>
                            <td>
                                <select name="deleteRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- Všichni --</option>
                                </select>
                            </td>
                            <td>
                                <select name="stickyRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- Všichni --</option>
                                </select>
                            </td>

                            <td class="text-center"><label class="custom-control custom-checkbox"><input name="publicRead" type="checkbox" n:attr="data-value => $d->publicRead ? 'true':'false', checked => $d->publicRead" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td class="text-center"><label class="custom-control custom-checkbox"><input name="editablePosts" type="checkbox" n:attr="data-value => $d->editablePosts ? 'true':'false', checked => $d->editablePosts" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td><input name="order" data-value="{$d->order}" type="number" value="{$d->order}" class="form-control form-control-sm" style="max-width: 60px;"/></td>
                            <td class="btn-group" role="group" n:if="$user->isAllowed('SYS','DSSETUP') || $isNew">
                                <button class="btn btn-sm btn-primary binder-save-btn" href="{link discussionEdit!}" title="Uložit"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                <button n:class="btn,btn-sm,btn-danger, !$isNew ? binder-delete-btn" href="{link discussionDelete!}" title="Smazat" n:attr="onclick => $isNew ? 'removeRow(this)'"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                    <div class="text-center" n:if="$isNew">
                        <button class="btn btn-sm btn-outline-success" title="Duplikovat" onclick="duplicateLastRow()"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a n:if="!$isNew" class="btn btn-lg btn-success" href="{plink Settings:discussion_new}" onclick="btnRotate($(this), true)" title="Vytvořit novou diskuzi" style="margin-right: 10px">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <button n:if="$user->isAllowed('SYS','DSSETUP')" class="btn btn-lg btn-primary binder-save-all-btn" href="{link discussionsEdit!}" title="Uložit vše"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
                
            </div>
        </div>
    </div>
</div>