{import '../components/secured.latte'}

{block scripts}
{include parent}
<script src="{$basePath}/js/Binder.js"></script>
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/css/table-xs.css" />
{/block}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container settings">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <h4>{_settings.}Nastavení poznámek</h4>
                </div>
                <div class="card-body">
                    <table class="table table-xs table-hover table-responsive">
                        <tr>
                            <th></th>
                            <th>{_settings.}Titulek</th>
                            <th>{_settings.}Popis</th>
                            <th title="{_settings.}Vyberte kdo má přístup k poznámce: Soukromá (pouze vy), Pro členy, Veřejná (jde zobrazit u bez přihlášení)">{_settings.}Přístup</th>
                            <th title="{_settings.}Uvést v hlavním menu">{_settings.}Menu</th>
                            <th title="{_settings.}Vyberte speciální systémový kód poznámky. Více viz O poznámkách">{_settings.}Systémová</th>
                            <th title="{_settings.}Pořadí v menu">{_settings.}Pořadí</th>
                            <th></th>
                        </tr>
                        {if count($notes)}
                            <tr n:foreach="$notes as $note" data-binder-id="{$note->id}">
                                <td>
                                    <a href="{plink Settings:notes $note->webName}" class="btn btn-sm btn-light btn-light-bordered"  title="{_common.edit}" style="margin-right: 2px">
                                        <i class="fa fa-external-link-alt" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td><input type="text" name="caption" data-value="{$note->caption}" value="{$note->caption}" class="form-control form-control-sm" required/></td>
                                <td><input type="text" name="description" data-value="{$note->description}" value="{$note->description}" class="form-control form-control-sm" required/></td>
                                <td>
                                    <select name="accessType" data-value="{$note->accessType}" class="form-control form-control-sm">
                                        <option value="PRIVATE" n:attr="selected => $note->accessType == 'PRIVATE'">{_settings.}Soukromá</option>
                                        <option value="USERS" n:attr="selected => $note->accessType == 'USERS'">{_settings.}Pro členy</option>
                                        <option value="PUBLIC" n:attr="selected => $note->accessType == 'PUBLIC'">{_settings.}Veřejná</option>
                                    </select>
                                </td>
                                <td class="text-center"><label class="custom-control custom-checkbox custom-control-inline"><input type="checkbox" name="menuType" n:attr="data-value => $note->menuType ? 'true':'false', checked => $note->menuType" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                                <td><input type="text" name="specialPage" data-value="{$note->specialPage}" value="{$note->specialPage}" class="form-control form-control-sm" required/></td>
                                <td><input name="menuOrder" data-value="{$note->menuOrder}" type="number" value="{$note->menuOrder}" class="form-control form-control-sm"/></td>

                                <td class="btn-group" role="group" n:inner-if="$note->canWrite">
                                    <button href="{link noteEdit!}" class="btn btn-sm btn-primary binder-save-btn" title="{_common.save}" style="margin-right: 2px"><i class="fa fa-save" aria-hidden="true"></i></button>
                                    <button href="{link noteDelete!}" class="btn btn-sm btn-danger binder-delete-btn" title="{_common.delete}"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </td>
                            </tr>
                        {/if}
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a class="btn btn-lg btn-success" href="{plink Settings:note_new}" onclick="btnRotate($(this), true)" title="{_settings.}Vytvořit novou poznámku" style="margin-right: 10px">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

