{import '../components/secured.latte'}

{block scripts}
{include parent}
<script src="{$basePath}/js/Binder.js"></script>
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/css/table-xs.css" />
{/block}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container settings">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <h4>{if $isNew}{_poll.newPoll}{else}{_poll.configPolls}{/if}</h4>
                </div>
                <div class="card-body">
                    <table class="table table-xs table-hover table-responsive">
                        <tr>
                            <th></th>
                            <th>{_settings.title}</th>
                            <th>{_settings.description}</th>
                            <th>{_settings.status}</th>
                            <th title="{_poll.minItems}">{_poll.min}</th>
                            <th title="{_poll.maxItems}">{_poll.max}</th>
                            <th title="{_poll.displayInMainMenu}">{_common.menu}</th>
                            <th title="{_poll.anonymousVotes}">{_poll.anonym}</th>
                            <th title="{_poll.setChangeableVotes}">{_poll.changeOfVotes}</th>
                            <th>{_poll.displayResults}</th>
                            <th title="{_poll.canVoteRight}">{_poll.canVote}</th>
                            <th title="{_poll.canDisplayResultRight}">{_poll.canDisplayResult}</th>
                            <th title="{_poll.canAlienVoteRight}">{_poll.canAlienVote}</th>
                            <th title="{_settings.order}">{_poll.}Pořadí</th>
                            <th></th>
                        </tr>
                        <tr n:foreach="$polls as $poll" data-binder-id="{$poll->id}">
                            <td>
                                <a n:if="!$isNew" href="{plink Settings:polls $poll->webName}" class="btn btn-sm btn-light btn-light-bordered"  title="{_common.edit}" style="margin-right: 2px">
                                    <i class="fa fa-external-link-alt" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td><input type="text" name="caption" data-value="{$poll->caption}" value="{$poll->caption}" class="form-control form-control-sm" style="max-width: 100px;" required/></td>
                            <td><textarea name="description" data-value="{$poll->description}" rows="1" class="form-control form-control-sm">{$poll->description}</textarea></td>
                            <td>
                                <select name="status" data-value="{$poll->status}" class="form-control form-control-sm">
                                    <option value="DESIGN" n:attr="selected => $poll->status == 'DESIGN'">{_poll.design}Design</option>
                                    <option value="OPENED" n:attr="selected => $poll->status == 'OPENED'">{_poll.opened}Aktivní</option>
                                    <option value="CLOSED" n:attr="selected => $poll->status == 'CLOSED'">{_poll.closed}Uzavřená</option>
                                </select>
                            </td>
                            <td><input type="number" name="minItems" data-validation-field2="maxItems" min="0" data-value="{$poll->minItems}" value="{$poll->minItems}" class="form-control form-control-sm" style="max-width: 70px;" required/></td>
                            <td><input type="number" name="maxItems" data-validation-field2="minItems" min="0" data-value="{$poll->maxItems}" value="{$poll->maxItems}" class="form-control form-control-sm" style="max-width: 70px;" required/></td>

                            <td class="text-center"><label class="custom-control custom-checkbox custom-control-inline"><input type="checkbox" name="mainMenu" n:attr="data-value => $poll->mainMenu ? 'true':'false', checked => $poll->mainMenu" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td class="text-center"><label class="custom-control custom-checkbox custom-control-inline"><input type="checkbox" name="anonymousResults" n:attr="data-value => $poll->anonymousResults ? 'true':'false', checked => $poll->anonymousResults" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td class="text-center"><label class="custom-control custom-checkbox custom-control-inline"><input type="checkbox" name="changeableVotes" n:attr="data-value => $poll->changeableVotes ? 'true':'false', checked => $poll->changeableVotes" class="form-control form-control-sm custom-control-input" /><span class="custom-control-label"></span></label></td>
                            <td>
                                <select name="showResults" data-value="{$poll->showResults}" class="form-control form-control-sm">
                                    <option value="NEVER" n:attr="selected => $poll->showResults == 'NEVER'">{_poll.never}</option>
                                    <option value="ALWAYS" n:attr="selected => $poll->showResults == 'ALWAYS'">{_poll.always}</option>
                                    <option value="AFTER_VOTE" n:attr="selected => $poll->showResults == 'AFTER_VOTE'">{_poll.afterVote}</option>
                                    <option value="WHEN_CLOSED" n:attr="selected => $poll->showResults == 'WHEN_CLOSED'">{_poll.whenClosed}</option>
                                </select>
                            </td>
                            <td>
                                <select name="voteRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- {_common.everyone} --</option>
                                </select>
                            </td>
                            <td>
                                <select name="resultRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- {_common.everyone} --</option>
                                </select>
                            </td>
                            <td>
                                <select name="alienVoteRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- {_common.everyone} --</option>
                                </select>
                            </td>
                            <td><input name="order" data-value="{$poll->orderFlag}" type="number" value="{$poll->orderFlag}" class="form-control form-control-sm" style="max-width: 70px;"/></td>

                            <td class="btn-group" role="group">
                                <button n:if="$user->isAllowed('poll','canUpdatePoll') || $isNew" href="{link pollEdit!}" class="btn btn-sm btn-primary binder-save-btn" title="{_common.save}" style="margin-right: 2px"><i class="fa fa-save" aria-hidden="true"></i></button>
                                <button n:if="$user->isAllowed('poll','canDeletePoll') || $isNew" href="{link pollDelete!}" n:class="btn,btn-sm,btn-danger, !$isNew ? binder-delete-btn" title="{_common.delete}" n:attr="onclick => $isNew ? 'removeRow(this)'"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a n:if="!$isNew && $user->isAllowed('poll','canCreatePoll')" class="btn btn-lg btn-success" href="{plink Settings:poll_new}" onclick="btnRotate($(this), true)" title="{_poll.createPoll}" style="margin-right: 10px">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

