{import '../common.latte'}

{block scripts}
{include parent}
<script src="{$basePath}/js/Binder.js"></script>
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/css/table-xs.css" />
{/block}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container settings">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <h4>{if $isNew}Nová anketa{else}Nastavení anket{/if}</h4>
                </div>
                <div class="card-body">
                    <table class="table table-xs table-hover table-responsive">
                        <tr>
                            <th></th>
                            <th>Titulek</th>
                            <th>Popis</th>
                            <th>Status</th>
                            <th title="Minimální počet vyplněných položek">Min</th>
                            <th title="Maximální počet vyplněných položek">Max</th>
                            <th title="Uvést v hlavním menu">Menu</th>
                            <th title="Anonymní hlasování">Anonym</th>
                            <th title="Povolit změnu názoru">Změna názoru</th>
                            <th>Zobrazit výsledky</th>
                            <th title="Oprávnění pro hlasování">Může hlasovat</th>
                            <th title="Oprávnění pro prohlížení výsledků">Může prohlížet</th>
                            <th title="Oprávnění pro zastoupení v hlasování">Může zastoupit</th>
                            <th title="Pořadí v menu">Pořadí</th>
                            <th></th>
                        </tr>
                        <tr n:foreach="$polls as $poll" data-binder-id="{$poll->id}">
                            <td>
                                <a n:if="!$isNew" href="{plink Settings:polls $poll->webName}" class="btn btn-sm btn-light btn-light-bordered"  title="Upravit" style="margin-right: 2px">
                                    <i class="fa fa-external-link" aria-hidden="true"></i>
                                </a>
                            </td>
                            <td><input type="text" name="caption" data-value="{$poll->caption}" value="{$poll->caption}" class="form-control form-control-sm" style="max-width: 100px;" required/></td>
                            <td><textarea name="description" data-value="{$poll->description}" rows="1" class="form-control form-control-sm">{$poll->description}</textarea></td>
                            <td>
                                <select name="status" data-value="{$poll->status}" class="form-control form-control-sm">
                                    <option value="DESIGN" n:attr="selected => $poll->status == 'DESIGN'">Design</option>
                                    <option value="OPENED" n:attr="selected => $poll->status == 'OPENED'">Aktivní</option>
                                    <option value="CLOSED" n:attr="selected => $poll->status == 'CLOSED'">Uzavřená</option>
                                </select>
                            </td>
                            <td><input type="number" name="minItems" data-value="{$poll->minItems}" value="{$poll->minItems}" class="form-control form-control-sm" style="max-width: 70px;" required/></td>
                            <td><input type="number" name="maxItems" data-value="{$poll->maxItems}" value="{$poll->maxItems}" class="form-control form-control-sm" style="max-width: 70px;" required/></td>
                            
                            <td class="text-center"><label class="custom-control custom-checkbox"><input type="checkbox" name="mainMenu" n:attr="data-value => $poll->mainMenu ? 'true':'false', checked => $poll->mainMenu" class="form-control form-control-sm custom-control-input" /><span class="custom-control-indicator"></span></label></td>
                            <td class="text-center"><label class="custom-control custom-checkbox"><input type="checkbox" name="anonymousResults" n:attr="data-value => $poll->anonymousResults ? 'true':'false', checked => $poll->anonymousResults" class="form-control form-control-sm custom-control-input" /><span class="custom-control-indicator"></span></label></td>
                            <td class="text-center"><label class="custom-control custom-checkbox"><input type="checkbox" name="changeableVotes" n:attr="data-value => $poll->changeableVotes ? 'true':'false', checked => $poll->changeableVotes" class="form-control form-control-sm custom-control-input" /><span class="custom-control-indicator"></span></label></td>
                            <td>
                                <select name="showResults" data-value="{$poll->showResults}" class="form-control form-control-sm">
                                    <option value="NEVER" n:attr="selected => $poll->showResults == 'NEVER'">Nikdy</option>
                                    <option value="ALWAYS" n:attr="selected => $poll->showResults == 'ALWAYS'">Vždy</option>
                                    <option value="AFTER_VOTE" n:attr="selected => $poll->showResults == 'AFTER_VOTE'">Hlasujícím</option>
                                    <option value="WHEN_CLOSED" n:attr="selected => $poll->showResults == 'WHEN_CLOSED'">Po uzavření</option>
                                </select>
                            </td>
                            <td>
                                <select name="voteRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- Všichni --</option>
                                </select>
                            </td>
                            <td>
                                <select name="resultRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- Všichni --</option>
                                </select>
                            </td>
                            <td>
                                <select name="alienVoteRightName" data-value class="form-control form-control-sm">
                                    <option value="">-- Všichni --</option>
                                </select>
                            </td>
                            <td><input name="order" data-value="{$poll->orderFlag}" type="number" value="{$poll->orderFlag}" class="form-control form-control-sm" style="max-width: 70px;"/></td>
                            
                            <td class="input-group">
                                <button n:if="!$isNew && $user->isAllowed('SYS','ASK.VOTE_UPDATE')" href="{link pollEdit!}" class="btn btn-sm btn-primary binder-save-btn" title="Uložit" style="margin-right: 2px"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                <button n:if="$user->isAllowed('SYS','ASK.VOTE_DELETE')" href="{link pollDelete!}" class="btn btn-sm btn-danger binder-delete-btn" title="Smazat"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a n:if="!$isNew && $user->isAllowed('SYS','ASK.VOTE_CREATE')" class="btn btn-lg btn-success" href="{plink Settings:poll_new}" onclick="btnDisable($(this), true)" title="Vytvořit novou anketu" style="margin-right: 10px">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                    <button n:if="$user->isAllowed('SYS','ASK.VOTE_UPDATE')" class="btn btn-lg btn-primary binder-save-all-btn" href="{link pollsEdit!}" title="Uložit vše"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
                
            </div>
        </div>
    </div>
</div>

