
/* 
    Created on : 11.12.2017, 15:11:18
    Author     : kminekmatej
*/

.set-box A:hover{
    text-decoration: none;
}

DIV.btnbox{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.card-header.MALE{
    font-weight: bold;
    color: #7193BD;
}

.card-header.FEMALE{
    font-weight: bold;
    color: violet;
}