{import '../common.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script>
    $(document).ready(function () {
        stats();
    });
</script>
{/block}

{block content}

<div class="container poll" n:attr="data-min-items => isset($poll->minItems) ? $poll->minItems : 0, data-max-items=>isset($poll->maxItems) ? $poll->maxItems : 999" data-show-results="{$poll->showResults}" data-radio-layout="{$poll->radio ? 'true' : 'false'}">
    <div class="row">
        <div class="col my-3">
            <div class="card sh-box">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-info-circle mx-3" aria-hidden="true"></i>
                            <span n:ifset="$poll->minItems" class="badge badge-info"><strong>Minimum vyplněných položek: {$poll->minItems}</strong></span>
                            <span n:ifset="$poll->maxItems" class="badge badge-warning"><strong>Maximum vyplněných položek: {$poll->maxItems}</strong></span>
                            <span n:class="badge,$poll->changeableVotes ? badge-success : badge-danger"><strong>Hlasování se {if $poll->changeableVotes}dá{else}nedá{/if} měnit</strong></span>
                            <span n:class="badge,$poll->anonymousResults ? badge-success : badge-danger"><strong>Anketa {if $poll->anonymousResults}je{else}není{/if} anonymní</strong></span>
                            {if $poll->showResults == 'AFTER_VOTE'}
                                {if $poll->voted}
                                    {var $resultsClass = 'badge-success'}
                                    {var $resultsDesc = 'Výsledky jsou zobrazeny'}
                                {else}
                                    {var $resultsClass = 'badge-info'}
                                    {var $resultsDesc = 'Výsledky budou zobrazeny po odhlasování'}
                                {/if}
                            {elseif $poll->showResults == 'NEVER'}
                                {var $resultsClass = 'badge-danger'}
                                {var $resultsDesc = 'Výsledky jsou tajné'}
                            {elseif $poll->showResults == 'ALWAYS'}
                                {var $resultsClass = 'badge-success'}
                                {var $resultsDesc = 'Výsledky jsou zobrazeny'}
                            {elseif $poll->showResults == 'WHEN_CLOSED'}
                                {if $poll->status == 'CLOSED'}
                                    {var $resultsClass = 'badge-success'}
                                    {var $resultsDesc = 'Výsledky jsou zobrazeny'}
                                {else}
                                    {var $resultsClass = 'badge-info'}
                                    {var $resultsDesc = 'Výsledky budou zobrazeny až po uzavření ankety'}
                                {/if}
                            {/if}
                            <span class="badge {$resultsClass}">{$resultsDesc}</span>
                        </div>
                    </div>
                </div>
                <!-- Tab panes -->
                <div class="card-body">
                    <h4 class="card-title">{$poll->caption}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{$poll->description}</h6>
                    <div class="container">
                        <div class="row">
                            {foreach $poll->options as $opt}
                                <div class="col-3 py-3 option" id="option-{$opt->id}">
                                    <h5 n:if="!$poll->radio">{$opt->caption}</h5>
                                    {if $opt->type == 'TEXT'}
                                        <input type="text" value="{ifset $poll->myVotes[$opt->id]}{$poll->myVotes[$opt->id]->stringValue}{/ifset}" class="form-control" />
                                    {/if}
                                    {if $opt->type == 'NUMBER'}
                                        <input type="number" value="{ifset $poll->myVotes[$opt->id]}{$poll->myVotes[$opt->id]->numericValue}{/ifset}" class="form-control" />
                                    {/if}
                                    {if $opt->type == 'BOOLEAN'}
                                        {if $poll->radio}
                                            <div class="btn-group">
                                                <button n:class="btn,btn-outline-warning,isset($poll->myVotes[$opt->id]) && $poll->myVotes[$opt->id]->booleanValue ? active" style="min-width:69px" data-value="true" onclick="checkBool(this)">{$opt->caption}</button>
                                            </div>
                                        {else}
                                            <div class="btn-group">
                                                <button n:class="btn,btn-outline-success,isset($poll->myVotes[$opt->id]) && $poll->myVotes[$opt->id]->booleanValue ? active" style="width:69px" data-value="true" onclick="checkBool(this)">ANO</button>
                                                <button n:class="btn,btn-outline-danger,isset($poll->myVotes[$opt->id]) && !$poll->myVotes[$opt->id]->booleanValue ? active" style="width:69px" data-value="false" onclick="checkBool(this)">NE</button>
                                            </div>
                                        {/if}
                                        
                                    {/if}

                                </div>
                            {/foreach}
                        </div></div>
                </div>
                <div class="card-footer text-right">
                    <button onclick="updatePoll(this, {link vote! $poll->id})" class="btn btn-primary">Hlasovat</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row" n:snippet="poll-results">
    {*SHOW RESULTS ONLY UNDER SPECIFIC CONDITIONS*}
    {var $show = FALSE}
    {if $poll->showResults == 'AFTER_VOTE' && $poll->voted}{var $show = TRUE}{/if}
    {if $poll->showResults == 'WHEN_CLOSED' && $poll->status == 'CLOSED'}{var $show = TRUE}{/if}
    {if $poll->showResults == 'ALWAYS'}{var $show = TRUE}{/if}
    {if $show}
        <div class="col my-3">
            <div class="card sh-box text-white bg-dark">
                <div class="card-header">
                    <h4 class="card-title">Výsledky hlasování</h4>
                    <table class="table table-inverse table-striped table-hover">
                        <tr>
                            <th>Uživatel</th>
                            <th n:foreach="$poll->options as $option">{$option->caption}</th>
                        </tr>
                        {foreach $poll->orderedVotes as $userId => $vote}
                            <tr data-vote data-gender="{$users->data[$userId]->gender}" data-status="{$users->data[$userId]->status}">
                                <th><a href="{plink Team:player $users->data[$userId]->webName}">{$users->data[$userId]->callName}</a></th>
                                    {foreach $poll->options as $option}
                                    {ifset $vote[$option->id]}
                                        {ifset $vote[$option->id]->numericValue}
                                            <td data-option-type="{$option->type}" data-option-id="{$option->id}" data-option-value="{$vote[$option->id]->numericValue}">{$vote[$option->id]->numericValue}</td>
                                        {/ifset}
                                        {ifset $vote[$option->id]->stringValue}
                                            <td data-option-type="{$option->type}" data-option-id="{$option->id}" data-option-value="{$vote[$option->id]->stringValue}">{$vote[$option->id]->stringValue}</td>
                                        {/ifset}
                                        {ifset $vote[$option->id]->booleanValue}
                                            {if $poll->radio}
                                                <td data-option-type="{$option->type}" data-option-id="{$option->id}" data-option-value="true"><span n:class="badge, badge-warning">{$option->caption}</span></td>
                                            {else}
                                                <td data-option-type="{$option->type}" data-option-id="{$option->id}" data-option-value="{$vote[$option->id]->booleanValue ? 'true' : 'false'}"><span n:class="badge, $vote[$option->id]->booleanValue ? 'badge-success' : 'badge-danger' ">{if $vote[$option->id]->booleanValue}ANO{else}NE{/if}</span></td>
                                            {/if}
                                        {/ifset}
                                    {else}
                                        <td data-option-type="{$option->type}" data-option-id="{$option->id}" data-option-value></td>
                                    {/ifset}
                                {/foreach}
                            </tr>
                        {/foreach}
                    </table>
                </div>
            </div>
        </div>
    {/if}
    </div>
</div>