    /* 
    Created on : 8.4.2022, 22:46
    Author     : kminekmatej
*/

DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_18,
DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_25,
DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_28,
DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_31,
DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_35,
DIV#cke_addPost .cke_inner .cke_bottom
{
    display: none;
}

@media (min-width: 576px) {
    DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_18,
    DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_25,
    DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_28,
    DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_31,
    DIV#cke_addPost .cke_inner .cke_top .cke_toolbox #cke_35,
    DIV#cke_addPost .cke_inner .cke_bottom
    {
        display: block;
    }
}

.addPost[data-postId=''] BUTTON#editPost{
    display: none;
}

.addPost:not([data-postId='']) BUTTON#insertPost{
    display: none;
}

.reaction-bar .badge{
    cursor: pointer;
    font-size: 95%;
}

.emoji-icon {
    padding: 5px;
}

.emoji-icon:hover,.emoji-featured:hover {
    background-color: #f1f1f1;
    text-decoration: none;
}

.emoji-card{
    padding: 2px;
    text-align: center;
}

.emoji-card .emoji-body{
    height: 300px;
    max-height: 300px;
    overflow: auto;
}

.emoji-featured, .emoji-card .emoji-header .fa-solid{
    font-size: 1.6rem;
    padding: 5px;
    vertical-align: baseline;
}

.emoji-toggler .popover .popover-body{
    padding: 0px;
}

.emoji-toggler .popover{
    width: 320px;
    max-width: 320px;
}