<div class="col" n:inner-foreach="$users as $usr">
    {var $nameDay = $usr->getNameDayMonth() && $usr->getNameDayDay() ? date('m-d', strtotime(date('Y').'-'.$usr->getNameDayMonth().'-'.$usr->getNameDayDay())) : null}
    {var $bDay = $usr->getBirthDate() ? date('m-d', strtotime($usr->getBirthDate())) : '0-0'}
    {var $years = $usr->getBirthDate() ? date('Y') - date('Y', strtotime($usr->getBirthDate())) : '0'}
    <div n:if="$usr->getNameDayMonth() > 0 && $usr->getNameDayDay() > 0 && $today==$nameDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName()|namedayToday:$usr->getWebName()|noescape}</div>
    <div n:if="$usr->getBirthDate() && $today==$bDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName()|birthdayToday:$usr->getWebName(),$years|noescape}</div>
    <div n:if="$usr->getNameDayMonth() > 0 && $usr->getNameDayDay() > 0 && $tommorow==$nameDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName()|namedayTommorow:$usr->getWebName()|noescape}</div>
    <div n:if="$usr->getBirthDate() && $tommorow==$bDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName()|birthdayTommorow:$usr->getWebName(),$years|noescape}</div>
</div>