<div class="card sh-box mb-3">
    <div class="card-header">
        <h5>Dlužníček</h5>
    </div>
    <div class="card-body">
        <div class="row" n:foreach="$discussions as $item" title="{$item->getDescription()}">
            <div class="col name" id="discussion-pane-{$item->getId()}">
                <span n:class="badge,badge-pill,badge-danger,$item->getNewPosts() == 0 ? d-none">{$item->getNewPosts()}</span>
                <a href="{plink :Discussion:Discussion: $item->getWebName()}">{$item->getCaption()}</a>
                <span n:if="!$tymyUser->getHideDiscDesc()" class="col-sm-7 dis-description">{$item->getDescription()}</span>
            </div>
        </div>
    </div>
</div>