{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$publicPath}/js/scroll_man_scroll.js?ver={$appver}"></script>
<script src="{$publicPath}/resources/ckeditor/ckeditor.js?ver={$appver}"></script>
<script src="{$publicPath}/resources/clipboard/clipboard.{$js}?ver={$appver}"></script>
<script>
    $(document).ready(function () {
        new ClipboardJS('BUTTON.clipboard-btn');
    });
</script>
{/block}

{block content}

{block newpost}
{control newPost $discussionPosts, $search, $suser}
{/block}
<div class="container-fluid container-md discussion mt-2" n:snippet="discussion">
    {foreach $discussionPosts->getPosts() as $item}
        {if $item->getCreatedById() == $userId}
            {include 'components/mine-post.latte', item => $item}
        {else}
            {include 'components/post.latte', item => $item}
        {/if}
    {/foreach}
</div>
{include 'components/emoji-picker.latte'}
<div class="container-fluid container-md navigation">
    <div class="row">
        <div class="col">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li n:class="$currentPage == 1 ? disabled, page-item"><a class="page-link" href="{plink :Discussion:Discussion: $nazevDiskuze, 1}">{_common.navigationBlock.first}</a></li>
                    <li n:class="$currentPage == 1 ? disabled, page-item"><a class="page-link" href="{if $currentPage==2}{plink :Discussion:Discussion: $nazevDiskuze}{else}{plink :Discussion:Discussion: $nazevDiskuze,$currentPage-1, $search}{/if}">{_common.navigationBlock.previous}</a></li>
                    <li n:foreach="$pagination as $page" n:class="$currentPage == $page ? active, page-item"><a class="page-link" href="{if $page==1}{plink :Discussion:Discussion: $nazevDiskuze}{else}{plink :Discussion:Discussion: $nazevDiskuze,$page, $search}{/if}">{$page}</a></li>
                    <li n:class="$currentPage == $lastPage ? disabled, page-item"><a class="page-link" href="{plink :Discussion:Discussion: $nazevDiskuze,$currentPage+1, $search}">{_common.navigationBlock.next}</a></li>
                    <li n:class="$currentPage == $lastPage ? disabled, page-item"><a class="page-link" href="{plink :Discussion:Discussion: $nazevDiskuze, $lastPage}">{_common.navigationBlock.last}</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-4">
            <form action="{plink this}" method="GET" class="form-inline justify-content-center">
            <div class="input-group mb-3">
                    <input type="text" name="jump2date" class="form-control" placeholder="{_discussion.jump2date}" aria-label="{_discussion.jump2date}">
                    <div class="input-group-append">
                        <button class="btn btn-light btn-light-bordered" type="submit">{_discussion.go}</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>


