{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block content}
<div class="container discussions">
    <div class="row justify-content-md-center">
        <div class="col my-3">
            <div class="card sh-box discussion-box">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><h4 class="card-title">{_discussion.discussion, 2}</h4></div>
                        <div class="col col-md-auto">
                            <button class="btn btn-sm btn-light btn-light-bordered refresh" title="{_common.refresh}" onclick="refresh()" data-href="{link navbar:refresh!}"><i class="fa fa-sync" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    {foreach $discussions as $item}
                        <div class="row my-2">
                            <div class="col-sm-4 name" id="discussion-pane-{$item->getId()}">
                                <h5><span n:class="badge,badge-pill,badge-danger,$item->getNewPosts() == 0 ? d-none">{$item->getNewPosts()}</span>
                                <a href="{plink Discussion:discussion $item->getWebName()}">{$item->getCaption()}</a></h5>
                            </div>
                            <div class="col-sm-8 dis-description"><h5>{$item->getDescription()}</h5></div>
                        </div>
                    {/foreach}
                </div>
            </div>
        </div>
    </div>
</div>