copyToClipboard: Skopiuj do schowka
edit: Edytuj
copy: Skopiuj
delete: Usuń
duplicate: Zduplikuj
save: Zapisz
saveAll: Zapisz wszystko
edited: "Poprawił(a)"
everyone: Wszyscy
allOfThem: Wszystkie
refresh: Odśwież
insert: Wklej
mainPage: Strona główna
search: Szukaj
toogleNavigation: Otwórz menu nawigacyjne
menu: Menu
new: Nowy
link: Link
never: Nigdy
chooseFile: Wybierz plik
chooseSex: Wybierz płeć
chooseType: Wybierz typ
chooseState: Wybierz status
ok: Ok
yes: Tak
no: Nie
user: Użytkownik
error: Błąd
or: albo
day: Dzień
week: Tydzień
month: Miesiąc
navigationBlock:
    first: Pierwsza
    previous: Poprzednia
    next: Następna
    last: Ostatnia
lastLogin:
    secondAgo: przed sekundą
    secondsAgo: przed %n% sekundami
    minuteAgo: przed minutą
    minutesAgo: przed %n% minutami
    halfHourAgo: przed pół godziny
    hourAgo: przed godziną
    hoursAgo: przed %n% godzinami
    dayAgo: 1 dzień temu
    daysAgo: %n% dni temu
alerts:
    nobodyFound: Nikogo takiego nie znalazłem
    userSuccesfullyDeleted: Użytkownik został usunięty
    loginNotApproved: Ten użytkownik nie został jeszcze zatwierdzony
    loginNotSuccesfull: Logowanie nieudane
    logoutSuccesfull: Zostałeś pomyślnie wylogowany
    registrationSuccesfull: Rejestracja ukończona. Czekaj na zatwierdzenie przez administratora.
    userNotFound: "Użytkownik nieodnaleziony, wystąpił błąd. Skontaktuj sięz administratorem."
    resetCodeSent: Kod do zmiany hasła został wysłany na Twój adres e-mail
    pwdResetSuccesfull: Twoje hasło zostało pomyślnie zmienione
    inactivityLogout: "Zostałeś wylogowany, ze względu na brak czynności. Zaloguj się ponownie."
    exceptionOccured: Wystąpił nieoczekiwany błąd
    confirmDelete: Czy na pewno chcesz to usunąć?
    notPermitted: Niewystarczające uprawnienia
    configSaved: Ustawienia zapisane
months:
    january: Styczeń    
    february: Luty
    march: Marzec
    april: Kwiecień
    may: Maj
    june: Czerwiec
    july: Lipiec
    august: Sierpień
    september: Wrzesień
    october: Październik
    november: Listopad
    december: Grudzień