discussion: Diskuze|Diskuze
noDiscussion: Žádná diskuze
editDiscussion: Úprava diskuze
unpin: Odepnout
pin: Připnout
new: Nová
copyToClipboard: Kopírovat do schránky
edit: Upravit
copy: Kopírovat
jump2date: Skok na datum
go: Hop
postBlock:
    enterSearchTerms: Zadejte hledaný text ...
errors:
    noDiscussionExists: Tato diskuze neexistuje
    discussionNotExists: Diskuze %id% neexistuje
alerts:
    confirmDeletePost: Smazat? To jako vážně?
newDiscussion: Nová diskuze
newDiscussionTitle: Vytvořit novou diskuzi
discussionSettings: Nastavení diskuzí
public: Veřejná
publicTitle: Viditelná na výchozí stránce bez přihlášení
edits: Úpravy
editablePosts: Povolit úpravy
