discussion: Kanał|Kanały
noDiscussion: Brak kanałów
editDiscussion: Edycja kanału
unpin: Odepnij
pin: Przypnij
new: Nowa
copyToClipboard: Kopiuj do schowka
edit: Edytuj
copy: Kopiuj
jump2date: Przejdź do daty
go: Idź
postBlock:
    enterSearchTerms: "Wpisz, czego szukasz ..."
errors:
    noDiscussionExists: Ten kanał nie istnieje
    discussionNotExists: Kanał %id% nie istnieje
alerts:
    confirmDeletePost: Usunąć? Na pewno?
newDiscussion: Nowy kanał
newDiscussionTitle: Utwórz nowy kanał
discussionSettings: Ustawienia kanału
public: Publiczny
publicTitle: Kanał widoczny bez zalogowania
edits: Edycja
editablePosts: Pozwól na edycję