event: Wydarzenie|Wydarzenia
attendance: Wydarzenie|Wydarzenia
newEvents: Nowe wydarzenia
editEvent: Edycja wydarzenia|Edycja wydarzeń
settingsEvents: Ustawienia wydarzeń
noEvent: Nie ma wydarzeń
showHidePastEvents: Pokaż/ukryj przeszłe wydarzenia
agenda: Agenda
new: Nowe
openMap: Otwórz mapę...
start: Początek
close: Zamknięcie zapisów
end: Koniec
place: Miejsce
attendanceNotFilled: Nie masz wypełnionej deklaracji obecności!
notDecidedYet: Niezdecydowany
arrived: Przyszedł/Przyszła|Przyszli
notArrived: Nie przyszedł/Nie przyszła|Nie przyszli
attendanceResult: Lista obecności
setAttendanceResult: Wypełnij listę obecności
saveAttendanceResult: Zapisz listę obecności
goToEvents: Przejdź do wydarzeń
openInNewWindow: Otwórz w nowej karcie
duplicateEventDay: Skopiuj ostatnie wydarzenie i przesuń datę o 1 dzień
duplicateEventWeek: Skopiuj ostatnie wydarzenie i przesuń datę o 1 tydzień
duplicateEventMonth: Skopiuj ostatnie wydarzenie i przesuń datę o 1 miesiąc
canView: Can view
canPlan: Can plan
canResult: Can enter results
canView-sm: View
canPlan-sm: Plan
canResult-sm: Results
displayHistory: Wyświetl historię
eventType: Typ wydarzenia|Typy wydarzeń
errors:
    eventNotExists: Wydarzenie %id% nie istnieje