file: Plik|Pliki
noFile: Brak pliku
fileList: Lista plików
files: plików
usedSpace: Wykorzystane miejsce
folder: Folder|Foldery
allFiles: Wszystkie pliki
upload: Przesyłanie pliku
mkdir: Nowy folder
add: Dodaj
size: Rozmiar
confirmDelete: Naprawdę usunąć plik?
dirNameError: Zła nazwa folderu