note: Notatka|Notatki
settingsNotes: Ustawienia notatek
noNote: Brak notatek
newNote: Nowa notatka
createNote: Stwórz nową notatkę
editNote: Edytuj notatkę
private: Prywatna
users: Dla członków
public: Publiczna
systemPage: Kod systemowy
content: Treść
accessTitle: "Zdecyduj, kto będzie miał dostęp do notatki: Prywatna (tylko Ty), Dla członków, Publiczna (można odczytać bez logowania)"
mainMenuTitle: Przypnij w menu głównym
specialPageTitle: Wpisz specjalny kod systemowy notatki.
orderTitle: Kolejność w menu
system: Kod systemowy
new: Nowa
errors:
    noteNotExists: Notatka %id% nie istnieje