permission: Uprawnienie|Uprawnienia
settingsPermissions: Ustawienia uprawnień
systemPermissions: Uprawnienia systemowe
userPermissions: Uprawnienia użytkownika
permitted: Nadany
not-permitted: Zaprzeczony
newPermission: Utwórz nowe uprawnienie
createPermission: Utwórz uprawnienie
editPermission: Edytuj uprawnienia
results: Wyniki uprawnień
errors:
    noPermissionExists: Ten kanał nie istnieje
    permissionNotExists: Kanał %id% nie istnieje