poll: Ankieta|Ankiety
newPoll: Nowa ankieta
editPoll: Edycja ankiety
configPolls: Ustawienia ankiet
noPoll: Brak ankiet
createPoll: Stwórz nową ankietę
createItem: Stwórz nową pozycję?
minItems: Minimum głosów
maxItems: Maksimum głosów
min: Min
max: Max
setChangeableVotes: Zezwalaj na edytowanie odpowiedzi
changeOfVotes: Edycja odpowiedzi
changeableVotes: Głos da się edytować
unchangeableVotes: Głosu nie da się edytować
anonymousVotes: Głosowanie anonimowe
anonym: Tajne
anonymousResults: Ankiete jest anonimowa
nonanonymousResults: Ankieta nie jest anonimowa
displayResults: Pokaż wyniki
resultsDisplayed: Wyniki zostały wyświetlone
resultsDisplayedAfterVote: Wyniki będą dostępne po końcu głosowania
resultsToYouOnly: Wyniki są widoczne tylko dla Ciebie
resultsAreSecret: Wyniki są tajne
resultsDisplayedWhenClosed: Wyniki będą widoczne po zamknięciu ankiety
cannotVoteHere: Nie możesz głosować w tej ankiecie
vote: Głosuj
voted: Głos oddany
results: Wyniki głosowania
votesCount: Ilość głosów
maxItemsOverflow: Maksymalna liczba głosów została przekroczona
notEnoughItems: Nie osiągnięto jeszcze minimalnej liczby głosów
design: W budowie
opened: Aktywna
closed: Zamknięta
displayInMainMenu: Dodaj do menu głownego
never: Nigdy
always: Zawsze
afterVote: Głosującym
whenClosed: Po zamknięciu
canVote: Głosowanie
canDisplayResults: Przeglądanie wyników
canAlienVote: Głosowanie za kogoś
canVoteRight: Uprawnienie do głosowania
canDisplayResultsRight: Uprawnienie do przeglądania wyników
canAlienVoteRight: Uprawnienie do głosowania za kogoś
pollItems: Pozycje ankiety
itemCaption: Nazwa
text: Tekst
number: Liczba
bool: Tak / Nie
new: Nowa
alienVote: Głosuj jako
alerts:
    succesfullyCreated: Ankieta została pomyślnie utworzona
errors:
    pollNotExists: Ankieta %id% nie istnieje