application: Program
setting: Ustawienia
cacheDrop: Wyczyść cache
cacheDropped: Cache wyczyszczony
appSettings: O aplikacji
teamSettings: Ustawienie drużyny
appVersion: Wersja aplikacji
roadmap: Nadchodzące zmiany
released: Data wydania
changeList: Lista zmian
authors: Autorzy
reportBug: Zgłoś błąd
fromPreviousVersion: z poprzedniej wersji
fromVersion: z wersji
title: Nazwa
description: Opis
canRead: Może czytać
canWrite: Mozep pisać
canDelete: Może usuwać
canTop: Może topować
order: Zamówienie
access: Dostęp
status: Status
type: Typ
here: tu
eventColors: Kolory wydarzenia
statusColors: Kolory przybycia
multiaccount: Multi-konto|Multi-konto
addAccount: Dodaj konto
export: Eksport
enableExport: Włącz eksport
calendarExport: "Eksport kalendarza (ical)"