team: Zespół|Zespoły
PLAYER: 'Gracz|Gracze'
MEMBER: 'Członek|Członkowie'
SICK: 'Kontuzjowany|Kontuzjowani'
INIT: 'Zarejestrowany|Zarejestrowani'
DELETED: 'Usunięty|Usunięci'
jersey: Strój|Stroje
jerseyList: Spis numerów
newMailToAll: Nowy e-mail do wszystkich
newMailTo: Nowy e-mail do
freeNumber: Wolny
inActive: Nieaktywny
personalData: Info osobiste
loginData: Logowanie
appearance: Wygląd
teamData: Info drużynowe
address: Adres
roles: Rola|Role
profile: Profil
profilePhoto: Zdjęcie
male: Mężczyzna|Mężczyźni
female: Kobieta|Kobiety
unknownSex: Niepodano płci
gender: Płeć
chooseSex: Wybierz płeć
firstname: Imię
lastName: Nazwisko
phone: Telefon
email: E-mail
birthDate: Data urodzenia
nameDayMonth: Miesiąc imienin
chooseMonth: Wybierz miesiąc
nameDayDay: Dzień imienin
language: Język
dateOfRegistration: Zarejestrowany
callName: Nick
canEditCallName: Użytkownik może edytować
login: Nazwa użytkownika
password: Nowe hasło
newPasswordAgain: Powtórz nowe hasło
canLogin: Użytkownik może się logować
status: Status drużynowy
jerseyNumber: Numer stroju
street: Ulica
city: Miasto
zipCode: Kod pocztowy
hasNamedayToday: %name% obchodzi imieniny
hasBirthdayToday: %name% obchodzi %year% urodziny
hasNamedayTommorow: %name% obchodzi jutro imieniny
hasBirthdayTommorow: %name% obchodzi jutro %year% urodziny
currentlyOnline: Teraz online
lastLogin: Ostatnie logowania
nobodyIsOnline: Nikt nie jest online
administrator: Administrator
userAdmin: Moderator użytkowników
attendanceAdmin: Moderator obecności
requiredFields: Wymagane pola
defaultSkin: Domyślny skin
name: Nazwa drużyny
sport: Sport
defaultLanguage: Domyślny język
hideDiscDesc: Ukryj opis dyskusji
approveAsPlayer: Zatwierdź jako gracz
errors:
    imgFileCorrupted: "Plik nie jest obrazkiem, lub jest uszkodzony"
    passwordMismatch: Hasło różni się
alerts:
    signOffNeeded: Language changed - please logout & login for language to change
    registrationApprovedSubject: Rejestracja do %s zatwierdzona
    registrationDeniedSubject: Rejestracja do %s odrzucona
    registrationApproved: Twoja rejestracja do %s została zatwierdzona. Możesz się teraz zalogować
    registrationDenied: Twoja rejestracja w %s została odrzucona
    loginForbidden: Użytkownik nie może się zalogować
    loginNotApproved: Użytkownik nie został jeszcze zatwierdzony przez administratorów
    authenticationFailed: Niezgodność loginu lub hasła
    loginExists: Ten login już istnieje
    changingRolesForbidden: Zmiana ról zabroniona
    changingCanEditCallnameForbidden: Zmiana canEditCallName jest zabroniona
    changingStatusForbidden: Zmiana statusu jest zabroniona
    changingLoginForbidden: Zmiana loginu jest zabroniona
    editingCallNameForbidden: Zmiana nicku jest zabroniona
    emailExists: Ten email już istnieje
    userQuotaReached: Osiągnięto limit przydziału użytkowników
    registrationsLimitReached: Zbyt wiele oczekujących rejestracji
    passwordTooShort: Hasło jest za krótkie
    emailFailure: Niewłaściwy format wiadomości email
    usernameFailure: Nazwa użytkownika musi mieć co najmniej 3 i maksymalnie 20 znaki