team: Zespół|Zespoły
PLAYER: 'Gracz|Gracze'
MEMBER: 'Członek|Członkowie'
SICK: 'Kontuzjowany|Kontuzjowani'
INIT: 'Zarejestrowany|Zarejestrowani'
DELETED: 'Usunięty|Usunięci'
jersey: Strój|Stroje
jerseyList: Spis numerów
newMailToAll: Nowy e-mail do wszystkich
newMailTo: Nowy e-mail do
freeNumber: Wolny
inActive: Nieaktywny
personalData: Info osobiste
loginData: Logowanie
teamData: Info drużynowe
address: Adres
roles: Rola|Role
profile: Profil
profilePhoto: Zdjęcie
male: Mężczyzna|Mężczyźni
female: Kobieta|Kobiety
unknownSex: Niepodano płci
sex: Płeć
chooseSex: Wybierz płeć
firstname: Imię
surname: Nazwisko
phone: Telefon
email: E-mail
dateOfBirth: Data urodzenia
namedayMonth: Miesiąc imienin
chooseMonth: Wybierz miesiąc
namedayDay: Dzień imienin
language: Język
dateOfRegistration: Zarejestrowany
displayedName: Nick
displayedNameUserEditable: Użytkownik może edytować
username: Nazwa użytkownika
newPassword: Nowe hasło
newPasswordAgain: Powtórz nowe hasło
loginEnabled: Użytkownik może się logować
status: Status drużynowy
jerseyNumber: Numer stroju
street: Ulica
city: Miasto
postal: Kod pocztowy
hasNamedayToday: %name% obchodzi imieniny
hasBirthdayToday: %name% obchodzi %year% urodziny
hasNamedayTommorow: %name% obchodzi jutro imieniny
hasBirthdayTommorow: %name% obchodzi jutro %year% urodziny
currentlyOnline: Teraz online
lastLogin: Ostatnie logowania
nobodyIsOnline: Nikt nie jest online
administrator: Administrator
userAdmin: Moderator użytkowników
attendanceAdmin: Moderator obecności
errors:
    imgFileCorrupted: "Plik nie jest obrazkiem, lub jest uszkodzony"
alerts:
    signOffNeeded: Language changed - please logout & login for language to change