#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#

services:
  PushNotificationManager: Tymy\Module\PushNotification\Manager\PushNotificationManager
  NotificationGenerator: Tymy\Module\PushNotification\Manager\NotificationGenerator
  WebPush: Minishlink\WebPush\WebPush(%web-push%, [], 6, [verify: false])
  ApplePush: Tymy\Module\PushNotification\Manager\ApplePush(%apns%)
  FirebasePush: Tymy\Module\PushNotification\Manager\FirebasePush(%fcm%)
  JwtContainer: Lcobucci\JWT\Configuration::forUnsecuredSigner()

