#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#

services:
  PushNotificationManager: Tymy\Module\PushNotification\Manager\PushNotificationManager
  WebPush: Minishlink\WebPush\WebPush(%push-notification%, [], 6, [verify: false])

