services:
    AuthenticationManager: Tymy\Module\Authentication\Manager\AuthenticationManager(%team%, @database.main.context, @database.team.context)
    routes.authentication: Tymy\Module\Authentication\Router\Router