services:
    AuthenticationManager: Tymy\Module\Authentication\Manager\AuthenticationManager(%ghosts%, %team%, @database.main.context, @database.team.context)
    AuthenticationRouter: Tymy\Module\Authentication\Router\Router