/* 
    Created on : 14.12.2017, 13:46:36
    Author     : kminekmatej
*/

DIV.agenda SPAN.event-time{
    font-size: 0.8rem;
}

DIV.agenda A.event-heading{
    font-size: 0.9rem;
    margin-left: 8px;
    font-weight: bold;
}

TABLE.tymy-event-history TD.tymy-status{
    vertical-align: middle;
    text-align: center;
    width: 15%;
}
