{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$publicPath}/js/Event/EventAttendanceSet.js?ver={$appver}"></script>
{/block}

{block styles}
{include parent}
<style type="text/css">
    TBODY > TR > TD {
        opacity: 0.7;
    }
    TBODY > TR:hover > TD {
        opacity: 1;
        font-weight: bold;
    }
    {foreach $statusList as $status}
        .statusCell{$status->getId()} {
            color: #{$status->getColor()};
            border-color: #{$status->getColor()};
            background-color: transparent;
            background-image: none;
        }
        .statusCell{$status->getId()}.active {
            color: #fff;
            border-color: #{$status->getColor()};
            background-color: #{$status->getColor()};
        }
        .statusCell{$status->getId()}:hover {
            color: #fff;
            border-color: #{$status->getColor()};
            background-color: #{$status->getColor()};
        }
        .statusCell{$status->getId()}:not(:disabled):not(.disabled).active {
            color: #fff;
            border-color: #{$status->getColor()};
            background-color: #{$status->getColor()};
        }
    {/foreach}
</style>
{/block}

{block content}

<div class="container-fluid report">
    <div class="row">
        <div class="col my-3">
            <div class="card sh-box">
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{_team.PLAYER, 2}</th>
                                    {var $eventStats = ['plan' => [], 'result' => []]}
                                <th n:foreach="$events as $event" class="text-center" colspan="3">
                                    {var $eventStats['plan'][$event->getId()] = $eventStats['result'][$event->getId()] = []}
                                    <a href="{plink :Event:Detail: $event->getWebName()}">
                                        <div class="event-caption-oneline">{$event->getCaption()}</div>
                                        <div>{$event->getStartTime()|date:\Tymy\Module\Core\Model\BaseModel::DAY_CZECH_FORMAT}</div>
                                    </a>
                                </th>
                                <th colspan="3">⅀</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr n:foreach="$users as $usr">
                                <th scope="row"><a href="{plink :Team:Player: $usr->getWebName()}">{$usr->getDisplayName()}</a></th>
                                    {var $userStats = ['plan' => [], 'result' => []]}
                                    {foreach $events as $event}
                                        {var $userAttendance = $event->getAttendance()[$usr->getId()] ?? null}
                                        {var $title = $usr->getDisplayName() . ', ' . $event->getCaption() . ' ' . ($event->getStartTime()|date:\Tymy\Module\Core\Model\BaseModel::DAY_CZECH_FORMAT) . ':'}
                                        {var $preStatus = $postStatus = null}
                                        {if $userAttendance}
                                            {var $preStatus = $statusList[$userAttendance->getPreStatusId()] ?? null}
                                            {var $postStatus = $statusList[$userAttendance->getPostStatusId()] ?? null}
                                            {if $preStatus}
                                                {php $userStats['plan'][$userAttendance->getPreStatusId()] = isset($userStats['plan'][$userAttendance->getPreStatusId()]) ? $userStats['plan'][$userAttendance->getPreStatusId()] + 1 : 1}
                                                {php $eventStats['plan'][$event->getId()][$userAttendance->getPreStatusId()] = isset($eventStats['plan'][$event->getId()][$userAttendance->getPreStatusId()]) ? $eventStats['plan'][$event->getId()][$userAttendance->getPreStatusId()] + 1 : 1}
                                            {/if}
                                            {if $postStatus}
                                                {php $userStats['result'][$userAttendance->getPostStatusId()] = isset($userStats['result'][$userAttendance->getPostStatusId()]) ? $userStats['result'][$userAttendance->getPostStatusId()] + 1 : 1}
                                                {php $eventStats['result'][$event->getId()][$userAttendance->getPostStatusId()] = isset($eventStats['result'][$event->getId()][$userAttendance->getPostStatusId()]) ? $eventStats['result'][$event->getId()][$userAttendance->getPostStatusId()] + 1 : 1}
                                            {/if}
                                        {/if}

                                    <td class="planBox" title="{$title} {if $preStatus}{$preStatus->getCaption()}{else}{_team.unknownSex}{/if}"><i n:if="$preStatus" class="{$preStatus->getIcon()}" style="color: {$preStatus->getColor()}"></i></td>
                                    <td class="px-0 border-left-0 border-right-0"><i n:if="$preStatus && $postStatus" class="fas fa-angle-right"></i></td>
                                    <td class="resultBox" title="{$title} {if $postStatus}{$postStatus->getCaption()}{else}{_team.unknownSex}{/if}"><i n:if="$postStatus" class="{$postStatus->getIcon()}" style="color: {$postStatus->getColor()}"></i></td>
                                    {/foreach}
                                <td class="planBox sumCol">
                                    {foreach $userStats['plan'] as $statusId => $count}
                                        {var $status = $statusList[$statusId]}
                                        <div title="{_event.plan}: {$status->getCaption()}">
                                            {$count}x <i n:if="$status" class="{$status->getIcon()}" style="color: {$status->getColor()}"></i>
                                        </div>
                                    {/foreach}
                                </td>
                                <td class="px-0 border-left-0 border-right-0"><i class="fas fa-angle-right"></i></td>
                                <td class="resultBox sumCol">
                                    {foreach $userStats['result'] as $statusId => $count}
                                        {var $status = $statusList[$statusId]}
                                        <div title="{_event.result}: {$status->getCaption()}">
                                            {$count}x <i n:if="$status" class="{$status->getIcon()}" style="color: {$status->getColor()}"></i>
                                        </div>
                                    {/foreach}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">⅀</th>
                                    {foreach $events as $event}
                                    <td class="planBox sumRow">
                                        {foreach $eventStats['plan'][$event->getId()] as $statusId => $count}
                                            {var $status = $statusList[$statusId]}
                                            <div title="{_event.plan}: {$status->getCaption()}">
                                                {$count}x <i n:if="$status" class="{$status->getIcon()}" style="color: {$status->getColor()}"></i>
                                            </div>
                                        {/foreach}
                                    </td>
                                    <td class="px-0 border-left-0 border-right-0"><i class="fas fa-angle-right"></i></td>
                                    <td class="resultBox sumRow">
                                        {foreach $eventStats['result'][$event->getId()] as $statusId => $count}
                                            {var $status = $statusList[$statusId]}
                                            <div title="{_event.result}: {$status->getCaption()}">
                                                {$count}x <i n:if="$status" class="{$status->getIcon()}" style="color: {$status->getColor()}"></i>
                                            </div>
                                        {/foreach}
                                    </td>
                                {/foreach}
                                <td colspan="3"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="mt-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li n:class="$currentPage == 1 ? disabled, page-item"><a class="page-link" href="{plink :Event:Report: $year,$currentPage-1}">{_common.navigationBlock.previous}</a></li>
                        <li n:foreach="$pagination as $page" n:class="$currentPage == $page ? active, page-item"><a class="page-link" href="{plink :Event:Report: $year,$page}">{$page}</a></li>
                        <li n:class="$currentPage == $lastPage ? disabled, page-item"><a class="page-link" href="{plink :Event:Report: $year,$currentPage+1}">{_common.navigationBlock.next}</a></li>
                    </ul>
                </nav>
                <nav aria-label="Year navigation">
                    <ul class="pagination justify-content-center">
                        <li n:class="$year == $firstYear ? disabled, page-item"><a class="page-link" href="{plink :Event:Report: $year-1,1}">{_common.navigationBlock.previous}</a></li>
                        <li n:foreach="$years as $yr" n:class="$year == $yr ? active, page-item"><a class="page-link" href="{plink :Event:Report: $yr,1}">{$yr}</a></li>
                        <li n:class="$year == $lastYear ? disabled, page-item"><a class="page-link" href="{plink :Event:Report: $year+1,1}">{_common.navigationBlock.next}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
