{import $componentsDir . '/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block styles}
<link rel='stylesheet' href="{$publicPath}/resources/fullcalendar/fullcalendar.{$css}?ver={$appver}" />
<link rel='stylesheet' href="{$publicPath}/skins/{$skin}/css/fullcalendar.css?ver={$appver}" />
{include parent}
{/block}

{block scripts}
{include parent}
<script src="{$publicPath}/js/Event/Event.js?ver={$appver}"></script>
<script src="{$publicPath}/resources/fullcalendar/fullcalendar.{$js}?ver={$appver}"></script>
<script src="{$publicPath}/resources/fullcalendar/locale/{$locale}.js?ver={$appver}"></script>
<script>
    $(document).ready(function () {
        var defaultView = (localStorage.getItem("fcDefaultView") != null ? localStorage.getItem("fcDefaultView") : "month"); 
        var defaultStartDate = (localStorage.getItem("fcDefaultStartDate") != null ? moment(localStorage.getItem("fcDefaultStartDate")) : moment());
        $('#calendar').fullCalendar({
            defaultView: defaultView, 
            locale: locale,
            contentHeight: 350,
            fixedWeekCount: false,
            displayEventTime: false,
            events: '/event/feed',
            eventRender: function (event, element) {
                element.find('.fc-title').attr("title", event.description);
                if (event.end < Date.now())
                    element.addClass("past");
            },
            header: {
                left: 'title',
                center: '',
                right: 'today prev,next'
            },
            viewRender: function (view) {
                localStorage.setItem("fcDefaultView", view.name);
                localStorage.setItem("fcDefaultStartDate", view.currentRange.start.format());
                localStorage.setItem("fcDefaultEndDate", view.currentRange.end.format());
            },
            loading: function (isLoading, view) {
                if (isLoading) {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', true);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', true);
                } else {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', false);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', false);
                }
            }
        });
        $('#calendar').fullCalendar('gotoDate', defaultStartDate); 
        $('#calendar DIV.fc-header-toolbar').addClass("card-header");
        $('#calendar DIV.fc-button-group').addClass("btn-group");
        $('#calendar DIV.fc-header-toolbar BUTTON').each(function () {
            $(this).addClass("btn btn-light btn-light-bordered");
        });
    });
</script>
{/block}


{block content}

<div class="container-fluid container-md homepage">
    <div class="row mt-2" n:if="!empty($notices)">
        <div class="col">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong class="text-secondary ml-4">{_common.alerts.newsOnTymy}</strong>
                <div n:foreach="$notices as $notice"><div class="mt-2"><small>{$notice->getCreated()|date:'j.n.Y'} - </small><strong>{$notice->getCaption()|noescape}</strong></div>{$notice->getDescription()|noescape}</div>
                <small class="text-secondary ml-4">{_common.alerts.newsOnTymyFooter} <a href="https://www.tymy.cz/news" target="blank">www.tymy.cz</a></small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 my-3">
            <div class="card sh-box" id='calendar'></div>
            <a class="btn btn-sm btn-light btn-light-bordered my-1 d-block" href="{plink :Event:Default:}">{_event.goToEvents} ...</a>
        </div>
        <div class="col-md-7 my-3">
            <div class="card sh-box discussion-box">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><h4 class="card-title">{_discussion.discussion, 2}</h4></div>
                        <div class="col col-md-auto text-right">
                            <button class="btn btn-sm btn-light btn-light-bordered refresh" title="{_common.refresh}" onclick="refresh()" data-href="{link navbar:refresh!}"><i class="fa fa-sync" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row my-2" n:foreach="$discussions as $item" title="{$item->getDescription()}">
                        <div class="col name" id="discussion-pane-{$item->getId()}">
                            <span n:class="badge,badge-pill,badge-danger,$item->getNewPosts() == 0 ? d-none">{$item->getNewPosts()}</span>
                            <a href="{plink :Discussion:Discussion: $item->getWebName()}">{$item->getCaption()}</a>
                            <span n:if="!$tymyUser->getHideDiscDesc()" class="col-sm-7 dis-description">{$item->getDescription()}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col" n:inner-foreach="$users as $usr">
            {var $nameDay = date('m-d', strtotime(date('Y').'-'.$usr->getNameDayMonth().'-'.$usr->getNameDayDay()))}
            {var $bDay = property_exists($usr, 'birthDate') ? date('m-d', strtotime($usr->getBirthDate())) : '0-0'}
            {var $years = property_exists($usr, 'birthDate') ? date('Y') - date('Y', strtotime($usr->getBirthDate())) : '0'}
            <div n:if="$usr->getNameDayMonth() > 0 && $usr->getNameDayDay() > 0 && $today==$nameDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName(),$usr->getWebName()|namedayToday|noescape}</div>
            <div n:if="property_exists($usr, 'birthDate') && $today==$bDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName(),$usr->getWebName(),$years|birthdayToday|noescape}</div>
            <div n:if="$usr->getNameDayMonth() > 0 && $usr->getNameDayDay() > 0 && $tommorow==$nameDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName(),$usr->getWebName()|namedayTommorow|noescape}</div>
            <div n:if="property_exists($usr, 'birthDate') && $tommorow==$bDay" class="alert alert-warning alert-dismissible fade show" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>{$usr->getDisplayName(),$usr->getWebName(),$years|birthdayTommorow|noescape}</div>
        </div>
    </div>

    <div class="row">
        <div class="col my-1">
            <div class="card sh-box">
                <div class="card-header">
                    <ul class="nav nav-tabs flex-column flex-sm-row card-header-tabs">
                        <li class="nav-item">
                            <a class="flex-sm-fill text-sm-center nav-link active" href="#live" data-toggle="tab" role="tab">{_team.currentlyOnline}</a>
                        </li>
                        <li class="nav-item">
                            <a class="flex-sm-fill text-sm-center nav-link" href="#lastLogin" data-toggle="tab" role="tab">{_team.lastLogin}</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="live" role="tabpanel">
                            <figure class="figure text-center" style="width: 100px" n:foreach="$liveUsers as $live">
                                <a href="{plink :Team:Player: $live->getId()}" title="{$live->getCallName()}">
                                    <img src="{$live->getPictureUrl()}" class="figure-img img-fluid rounded avatar" alt="{$live->getCallName()}" />
                                    <figcaption class="figure-caption">{$live->getCallName()}</figcaption>
                                </a>
                            </figure>
                            <h6 class="card-subtitle mb-2 text-muted" n:if="count($liveUsers) == 0">{_team.nobodyIsOnline}</h6>
                        </div>
                        <div class="tab-pane fade" id="lastLogin" role="tabpanel">
                            <figure class="figure text-center" style="width: 100px" n:foreach="$users as $usr">
                                {var $lastLogin = $usr->getLastLogin() ? ($usr->getLastLogin()|date:'j.n.Y H:i:s') : $neverLogin}
                                {var $caption = $usr->getLastLogin() ? ($usr->getLastLogin()|lastLogin) : $neverLogin}
                                <a href="{plink :Team:Player: $usr->getWebName()}" title="{$lastLogin}">
                                    <img src="{$usr->getPictureUrl()}" class="figure-img img-fluid avatar" n:attr="alt => property_exists($usr, 'fullName' ? $usr->getFullName() : '')"/>
                                    <figcaption class="figure-caption">{$usr->getDisplayName()}</figcaption>
                                    <figcaption class="figure-caption" style="font-size: 70%; display: inline-block">{$caption}</figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
