{import '../components/secured.latte'}

{block navbar}
{control navbar}
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/resources/fullcalendar/fullcalendar.{$css}?ver={$appver}" />
<link rel='stylesheet' href="{$basePath}/skins/{$skin}/css/fullcalendar.css?ver={$appver}" />
<style type="text/css">
    {foreach $statusList as $status}
    .attendance{$status->getCode()} { color: {$status|statusColor}; border-color: {$status|statusColor}; background-color: transparent; background-image: none; }
    .attendance{$status->getCode()}.active { color: #fff; border-color: {$status|statusColor}; background-color: {$status|statusColor}; }
    .attendance{$status->getCode()}:hover { color: #fff; border-color: {$status|statusColor}; background-color: {$status|statusColor}; }
    .attendance{$status->getCode()}:not(:disabled):not(.disabled).active { color: #fff; border-color: {$status|statusColor}; background-color: {$status|statusColor}; }
    BUTTON.disabled { cursor: auto }
    {/foreach}
</style>
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/resources/fullcalendar/fullcalendar.{$js}?ver={$appver}"></script>
<script src="{$basePath}/resources/fullcalendar/locale/{$locale}.js?ver={$appver}"></script>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: locale,
            height: 500,
            fixedWeekCount: false,
            events: function(start, end, timezone, callback) {
                var events = [];
                {foreach $events as $evnt}
                    events.push({l}id: {$evnt->getId()}, title: {$evnt->getCaption()},start: {$evnt->getStartTime()|date:\Tymy\Module\Core\Model\BaseModel::DATETIME_ISO_FORMAT},end: {$evnt->getEndTime()|date:\Tymy\Module\Core\Model\BaseModel::DATETIME_ISO_FORMAT},backgroundColor: {$evnt->getBackgroundColor()},borderColor: {$evnt->getBorderColor()},textColor: {$evnt->getTextColor()},url: {plink 'Event:event', $evnt->getWebName()}{r});
                {/foreach}
                callback(events);
            },
            eventRender: function (event, element) {
                element.find('.fc-title').attr("title", event.description);
                if (event.end && event.end.isBefore())
                    element.addClass("past");
            },
            header: {
                left: 'title',
                center: '',
                right: 'today month,basicWeek,basicDay prev,next'
            },
            viewRender: function () {
                loadAgenda({plink Event:});
            },
            loading: function (isLoading, view) {
                if (isLoading) {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', true);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', true);
                } else {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', false);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', false);
                }
            }
        });
        $('#calendar DIV.fc-header-toolbar').addClass("card-header");
        $('#calendar DIV.fc-button-group').addClass("btn-group");
        $('#calendar DIV.fc-header-toolbar BUTTON').each(function () {
            $(this).addClass("btn btn-light btn-light-bordered");
        });
    });
</script>
{/block}

{block content}


<div class="container events">
    <div class="row">
        <div class="col-md-7 my-3">
            <div class="card sh-box" id='calendar'></div>
        </div>

        <div class="col-md-5 agenda-wrapper my-3" n:snippet="events-agenda">
            {var $actMonth=$agendaFrom}
            {while strtotime($actMonth)<=strtotime($agendaTo)}
                <div class="card sh-box agenda" data-month="{$actMonth}" style="display: none">
                    <div class="card-header">
                        <span class="mr-auto">{_event.agenda}</span>
                        <button class="btn btn-sm btn-light btn-light-bordered float-right" title="{_event.showHidePastEvents}" onclick="togglePast()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    </div>
                    <div class="card-body">
                        {if isset($evMonths[$actMonth]) && count($evMonths[$actMonth]) > 0 }
                            {foreach $evMonths[$actMonth] as $ev}
                                <div n:class="row, $ev->getInPast() ? evnt-past, $ev->getInPast() ? collapse">
                                    <div class="col" title=" {$ev->getCaption()} ({$eventTypes[$ev->getType()]->getCaption()})&#13;{$ev->getStartTime()|date:'j.n. H:i'} -> {$ev->getEndTime()|date:'j.n H:i'}"><a href="{plink Event:event, $ev->getWebName()}}" class="event-heading">{$ev->getCaption()}</a><span class="event-time text-muted float-right">{$ev->getStartTime()|date:'j.n. H:i'}</span></div>
                                </div>
                                <div n:class="row, mb-2, $ev->getInPast() ? evnt-past, $ev->getInPast() ? collapse">
                                    <div class="col">
                                        <div class="btn-group input-group px-0" role="group" aria-label="Basic example" id="action-{$ev->getId()}">
                                            <input type="text" class="form-control form-control-sm" title="{_note.note,1}" name="preStatusDesc" value="{$ev->getMyAttendance() ? $ev->getMyAttendance()->getPreDescription() : null}" />
                                            {foreach $eventTypes[$ev->getType()]->getPreStatusSet() as $preStatus}
                                                <button onclick="updateAttendance(this, {link attendance! $ev->getId(), $preStatus->getCode()})" class="btn btn-sm {$ev->getMyAttendance(),$ev->getType(),$preStatus->getCode(),$ev->getCanPlan(),$ev->getCloseTime()|prestatusClass}">{$preStatus->getCaption()}</button>
                                            {/foreach}
                                        </div>
                                    </div>
                                </div>
                            {/foreach}
                        {else}
                            {_event.noEvent}
                        {/if}
                    </div>
                </div>
                {php $actMonth=date('Y-m', strtotime($actMonth.' + 1 month'));}
            {/while}
        </div>
    </div>

</div>

