{import '../common.latte'}

{block navbar}
{control navbar}
{/block}

{block styles}
{include parent}
<link rel='stylesheet' href="{$basePath}/resources/fullcalendar/fullcalendar.css" />
{/block}
{block scripts}
{include parent}
<script src="{$basePath}/js/event.js"></script>
<script src="{$basePath}/resources/fullcalendar/fullcalendar.{$js}"></script>
<script src="{$basePath}/resources/fullcalendar/locale/cs.js"></script>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            locale: 'cs',
            height: 500,
            fixedWeekCount: false,
            events: function(start, end, timezone, callback) {
                var events = [];
                {foreach $events as $evnt}
                    events.push({l}id: {$evnt->id}, title: {$evnt->title},start: {$evnt->start},end: {$evnt->end},backgroundColor: {$evnt->backgroundColor},borderColor: {$evnt->borderColor},textColor: {$evnt->textColor},url: {plink 'Event:event', $evnt->webName}{r});
                {/foreach}
                callback(events);
            },
            header: {
                left: 'title',
                center: '',
                right: 'today month,basicWeek,basicDay prev,next'
            },
            viewRender: function () {
                loadAgenda({plink Event:});
            },
            loading: function (isLoading, view) {
                if (isLoading) {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', true);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', true);
                } else {
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-prev-button').prop('disabled', false);
                    $('#calendar DIV.fc-header-toolbar BUTTON.fc-next-button').prop('disabled', false);
                }
            }
        });
        $('#calendar DIV.fc-header-toolbar').addClass("card-header");
        $('#calendar DIV.fc-button-group').addClass("btn-group");
        $('#calendar DIV.fc-header-toolbar BUTTON').each(function () {
            $(this).addClass("btn btn-secondary");
        });
    });
</script>
{/block}

{block content}


<div class="container events">
    <div class="row">
        <div class="col-md-7 my-3">
            <div class="card sh-box" id='calendar'></div>
        </div>

        <div class="col-md-5 agenda-wrapper my-3" n:snippet="events">
            {var $actMonth=$agendaFrom}
            {while strtotime($actMonth)<=strtotime($agendaTo)}
                <div class="card sh-box agenda" data-month="{$actMonth}" style="display: none">
                    <div class="card-header">
                        <span class="mr-auto">Agenda</span>
                        <button class="btn btn-sm btn-secondary float-right" title="Zobrazit/skrýt již proběhlé akce" onclick="togglePast()"><i class="fa fa-eye" aria-hidden="true"></i></button>
                    </div>
                    <div class="card-block">
                        {if isset($evMonths[$actMonth]) && count($evMonths[$actMonth]) > 0 }
                            {foreach $evMonths[$actMonth] as $ev}
                                {var $past = strtotime($ev->closeTime) < strtotime(date('Ymd')) ? 'evnt-past collapse'}
                                
                                <div class="row {$past}">
                                    <div class="col" title=" {$ev->caption} ({$eventTypes[$ev->type]->caption})&#13;{$ev->startTime|date:'j.n. H:i'} -> {$ev->endTime|date:'j.n H:i'}"><a href="{plink Event:event, $ev->webName}}" class="event-heading">{$ev->caption}</a><span class="event-time text-muted float-right">{$ev->startTime|date:'j.n. H:i'}</span></div>
                                </div>
                                <div class="row mb-2 {$past}">
                                    <div class="col">
                                        <div class="btn-group input-group px-0" role="group" aria-label="Basic example" id="action-{$ev->id}">
                                            <input type="text" class="form-control form-control-sm" title="Poznámka" name="preStatusDesc" value="{$ev->myAttendance->preDescription}" />
                                            {foreach $eventTypes[$ev->type]->preStatusSet as $preStatus}
                                                <button onclick="updateAttendance(this, {link attendance! $ev->id, $preStatus->code})" class="btn btn-sm {$ev->myPreStatusCaption,$ev->myPostStatusCaption,$preStatus->code,$ev->closeTime|prestatusClass}">{$preStatus->caption}</button>
                                            {/foreach}
                                        </div>
                                    </div>
                                </div>
                            {/foreach}
                        {else}
                            Žádná událost
                        {/if}
                    </div>
                </div>
                {php $actMonth=date('Y-m', strtotime($actMonth.' + 1 month'));}
            {/while}
        </div>
    </div>

</div>

