{import '../common.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/Event/EventAttendanceSet.js"></script>
{/block}

{block content}
<div class="container event">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col"><h4 class="card-title">{$event->caption}</h4></div>
                        <div class="col col-md-auto" n:if="$user->isAllowed('SYS','EVE_UPDATE')">
                            <a class="btn btn-sm btn-light btn-light-bordered" title="Upravit" href="{plink Settings:events $event->webName}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    
                    {var $mapLink = filter_var($event->place, FILTER_VALIDATE_URL) ? $event->place : 'https://www.google.com/maps/search/?api=1&query='.urlencode($event->place)}
                    <h6 class="card-subtitle mb-2 text-muted">{$event->eventType->caption}<span n:if="$event->place"> - <a href="{$mapLink}" target="blank" title="Otevřít mapu...">{$event->place}</a></span><span n:if="$event->link"> - <a href="{$event->link}" target="_blank">[Odkaz]</a></span></h6>
                    <p class="card-text">{$event->description}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table mb-0">
                                <tr><th>Začátek:</th><td>{$event->startTime|date:'d.n.Y H:i'}</td></tr>
                                <tr><th>Konec:</th><td>{$event->endTime|date:'d.n.Y H:i'}</td></tr>
                                <tr><th>Uzávěrka:</th><td>{$event->closeTime|date:'d.n.Y H:i'}</td></tr>
                            </table>
                        </div>
                        <div class="col-md-8 d-flex flex-column-reverse align-items-center">
                            <div class=" custom-container btn-group input-group pb-2" role="group" aria-label="Basic example" id="action-{$event->id}">
                                <input type="text" class="form-control form-control-sm custom-btn-sm" title="Poznámka" name="preStatusDesc" value="{$event->myAttendance->preDescription}" />
                                {foreach $eventTypes[$event->type]->preStatusSet as $preStatus}
                                    <button onclick="updateAttendance(this, {link attendance! $event->id, $preStatus->code})" class="btn custom-btn-sm {$myPreStatusCaption,$myPostStatusCaption,$preStatus->code,$event->closeTime|prestatusClass}">{$preStatus->caption}</button>
                                {/foreach}
                            </div>
                            {snippet attendanceWarning}
                                <div class="alert alert-danger" n:if="$myPreStatusCaption == 'not-set'"><i class="fa fa-arrow-down" aria-hidden="true"></i> Nemáš vyplněnou docházku ! <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                            {/snippet}
                        </div>
                    </div>
                </div>
            </div>
  
            <div class="card sh-box my-3" n:snippet="attendanceTabs">
                {var $event->canResult = strtotime($event->closeTime) < date('U')} {*TEMP TODO TO BE REMOVED AFTER TAPI UPDATE*}
                <div class="card-header">
                    <ul class="nav nav-tabs flex-column flex-sm-row card-header-tabs" role="tablist">
                        {var $first = true}
                        {foreach $event->allUsers as $mainKey => $statusSet}
                            {foreach $event->allUsers[$mainKey] as $key => $status}
                                {if count($status)}
                                    {var $count = array_sum(array_map('count', $status))}
                                    {if $mainKey == 'PRE'}
                                        {var $caption = $key == 'UNKNOWN' ? 'Nerozhodnutí' : $eventTypes[$event->eventType->code]->preStatusSet[$key]->caption}
                                    {else}
                                        {var $caption = $key == 'YES' ? 'Přišli' : 'Nepřišli'}
                                    {/if}
                                    
                                    <li class="nav-item">
                                        <a n:class="flex-sm-fill, text-sm-center, nav-link, $first ? active" href="#{$caption|webalize}" data-toggle="tab" role="tab">{$caption} ({$count})</a>
                                    </li>
                                    {var $first = false}
                                {/if}
                            {/foreach}
                        {/foreach}
                    </ul>
                </div>

                <div class="card-body">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {var $first = true}
                        {foreach $event->allUsers as $mainKey => $statusSet}
                        {foreach $event->allUsers[$mainKey] as $key => $status}
                            {if count($status)}
                                    {if $mainKey == 'PRE'}
                                        {var $caption = $key == 'UNKNOWN' ? 'Nerozhodnutí' : $eventTypes[$event->eventType->code]->preStatusSet[$key]->caption}
                                    {else}
                                        {var $caption = $key == 'YES' ? 'Přišli' : 'Nepřišli'}
                                    {/if}
                                <div n:class="tab-pane, fade, $first ? show, $first ? active, player-list" id="{$caption|webalize}" role="tabpanel">
                                    <div n:if="count($usrs)>0" n:foreach="$status as $gender => $usrs" class="row my-2">
                                        <div class="col-2 player-heading">
                                            <h6 style="font-weight: bold">{$gender|genderTranslate} ({count($usrs)}):</h6>
                                            <div class="btn-group" role="group" aria-label="Attendance result ({$gender|genderTranslate})" n:if="$event->canResult">
                                                <button type="button" class="btn btn-sm btn-outline-danger" onclick="genderNCame(this)" title="NEPŘIŠLI"><i class="fa fa-window-close-o" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-sm btn-outline-success" onclick="genderCame(this)" title="PŘIŠLI"><i class="fa fa-check-square-o" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <figure n:foreach="$usrs as $usr" id="player-{$usr->id}" class="figure text-center player" style="width: 100px">
                                                <a href="{plink Team:player $usr->webName}">
                                                    <img src="{$tymyRoot}/{$usr->pictureUrl}" class="figure-img img-fluid rounded" alt="{$usr->callName}" />
                                                    <figcaption class="figure-caption">{$usr->callName}</figcaption>
                                                    <figcaption n:if="trim($usr->preDescription) != ''" class="figure-caption" style="font-size: 70%; display: inline-block">{$usr->preDescription}</figcaption>
                                                </a>
                                                <div class="btn-group result" role="group" aria-label="Attendance result" n:if="$event->canResult">
                                                    <button type="button" class="btn btn-sm btn-outline-danger" onclick="ncame(this)" title="NEPŘIŠEL"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                    <button type="button" class="btn btn-sm btn-outline-success" onclick="came(this)" title="PŘIŠEL"><i class="fa fa-check" aria-hidden="true"></i></button>
                                                </div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                {var $first = false}
                            {/if}
                        {/foreach}
                        {/foreach}
                    </div>
                </div>
                <div class="card-footer text-right" n:if="$event->canResult">
                    <button class="btn btn-lg btn-outline-primary update" onclick="saveAttendanceResults(this, {link attendanceResult! $event->id})" title="Uložit výslednou docházku"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                </div>
            </div>


        </div>
    </div>

</div>
