{import '../common.latte'}

{block navbar}
{control navbar}
{/block}

{block scripts}
{include parent}
<script src="{$basePath}/js/event.js"></script>
{/block}

{block content}

<div class="container event">
    <div class="row">
        <div class="col">
            <div class="card sh-box my-3">
                <div class="card-block">
                    <h4 class="card-title">{$event->caption}</h4>
                    {var $mapLink = filter_var($event->place, FILTER_VALIDATE_URL) ? $event->place : 'https://www.google.com/maps/search/?api=1&query='.urlencode($event->place)}
                    <h6 class="card-subtitle mb-2 text-muted">{$event->eventType->caption}<span n:if="$event->place"> - <a href="{$mapLink}" target="blank" title="Otevřít mapu...">{$event->place}</a></span><span n:if="$event->link"> - <a href="{$event->link}" target="_blank">[Odkaz]</a></span></h6>
                    <p class="card-text">{$event->description}</p>
                    <div class="row">
                        <div class="col-md-4">
                            <table class="table mb-0">
                                <tr><th>Začátek:</th><td>{$event->startTime|date:'d.n.Y H:i'}</td></tr>
                                <tr><th>Konec:</th><td>{$event->endTime|date:'d.n.Y H:i'}</td></tr>
                                <tr><th>Uzávěrka:</th><td>{$event->closeTime|date:'d.n.Y H:i'}</td></tr>
                            </table>
                        </div>
                        <div class="col-md-8 d-flex flex-column-reverse align-items-center">
                            <div class=" custom-container btn-group input-group pb-2" role="group" aria-label="Basic example" id="action-{$event->id}">
                                <input type="text" class="form-control form-control-sm custom-btn-sm" title="Poznámka" name="preStatusDesc" value="{$event->myAttendance->preDescription}" />
                                {foreach $eventTypes[$event->type]->preStatusSet as $preStatus}
                                    <button onclick="updateAttendance(this, {link attendance! $event->id, $preStatus->code})" class="btn custom-btn-sm {$myPreStatusCaption,$myPostStatusCaption,$preStatus->code,$event->closeTime|prestatusClass}">{$preStatus->caption}</button>
                                {/foreach}
                            </div>
                            {snippet attendanceWarning}
                                <div class="alert alert-danger" n:if="$myPreStatusCaption == 'not-set'"><i class="fa fa-arrow-down" aria-hidden="true"></i> Nemáš vyplněnou docházku ! <i class="fa fa-arrow-down" aria-hidden="true"></i></div>
                            {/snippet}
                        </div>
                    </div>
                </div>
            </div>

            <div class="card sh-box my-3" n:snippet="attendanceTabs">
                <div class="card-header">
                    <ul class="nav nav-tabs flex-column flex-sm-row card-header-tabs" role="tablist">
                        {var $first = true}
                        {foreach $event->allUsers as $key => $preStatus}
                            {ifset $preStatus}
                                {var $count = array_sum(array_map('count', $preStatus))}
                                {var $caption = $key == 'UNKNOWN' ? 'Nerozhodnutí' : $eventTypes[$event->eventType->code]->preStatusSet[$key]->caption}
                                <li class="nav-item">
                                    <a n:class="flex-sm-fill, text-sm-center, nav-link, $first ? active" href="#{$caption|webalize}" data-toggle="tab" role="tab">{$caption} ({$count})</a>
                                </li>
                                {var $first = false}
                            {/ifset}
                        {/foreach}
                    </ul>
                </div>

                <div class="card-block">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {var $first = true}
                        {foreach $event->allUsers as $key => $preStatus}
                            {ifset $preStatus}
                                {var $caption = $key == 'UNKNOWN' ? 'Nerozhodnutí' : $eventTypes[$event->eventType->code]->preStatusSet[$key]->caption}
                                <div n:class="tab-pane, fade, $first ? show, $first ? active, player-list" id="{$caption|webalize}" role="tabpanel">
                                    {foreach $preStatus as $gender => $usrs}
                                        {if count($usrs)>0}
                                            <div class="row my-2">
                                                <div class="col-2 player-heading"><h6 style="font-weight: bold">{$gender|genderTranslate} ({count($usrs)}):</h6></div>
                                                <div class="col-10">
                                                    {foreach $usrs as $usr}
                                                            <figure class="figure text-center" style="width: 100px">
                                                                <a href="{plink Team:player $usr->webName}">
                                                                    <img src="{$tymyRoot}/{$usr->pictureUrl}" class="figure-img img-fluid rounded" alt="{$usr->callName}" />
                                                                    <figcaption class="figure-caption">{$usr->callName}</figcaption>
                                                                    <figcaption class="figure-caption" style="font-size: 70%; display: inline-block">{$usr->preDescription}</figcaption>
                                                                </a>
                                                            </figure>
                                                    {/foreach}
                                                </div>
                                            </div>
                                        {/if}
                                    {/foreach}
                                </div>
                                {var $first = false}
                            {/ifset}
                        {/foreach}
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
