{block styles}
{include parent}
<link rel="stylesheet" href="{$basePath}/css/sign.pwdlost.css" />
{/block}

{block content}
<div class="pwdReset">
    <h6>Zadejte RESET kód :</h6>
    {control pwdResetForm}
</div>