{import 'loader.latte'}
{import 'localization.latte'}

{block scripts}
{include parent}
        <script src="{$publicPath}/js/main.js?ver={$appver}"></script>
        <script src="{$publicPath}/js/timer.js?ver={$appver}"></script>
{/block}
