{import '../components/unsecured.latte'}
{var $title = 'Login'}
{block content}
<div class="container">

    <div class="row justify-content-md-center">
        <div n:class="col-md-4,sh-box,bg-light,px-5,pb-5,pt-4,my-5,form-box">
            <h4 class="pb-3" style="color: #9f9f9f">{$team->getName()}</h4>
            {form signInForm}
                <fieldset>
                <div class="row">
                    <div class="col">{input name}</div>
                </div>
                <div class="row">
                    <div class="col">{input password}</div>
                </div>
                <div class="row">
                    <div class="col">{input send}</div>
                </div>
                <div class="row">
                    <div class="col-6"><a href="{plink Sign:up}">{_sign.register}</a></div>
                    <div class="col-6"><a href="{plink Sign:pwdlost}">{_sign.pwdLost}</a></div>
                </div>
                </fieldset>
            {/form}
        </div>
    </div>
</div>