/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.4.2017, 22:39:59
    Author     : matej
*/

body{
    text-align: center;
}

table{
    width: 100%;
}

INPUT, SELECT{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

INPUT[type='submit']{
    background: #ff5f49;
    color: white;
    cursor: pointer;
}

INPUT[type='submit']:hover {
    background: linear-gradient(to bottom right, #ff5f49, #d14836);
}

A{
    display: block;
    background: linear-gradient(to bottom right, #d0d0d0, #bbbbbb);
    color: white;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

A:hover{
    color: white;
    text-decoration: none;
    background: linear-gradient(to bottom right, #d0d0d0, #616161);
    
}