/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.4.2017, 22:39:59
    Author     : matej
*/

body{
    text-align: center;
}

div.register{
    max-width: 660px;
    margin: 50px auto auto auto;
    padding: 45px;
    background-color: white;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

div.register form th{
    vertical-align: inherit;
    padding-right: 10px;
}

table{
    width: 100%;
}

INPUT, SELECT{
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

INPUT[type='submit']{
    background: #ff5f49;
    color: white;
    cursor: pointer;
}

INPUT[type='submit']:hover {
    background: linear-gradient(to bottom right, #ff5f49, #d14836);
}

TEXTAREA {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}