body {
        font-family: 'Noto Sans', sans-serif;
	font-size: 15px;
	line-height: 1.6;
	color: #333;
	background: linear-gradient(to left, #d14836, #ff5f49);
        padding-top: 56px;
}

BUTTON.btn, A.btn{
    cursor: pointer;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

div.flash {
	color: black;
	background: #FFF9D7;
	border: 1px solid #E2C822;
	padding: 1em;
	margin: 1em 0;
}

div.flash.success{
    background: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}

a[href^="#error:"] {
	background: red;
	color: white;
}

form th, form td {
	vertical-align: top;
	font-weight: normal;
}

form th {
	text-align: right;
}

form .required label {
	font-weight: bold;
}

form .error {
	color: #D00;
	font-weight: bold;
}

@media (min-width: 979px) {
    nav .dropdown:hover > .dropdown-menu {
        margin: 0px;
        display: block;
    }
}

DIV.dis-item{
    margin: 10px;
    border: 1px solid black;
}

DIV.row DIV.avatar{
    padding: 0px;
}

DIV.discussion DIV.avatar IMG{
    max-width: 60%;
}

.sh-box{
    border-radius: 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

DIV.discussion DIV.card DIV.card-header SPAN.name{
    font-weight: bold;
}

DIV.discussion DIV.card-header.post-mine{
    color: #0275d8;
}

.card-unread{
    border: 1px solid green;
    color: green;
}

.card-unread .card-header{
    background-color: green;
}

IMG.user_pic{
    min-width: 40px;
    min-height: 50px;
}


DIV.discussion IMG.user_pic{
    float: left;
    margin: 0px 10px 10px 0px;
}

DIV.discussion DIV.card-block OL{
    display: inline-block;
}

DIV.page-caption{
    background-color: #8f8f8f;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

NAV LI.nav-item SPAN.navbar-text{
    padding-right: .5rem;
    padding-left: .5rem;
}

DIV.container.discussions DIV.name{
    font-weight: bold;
    font-size: 17px;
}

.breadcrumb{
    background: linear-gradient(#bcbcbc, white);
    padding: 0.25rem 1rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: 0px;
}

.card-header.MALE{
    font-weight: bold;
    color: #7193BD;
}

.card-header.FEMALE{
    font-weight: bold;
    color: violet;
}

.container.users .user{
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.badge-new{
    position: absolute;
    right: 0px;
}

.addPost{
    background-color: white; 
    padding: 2px; 
    text-align: right; 
    border: 1px solid #d1d1d1; 
    border-top-width: 0px;
}

.addPost[data-postId=''] BUTTON#editPost{
    display: none;
}

I.sticky{
    background-color: red;
}

DIV.container.events DIV.agenda DIV.card-block{
    font-size: 10pt;
}
DIV.container.events DIV.agenda SPAN.event-time{
    font-size: 0.8rem;
}
DIV.container.events DIV.agenda A.event-heading{
    font-size: 0.9rem;
    margin-left: 8px;
    font-weight: bold;
}

DIV.container.discussion DIV.row DIV.card-block blockquote{
    margin: 10px;
    border-left: solid 5px #dedede;
    padding: 10px;
    font-style: italic;
}

DIV.container.discussion DIV.row DIV.card-block blockquote P{
    margin: 0px;
}

DIV.container.poll DIV.row DIV.card-block DIV.option{
    text-align: center;
}

DIV.container.poll DIV.row DIV.card-block DIV.option:hover{
    background-color: rgb(247, 247, 249);
    transition: background-color 500ms linear;
}

DIV.homepage .fc h2 {
   font-size: 20px;
}

DIV.homepage .fc .fc-day-number {
   font-size: 7pt;
}

body .fc { 
   font-size: 0.9em;
}

DIV.homepage DIV.dis-description{
    font-size: 0.83em;
}

DIV.poll TR[data-vote] A{
    color: rgb(129, 191, 245);
}

DIV.poll TR[data-vote] A:hover{
    color: white;
}

@media screen and (max-width: 544px) {
    DIV.custom-container{
        flex-direction: column;
    }
    
    .custom-btn-sm{
        width: 100% !important;
        display: block !important;
    }
    INPUT.custom-btn-sm{
        border-radius: 0.2rem !important;
        height: 36px !important;
    }
    BUTTON.custom-btn-sm{
        border-radius: 0.25rem !important;
    }
}

INPUT.form-check{
    width: 25px;
    height: 25px;
}

SPAN.badge.hidden-badge{
    display: none;
}
